<lib-hlsLinks [links]="links" [page]="page" [topText]="topText" [bottomText]="bottomText" [number]="number"
  [backButton]="backButton" (selectAllAction)="selectAllActionClicked()"
  (deSelectAllAction)="deSelectAllActionClicked()" (seenAction)="seenActionClicked()"
  (seenAllAction)="seenAllActionClicked()" (importantAction)="importantActionClicked()"
  (deleteAction)="deleteActionClicked()" (sendEvent)="displaySendAction()" (archieveAction)="archieveActionClicked()"
  (filterAction)="filterActionClicked($event)"></lib-hlsLinks>
<lib-hlsMessagingList [list]="filtredItemList" [isSent]="true" (archieveAction)="archieveMessage($event)"
  (cardAction)="cardClicked($event)" [imageSource]="imageSource"></lib-hlsMessagingList>
<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
  <div class="text-center" type="notificationData.type">
    <i class="fa fa-check" style="font-size: 11px;" aria-hidden="true"></i>
    &nbsp;<span>{{ notificationData.message }}</span>
  </div>
</ng-template>
