<div class="register-container">
  <div class="card responsive-register">
    <div class="card-body">
      <img
        id="helssy-logo"
        class="logo"
        src="assets/imgs/helssy_bleu_long.svg"
        alt="Helssy"
      />
      <div class="hls-connexion">
        <lib-hls-reset-password
          [errorMessage]="errorMessage"
          [successMessage]="successMessage"
          (submitAction)="submit($event)"
        ></lib-hls-reset-password>
      </div>
      <div class="links row">
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  ">
          {{ messages.new_account }}
          <a class="pink" (click)="signupAction()">{{ messages.register }}</a>
        </p>
        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  ">
          {{ messages.new_patient_registration }}
          <a class="blue" [href]="url.patient_connexion">{{
            messages.connexion
          }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
