<div class="bg-image">
  <div class="container-fluid my-container">
    <div class="row">
      <div class="col">
        <br /><br />
        <div class="card-body">
          <img
            id="helssy-logo"
            src="assets/imgs/helssy_bleu_long.svg"
            alt="Helssy"
          />
          <div class="hls-connexion">
            <lib-hls-reset-password
              [errorMessage]="errorMessage"
              [successMessage]="successMessage"
              [page]="'reset-practicien'"
              (submitAction)="submit($event)"
              (redirectPracticienLogin)="logoAction()"
            ></lib-hls-reset-password>
            <div class="container d-none d-lg-flex">
              <div class="row">
                <div class="col-3 custom-dimensions">
                  <div class="card custom-height-card">
                    <div class="card-body custom_card">
                      <img
                        class="center-img"
                        src="assets/imgs/hebergement_image1.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3 custom-dimensions">
                  <div class="card custom-height-card">
                    <div class="card-body custom_card">
                      <img
                        class="center-img"
                        src="assets/imgs/hebergement_image2.jpg"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3 custom-dimensions">
                  <div class="card custom-height-card">
                    <div class="card-body custom_card">
                      <img
                        class="center-img"
                        src="assets/imgs/hebergement_image3.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3 custom-dimensions">
                  <div class="card custom-height-card">
                    <div class="card-body custom_card">
                      <img
                        class="center-img"
                        src="assets/imgs/hebergement_image4.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="copyrights mt-3">
              Copyright 2020 Helssy - Tous droits réservés -
              <a href="https://helssy-test.aymax.fr/cgu/" target="_blank">
                Mentions légales
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer col-md-12 mt-custom-100 display-lg">
        <div class="row mt-custom-50">
          <div
            class="col-md-1 ml-custom-footer ml-custom-50 custom-footer-width"
          >
            <img
              class="mb-2 custom-width-img"
              src="assets/imgs/helssy_bleu_long.svg"
            />
            <p class="font-footer-custom link-footer">
              Obtenez des réponses à vos questions gratuitement & sans vous
              déplacer. <span class="bold-montserrat-font">Helssy.io</span>,
              c’est votre messagerie médicale 100% sécurisée.
            </p>
          </div>
          <div class="col-md-1 ml-custom-50">
            <p class="title-footer text-center">Navigation</p>
            <p
              class="link-footer"
              (click)="redirectToPracticien()"
            >
              Accès PRO
            </p>
            <p
              class="link-footer"
              (click)="redirectToPatient()"
            >
              Accès patient
            </p>
            <p class="link-footer" (click)="redirectToSiteMap()" >Plan du site</p>
          </div>
          <div class="col-md-1 ml-custom-50">
            <p class="title-footer text-center">Liens utiles</p>
            <p class="link-footer" (click)="redirectToWhoAreWe()">Qui sommes-nous</p>
            <p class="link-footer"(click)="redirectToOurSolution()">Notre solution</p>
            <p class="link-footer"(click)="redirectToOurBlog()">Blog</p>
          </div>
          <div class="col-md-1 ml-custom-50">
            <p class="title-footer text-center">Des Questions</p>
            <p class="link-footer"(click)="redirectToContact()">Nous contacter</p>
          </div>
          <div class="col-md-1 stores">
            <a href="{{this.globalService.APPSTORE_SITE}}"><img src="assets/imgs/appStoreLogo.png"   /></a>

            <a href="{{this.globalService.PLAYSTORE_SITE}}"><img src="assets/imgs/playStore.png" /></a>
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
