<div class="bg-image">
  <div class="container-fluid my-container">
    <div class="row">
      <div class="col">
        <br /><br />
        <div class="card-body">
          <img
            id="helssy-logo"
            src="assets/imgs/helssy_bleu_long.svg"
            alt="Helssy"
          />
          <div class="hls-connexion">
            <lib-hls-reset-password
              [errorMessage]="errorMessage"
              [successMessage]="successMessage"
              [page]="'reset-practicien'"
              (submitAction)="submit($event)"
              (redirectPracticienLogin)="logoAction()"
            ></lib-hls-reset-password>
            <div class="container d-none d-lg-flex">
              <div class="row">
                <div class="col-3 custom-dimensions">
                  <div class="card custom-height-card">
                    <div class="card-body custom_card">
                      <img
                        class="center-img"
                        src="assets/imgs/hebergement_image1.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3 custom-dimensions">
                  <div class="card custom-height-card">
                    <div class="card-body custom_card">
                      <img
                        class="center-img"
                        src="assets/imgs/hebergement_image2.jpg"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3 custom-dimensions">
                  <div class="card custom-height-card">
                    <div class="card-body custom_card">
                      <img
                        class="center-img"
                        src="assets/imgs/hebergement_image3.png"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-3 custom-dimensions">
                  <div class="card custom-height-card">
                    <div class="card-body custom_card">
                      <img
                        class="center-img"
                        src="assets/imgs/hebergement_image4.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="copyrights mt-3">
              Copyright 2020 Helssy - Tous droits réservés -
              <a href="https://helssy-test.aymax.fr/cgu/" target="_blank">
                Mentions légales
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
