$color-helssy-pink: #ff0063;
$color-helssy-blue: #1a56a7;
$color-hlessy-grey: #707070;
$color-helssy-white: #ffffff;

/* Begin Background image in large screen */

#helssy-logo {
  display: block;
  cursor: pointer;
  height: 50px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* End Logo CSS */

/* Begin Content  CSS */
.card {
  border: 0px;
  opacity: 1;
  width: 100% !important;
  height: 100% !important;
}
.bg-image {
  background: url("assets/imgs/background_login.svg");
  overflow-y: auto;
  background-color: white !important;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  background-position-x: -150px;
  background-position-y: 100%;
}

.card-body {
  border: 0px;
  opacity: 1;
  width: 100% !important;
  height: 100% !important;
}
.hls-connexion {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 563px;
}

@media (max-width: 417px) {
  .card-body {
    padding: 0;
  }
}

@media (max-width: 493px) {
  .card-body {
    padding: 0;
  }
}


//@media (max-width: 399px) {
//  .hls-connexion {
//    margin-left: 0%;
//    margin-top: 50px;
//  }
//}
//
//@media (min-width: 400px) {
//  .hls-connexion {
//    margin-left: 5%;
//    margin-top: 50px;
//  }
//}
//
//@media (min-width: 700px) and (orientation: portrait) {
//  .hls-connexion {
//    margin-left: 20%;
//    margin-right: 20%;
//    margin-top: 50px;
//  }
//  .links {
//    margin-left: 0%;
//    margin-right: 5%;
//  }
//}
//
//@media (max-width: 798px) and (orientation: landscape) {
//  .hls-connexion {
//    margin-top: 70px;
//    margin-left: 15%;
//    margin-right: 15%;
//  }
//  .links {
//    margin-left: 0%;
//    margin-right: 5%;
//  }
//}
//@media (min-width: 799px) and (orientation: landscape) {
//  .hls-connexion {
//    margin-top: 70px;
//    margin-left: 30%;
//    margin-right: 20%;
//  }
//  .links {
//    margin-left: 10%;
//    margin-right: 5%;
//  }
//}
/* End Content CSS */

/* Begin Links CSS */
p {
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 25px;
  letter-spacing: 0;
  color: $color-hlessy-grey;
}

a {
color: #203C66;
}
a.pink {
  color: $color-helssy-pink;
}
a.blue {
  color: $color-helssy-blue;
}
a:visited {
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

/* End Links CSS */

@media (max-width: 800px) {
  .left-col {
    display: none;
  }
}

.center-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 66px;
}

.custom-card {
  float: right;
  margin-top: 60px;
  opacity: 1;
  border: none;
  width: 45% !important;
  min-height: 100% !important;
  background-color: unset;
}

.custom-height-card {
  height: 180px;
  box-shadow: 0px 0px 30px #89CCDD33;
  border-radius: 17px;
  opacity: 1;
}
.custom-dimensions {
  height: 101px;
  width: 139px;
}

.copyrights {
  font-family: "Montserrat";
  font-size: 10px;
  text-align: center;
  color: #203C66;
}
