<br />
<div class="card">
    <br />
    <div class="row">
        <div class="col-md-10">
            <div class="form-group title">
                <hr width="3%" color="#ff0063" align="left" />
                <i class="far fa-user-md"><span>&nbsp;&nbsp;{{ labels.my_contacts }}</span></i>
            </div>
        </div>
        <a class="inline col-md-1">
            <i class="far fa-plus"></i><br /><span>Ajouter</span>
        </a>
    </div>
    <br />
    <lib-hlsMessagingList [isCheckbox]="false" [list]="itemsList" [imageSource]="imageSource"
        (cardAction)="cardClicked($event)" (detailAction)="cardClicked($event)" (archieveAction)="delete($event)">
    </lib-hlsMessagingList>