<lib-hlsNavBar
  [fullName]="fullName"
  [imageSource]="featuresService.imageSource"
  [search]="text"
  [city]="city"
  (accountButton)="openAccountInterface()"
  (signOut)="signOutAction()"
  (searchAction)="searchActionClicked($event)"
  [listNotifications]="featuresService.listNotifications"
  (notificationsOpened)="openNotifications()"
  (notificationSelected)="selectNotification($event)"
  (logoAction)="logoClicked()"
></lib-hlsNavBar>
<lib-hlsSideBar
  [practicianInbox]="myPracticians"
  (practicianInboxEvent)="displayInboxOfPracticiansAction($event)"
  [inboxNumber]="featuresService.numberOfInbox"
  [archieveNumber]="featuresService.numberOfArchieve"
  [acceptedNumber]="featuresService.numberOfAccepted"
  [pendingNumber]="numberOfPending"
  [prohibitNumber]="featuresService.numberOfProhibited"
  [role]="role"
  (collapsedEvent)="receiveCollapsed($event)"
  (inboxEvent)="displayInboxAction()"
  (sendEvent)="displaySendAction()"
  (sentEvent)="displaySentAction()"
  (archieveEvent)="displayArchieveAction()"
  (myPatientsEvent)="displayMyPatientsAction($event)"
  (myProContactsEvent)="displayMyMedicalsAction()"
  (myMedicalsEvent)="displayMyProContactsAction()"
  (myDocumentsEvent)="displayMyDocumentsAction()"
  (helpEvent)="displayHelpAction()"
></lib-hlsSideBar>
<section class="main-container" [ngClass]="{ collapsed: collapedSideBar }">
  <!-- components will be implemented here -->
  <router-outlet></router-outlet>
</section>
