<lib-hlsNavBar
  [fullName]="featuresService.fullName"
  [imageSource]="featuresService.imageSource"
  [activatedSearch]="featuresService.activeChild"
  (accountButton)="openAccountInterface()"
  (signOut)="signOutAction()"
  (searchAction)="searchActionClicked($event)"
  [listNotifications]="featuresService.listNotifications"
  (notificationsOpened)="openNotifications()"
  (notificationClosed)="closeNotification()"
  (notificationSelected)="selectNotification($event)"
  (logoAction)="logoClicked()"
  (resetSearchInputAction)="resetInputs()"
></lib-hlsNavBar>
<lib-hlsSideBar
  [practicianInbox]="myPracticians"
  (practicianInboxEvent)="displayInboxOfPracticiansAction($event)"
  [inboxNumber]="inboxNumber"
  [forwardedNumber]="featuresService.numberOfForwarded"
  [archieveNumber]="featuresService.numberOfArchieve"
  [acceptedNumber]="featuresService.numberOfAccepted"
  [pendingNumber]="numberOfPending"
  [prohibitNumber]="featuresService.numberOfProhibited"
  [archivedNumber]="featuresService.numberOfArchivedPatient"
  [role]="role"
  (inboxEvent)="displayInboxAction()"
  (sendEvent)="displaySendAction()"
  (sentEvent)="displaySentAction()"
  (forwardedEvent)="displayForwardedAction()"
  (archieveEvent)="displayArchieveAction()"
  (myPatientsEvent)="displayMyPatientsAction($event)"
  (myProContactsEvent)="displayMyMedicalsAction()"
  (myMedicalsEvent)="displayMyProContactsAction()"
  (myDocumentsEvent)="displayMyDocumentsAction()"
  (helpEvent)="displayHelpAction()"
  (addPatientEvent)="addPatient()"
></lib-hlsSideBar>
<section class="main-container" [ngClass]="{ collapsed: collapedSideBar }">
  <!-- components will be implemented here -->
  <router-outlet></router-outlet>
  <app-new-message-mobile *ngIf="messaging === true"></app-new-message-mobile>
</section>
