::ng-deep #messaging-detail {
  margin-bottom: 104px;
}
.form-control {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #eaeaea;
  opacity: 1;
  width: 100%;
}
@media (min-width: 1000px) {
  .padd-right {
    margin-right: -200px;
  }
}

@media (min-width: 1366px) {
  .padd-right {
    margin-right: -430px;
  }
}
@media (min-width: 1920px) {
  .padd-right {
    margin-right: -550px;
  }
}

.fa-search {
  background: #ffffff no-repeat scroll 7px 7px;
  margin-left: -33px;
  cursor: pointer;
  text-align: left;
  font-weight: normal;
  letter-spacing: -0.75px;
  color: #acb6c3;
  opacity: 1;
}

::placeholder {
  text-align: left;
  font-style: Italic;
  letter-spacing: -0.53px;
  color: #acb6c3;
  opacity: 1;
}
