<div class="form-inline">
  <div class="col-md-5">
    <lib-hls-generic-list-links
      [links]="links"
      [page]="page"
      [topText]="topText"
      [bottomText]="bottomText"
      [number]="number"
      [addText]="addText"
      [types]="mesCategories"
      (addAction)="addPatient()"
      (typeAction)="listFilter($event)"
    ></lib-hls-generic-list-links>
    <lib-hls-generic-list
      [isCheckbox]="false"
      [list]="filtredPatients"
      [imageSource]="imageSource"
      [isInvitationPending]="isInvitation"
      [isMyPatients]="isMyPatients"
      (markAsSeenAction)="writeAction($event)"
      (writeAction)="writeAction($event)"
      (prohibitAction)="prohibitAction($event)"
      (editAction)="editAction($event)"
      (deleteAction)="deleteAction($event)"
      (authorizedAction)="authorizeAction($event)"
      (acceptedAction)="acceptedAction($event)"
      (refuseAction)="refuseAction($event)"
      (archivedAction)="archivedAction($event)"
      (activatedAction)="activatedAction($event)"
      (cardAction)="cardClicked($event)"
      (upSortAction)="upSortClicked()"
      (downSortAction)="downSortClicked()"
      [hasPaging]="true"
    ></lib-hls-generic-list>
  </div>
  <div class="col-md-7"></div>
</div>

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
<mat-progress-spinner
  *ngIf="scroll"
  diameter="20"
  mode="indeterminate"
  value="100"
>
</mat-progress-spinner>
