<div class="form-inline col-md-12">
  <lib-hlsLinks
    class="col-md-5 col-8"
    [page]="page"
    [topText]="topText"
    [bottomText]="bottomText"
    [number]="number"
  ></lib-hlsLinks>
  <!-- ========= Mobile Block ============ -->
  <form *ngIf="section =='accepted' " class="col-4 show-mobile mt-5"
        [formGroup]="filterPatientsForm"
  >
    <select
      id="documentType"
      class="form-control"
      formControlName="category"
      (change)="filter()"
    >
      <option [value]="''"> Catégories</option>
      <option *ngFor="let item of mesCategories" [value]="item.id">{{
        item.name
        }}</option>
    </select>
  </form>
  <!-- =================================== -->
  <div class="col-md-5 form-inline col-12 xs-pd-r-unset">
    <form [formGroup]="searchForm" class="form-inline col-12 col-md-12 xs-pd-lr-unset">
      <div class="col-md-12 xs-pd-r-unset">
        <input
          tabindex="1"
          id="patients"
          placeholder="Nom, prénom"
          formControlName="search"
          type="text"
          class="form-control"
          (change)="searchActionClicked()"
          [(ngModel)]="valueSearch"
          (focusin)="onFocusInputSearch(true)"
          (focusout)="onFocusInputSearch(false)"
        />
        <span>
        <i (click)="searchActionClicked()" class="fa fa-search custom-search-style"  [ngClass]="valueSearchSelected && valueSearch? 'm-r-70' : ''"></i>
      </span>
      </div>

    </form>
  </div>
  <form *ngIf="section =='accepted' " class="col-md-2 hide-mobile"
  [formGroup]="filterPatientsForm"
>
  <select
    id="documentType"
    class="form-control"
    formControlName="category"
    (change)="filter()"
  >
    <option [value]="''"> Catégories</option>
    <option *ngFor="let item of mesCategories" [value]="item.id">{{
      item.name
    }}</option>
  </select>
</form>



</div>
<br />
<lib-hlsMessagingList
  [isCheckbox]="false"
  [list]="filtredPatients"
  [imageSource]="imageSource"
  [isInvitationPending]="isInvitation"
  [isMyPatients]="isMyPatients"
  (markAsSeenAction)="writeAction($event)"
  (writeAction)="writeAction($event)"
  (prohibitAction)="prohibitAction($event)"
  (editAction)="editAction($event)"
  (deleteAction)="deleteAction($event)"
  (authorizedAction)="authorizeAction($event)"
  (acceptedAction)="acceptedAction($event)"
  (refuseAction)="refuseAction($event)"
  (archivedAction)="archivedAction($event)"
  (activatedAction)="activatedAction($event)"
  (cardAction)="cardClicked($event)"
  (upSortAction)="upSortClicked()"
  (downSortAction)="downSortClicked()"
  [hasPaging]="true"
></lib-hlsMessagingList>

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
<mat-progress-spinner
  *ngIf="scroll"
  diameter="20"
  mode="indeterminate"
  value="100"
>
</mat-progress-spinner>
