.form-control {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #eaeaea;
  opacity: 1;
  width: 100%;
}
@media (min-width: 1000px) {
  .padd-right {
    margin-right: -200px;
  }
}

@media (min-width: 1366px) {
  .padd-right {
    margin-right: -430px;
  }
}
@media (min-width: 1920px) {
  .padd-right {
    margin-right: -550px;
  }
}

@media only screen and (max-width: 500px) {
  .show-mobile {
    padding-right: unset;
    padding-left: unset;
  }
  #documentType {
    width: 200%;
  }

  .xs-pd-r-unset {
    padding-right: unset;
  }
}

@media only screen and (max-width: 769px) {
  .show-mobile {
    display: flex;
  }
  .hide-mobile {
    display: none;
  }
  .xs-pd-lr-unset {
    padding-right: unset;
    padding-left: unset;
  }
}

@media only screen and (min-width: 768px) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: flex;
  }
}

.custom-search-style {
  float: right;
  margin-right: 15px;
  margin-top: -24px;
  position: relative;
  z-index: 2;
  color: red;
}

.fa-search {
  cursor: pointer;
  font-weight: normal;
  letter-spacing: -0.75px;
  color: #acb6c3;
  opacity: 1;
  text-align: left;
}
::placeholder {
  text-align: left;
  font-style: Italic;
  letter-spacing: -0.53px;
  color: #acb6c3;
  opacity: 1;
}

::ng-deep .e-input-group:not(.e-success):not(.e-warning):not(.e-error),
.e-input-group.e-control-wrapper {
  border: none;
  outline: none;
}

::ng-deep .e-input-focus {
   padding-right: 0 !important;
}

.form-inline .form-control {
  display: inline-block !important;
  width: 100%;
  vertical-align: middle !important;
}
.form-control:focus {
  color: #495057 !important;
  border-color: #80bdff !important;
  outline: 0 !important;
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #f1f1f1;
  margin-left: -15px;
}
