<div class="form-inline col-md-12">
  <lib-hlsLinks
    class="col-md-6 padd-right"
    [page]="page"
    [topText]="topText"
    [bottomText]="bottomText"
    [number]="number"
  ></lib-hlsLinks>
  <div class="col-md-5">
    <input
      [(ngModel)]="search"
      placeholder="Nom, prénom"
      type="text"
      class="form-control"
    /><i (click)="searchAction(search)" class="fa fa-search"></i>
  </div>
</div>
<br />
<lib-hlsMessagingList
  [isCheckbox]="false"
  [list]="filtredPatients"
  [imageSource]="imageSource"
  [isInvitationPending]="isInvitation"
  [isMyPatients]="isMyPatients"
  (markAsSeenAction)="writeAction($event)"
  (writeAction)="writeAction($event)"
  (prohibitAction)="prohibitAction($event)"
  (editAction)="editAction($event)"
  (deleteAction)="deleteAction($event)"
  (authorizedAction)="authorizeAction($event)"
  (acceptedAction)="acceptedAction($event)"
  (refuseAction)="refuseAction($event)"
  (archivedAction)="archivedAction($event)"
  (activatedAction)="activatedAction($event)"
  (cardAction)="cardClicked($event)"
></lib-hlsMessagingList>
