.form-control {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #eaeaea;
  opacity: 1;
  width: 100%;
}
@media (min-width: 1000px) {
  .padd-right {
    margin-right: -200px;
  }
}

@media (min-width: 1366px) {
  .padd-right {
    margin-right: -430px;
  }
}
@media (min-width: 1920px) {
  .padd-right {
    margin-right: -550px;
  }
}

.fa-search {
  cursor: pointer;
  margin-left: -55px;
  font-weight: normal;
  letter-spacing: -0.75px;
  color: #acb6c3;
  opacity: 1;
  text-align: left;
}
::placeholder {
  text-align: left;
  font-style: Italic;
  letter-spacing: -0.53px;
  color: #acb6c3;
  opacity: 1;
}
::ng-deep .e-input-focus {
  padding-right: 22px;
}
