<br />
<div class="card">
  <br />
  <div class="col-md-12">
    <div class="form-group title">
      <hr width="3%" color="#ff0063" align="left" />
      <i class="far fa-user-cog"
        ><span>&nbsp;&nbsp;{{ messages.tele_secretariat_tab }}</span></i
      >
    </div>
  </div>
  <br />
  <div>
    <div class="card-body">
      <div class="col-sm-12 image-container d-md-none text-center mb-3">
        <img
          [src]="image ? image : 'assets/imgs/etablissement.svg'"
          alt="Profile"
          class="avatar image"
          [ngClass]="{ 'border-avatar': !hasImage }"
        />
      </div>
      <form [formGroup]="infoForm" #f="ngForm">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label
                  for="title"
                  class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                  >{{ messages.last_name }}</label
                >
                <div class="col-sm-9 col-md-8 col-lg-9">
                  <input
                    type="text"
                    formControlName="title"
                    class="form-control"
                    id="title"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="resp"
                  class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                  >{{ messages.resp }}</label
                >
                <div class="col-sm-9 col-md-8 col-lg-9">
                  <input
                    type="text"
                    formControlName="resp"
                    class="form-control"
                    id="resp"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="address"
                  class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                  >{{ messages._address }}</label
                >
                <div class="col-sm-9 col-md-8 col-lg-9">
                  <input
                    type="text"
                    formControlName="address"
                    class="form-control"
                    id="address"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="additionalAddress"
                  class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                  >{{ messages.add_address }}</label
                >
                <div class="col-sm-9 col-md-8 col-lg-9">
                  <input
                    type="text"
                    formControlName="additionalAddress"
                    class="form-control"
                    id="additionalAddress"
                  />
                </div>
              </div>
            </div>
            <div class="col d-none d-md-flex">
              <div class="col-sm-2 col-md-2 image-container">
                <img
                  [src]="image ? image : 'assets/imgs/etablissement.svg'"
                  alt="Profile"
                  class="avatar image"
                  [ngClass]="{ 'border-avatar': !hasImage }"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md">
              <div class="form-group row">
                <label for="postal" class="col-sm-3 col-form-label">{{
                  messages._zip_code
                }}</label>
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <input
                            type="text"
                            formControlName="zipCode"
                            class="form-control"
                            id="postal"
                          />
                        </div>
                      </div>
                    </div>
                    <label for="ville" class="col-md-3 col-form-label">{{
                      messages._city
                    }}</label>
                    <div class="col">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <input
                            type="text"
                            formControlName="city"
                            class="form-control"
                            id="ville"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="email"
                  class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                  >{{ messages._email_address }}</label
                >
                <div class="col-sm-9 col-md-8 col-lg-9">
                  <input
                    type="text"
                    formControlName="email"
                    class="form-control"
                    id="email"
                  />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group row">
                <label
                  for="phoneNumber"
                  class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                  >{{ messages._phone }}</label
                >
                <div class="col-sm-9 col-md-8 col-lg-9">
                  <international-phone-number
                    class="form-control disabled phone"
                    id="phoneNumber"
                    formControlName="phoneNumber"
                    placeholder="Téléphone"
                  >
                  </international-phone-number>
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="website"
                  class="col-sm-3 col-md-4 col-lg-3 col-form-label"
                  >{{ messages.website }}</label
                >
                <div class="col-sm-9 col-md-8 col-lg-9">
                  <input
                    type="text"
                    formControlName="website"
                    class="form-control"
                    id="website"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </form>
    </div>
  </div>
</div>
