$hlessy-dark-grey: #344448;
$hlessy-blue: #2460b4;
$helssy_white: #ffffff;
/* Informations */
.Rectangle-body {
  background-color: rgba(243, 243, 243, 0.5);
  border-radius: 14px;
  min-height: 946px;
  margin-left: 50px;
  margin-right: 50px;
}
.Rectangle-inner-body {
  background-color: rgba(243, 243, 243, 0.5);
  padding-left: 100px;
  padding-right: 100px;
}
/* Form */
.custom-select, .form-control{
  border-radius: 6px;
  background-color:$helssy_white;
  border-color:$helssy_white;;
}
// Image CSS
.image-container {
  width: 100%;
  height: auto;
  .image {
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
}
.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle, .image-container:hover .middle-attached {
  opacity: 1;
}
.profile-picture{
  width: 126px;
  height: 126px;
  border-radius: 50%;
}
.border-avatar {
  border-color: $helssy_white;
}
/* Form */
.custom-select, .form-control{
  border-radius: 6px;
  background-color:$helssy_white;
  border-color:$helssy_white;;
}
.col-form-label{
  font-family: "Montserrat-Medium";
  font-size: 12px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  text-align: left;
  color: #4a4a4a;
}
      
      ::ng-deep {
        international-phone-number.form-control.disabled {
          pointer-events : none;
          border-color: $helssy_white;
          background-color: $helssy_white;
        }
        international-phone-number button.dropbtn.btn{
          pointer-events : none;
          border-color: $helssy_white;
          background-color: $helssy_white;
        }
      }
      ::ng-deep {
        international-phone-number .form-control {
              height: 30px !important;
              border-color:$helssy_white;
              background-color:$helssy_white;
            }
            international-phone-number .dropdown button.dropbtn.btn,  button.dropbtn.btn:hover{
                border-color: $helssy_white;
                background-color: $helssy_white;
                padding: 4px !important;
                height: 30px !important;
            }
            international-phone-number .dropdown button.dropbtn.btn .arrow-down {
              border-bottom:$helssy_white;
            }
            international-phone-number button.dropbtn.btn{
              pointer-events : unset!important;
        }
            }