<div class="card-body Rectangle-body">
  <br>
  <div class="row justify-content-center">
    <div class="col-sm-2 col-md-2 image-container">
      <img id="tls-image" [src]="image ? image : 'assets/imgs/etablissement.svg'" alt="Profile" class="profile-picture"
        [ngClass]="{ 'border-avatar': !hasImage }" />
    </div>
  </div>
  <div class="card-body Rectangle-inner-body">
    <form [formGroup]="infoForm" #f="ngForm">
      <div class="row">
        <!-- name -->
        <div class="col col-12 col-sm-6">
          <div class="col-12 col-sm-12 col-form-label">{{ labels.last_name}}</div>
          <div class="col-12 col-sm-12">
            <input type="text" formControlName="title" class="form-control" id="title" />
          </div>
        </div>
        <!-- Responsible -->
        <div class="col col-12 col-sm-6">
          <div class="col-12 col-form-label">{{messages.resp }}</div>
          <div class="col-12">
            <input type="text" formControlName="resp" class="form-control" id="resp" />
          </div>
        </div>
      </div>
      <br>
      <!-- Address -->
      <div class="row">
        <div class="col">
          <div class="col-12 col-form-label">{{ messages._address }}</div>
          <div class="col-12">
            <input type="text" formControlName="address" class="form-control" id="address" />
          </div>
        </div>
      </div>
      <br>
      <!-- Additional Address -->
      <div class="row">
        <div class="col">
          <div class="col-12 col-form-label">{{messages.add_address }}</div>
          <div class="col-12">
            <input type="text" formControlName="additionalAddress" class="form-control" id="additionalAddress" />
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <!-- Zipcode -->
        <div class="col-12 col-sm-3">
          <div class="col-12 col-form-label">{{ messages._zip_code}}</div>
          <div class="col-12">
            <input type="text" formControlName="zipCode" class="form-control" id="postal" />
          </div>
        </div>
        <!-- City -->
        <div class="col-12 col-sm-8">
          <div class="col-12 col-form-label">{{messages._city}}</div>
          <div class="col-12 col-sm-10">
            <input type="text" formControlName="city" class="form-control" id="City" />
          </div>
        </div>
      </div>
      <br>
      <!-- Phone number -->
      <div class="row">
        <div class="col col-12">
          <div class=" col-12 col-form-label">{{ messages._phone}}</div>
          <div class="col-12 row">
            <div class="col-10 col-sm-10">
              <international-phone-number class="form-control disabled phone" id="phoneNumber"
                formControlName="phoneNumber" placeholder="Téléphone">
              </international-phone-number>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- Email -->
      <div class="row">
        <div class="col col-12">
          <div class=" col-12 col-form-label">{{messages._email_address}}</div>
          <div class="col-12 row">
            <div class="col-12 col-sm-12 col-md-10">
              <input type="text" formControlName="email" class="form-control" id="email" />
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- Website -->
      <div class="row">
        <div class="col col-12">
          <div class=" col-12 col-form-label">{{messages.website}}</div>
          <div class="col-12 row">
            <div class="col-12 col-sm-12 col-md-10">
              <input type="text" formControlName="website" class="form-control" id="website" />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>