<div class="row">
  <div class="col-md-5">
    <lib-hls-generic-list-links
      [links]="links"
      [types]="types"
      [topText]="topText"
      [addText]="addText"
      [page]="page"
      [number]="number"
      (addAction)="addContact()"
      (typeAction)="listFilter($event)"
    >
    </lib-hls-generic-list-links>
    <lib-hls-generic-list
      [type]="itemsType"
      *ngIf="!loading"
      [list]="filtredItemsList"
      [isMyPatients]="false"
      emptyList="Vous n'avez aucun contact pro actuellement."
      (cardAction)="cardClicked($event)"
      (detailAction)="cardClicked($event)"
      (markAsSeenAction)="markAsSeenClicked($event)"
      (archivedAction)="archieveClicked($event)"
      (selectItemAction)="selectItem($event)"
      [imageSource]="imageSource"
      [isCheckbox]="false"
    >
    </lib-hls-generic-list>
    <mat-progress-spinner
      *ngIf="loading"
      diameter="20"
      mode="indeterminate"
      value="100"
    >
    </mat-progress-spinner>
  </div>
  <div id="contactPro"  class="col-md-7 objects">

    <!-- content for object details -->
    <div *ngIf="showDetail">
    <router-outlet ></router-outlet>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
  <div class="text-center" type="notificationData.type">
    <i class="fa fa-check" style="font-size: 11px" aria-hidden="true"></i>
    &nbsp;<span class="information-text">{{ notificationData.message }}</span>
  </div>
</ng-template>
