<div class="form-inline col-md-12">
  <lib-hlsLinks
    class="col-md-9 padd-right"
    [page]="page"
    [topText]="topText"
    [backButton]="backButton"
    (backButtonAction)="goBack()"
  >
  </lib-hlsLinks>
  <div class="col-md-3 input-icons">
    <input
      tabindex="1"
      id="patients"
      [(ngModel)]="search"
      placeholder="Nom, prénom"
      type="text"
      class="form-control"
      (change)="searchAction(search)"
    />

    <i (click)="searchAction(search)" class="fa fa-search"></i>
  </div>
</div>
<lib-hlsMessagingList
  [isCheckbox]="isCheckbox"
  [list]="itemsList"
  (cardAction)="cardClicked($event)"
  (detailAction)="cardClicked($event)"
  [imageSource]="imageSource"
></lib-hlsMessagingList>
