<div class="form-inline col-md-12">
<lib-hlsLinks     class="col-md-9 padd-right"
  [page]="page"
  [topText]="topText"
  [backButton]="backButton"
  (backButtonAction)="goBack()"
>
</lib-hlsLinks>
<div class="col-md-3 input-icons">
  <i  class="fa fa-search"></i>
  <input
  (keyup)="searchAction(search)"
    [(ngModel)]="search"
    placeholder="Nom, prénom"
    type="text"
    class="form-control input-field"
  />
</div>
</div>
<lib-hlsMessagingList
  [isCheckbox]="isCheckbox"
  [list]="itemsList"
  (cardAction)="cardClicked($event)"
  (detailAction)="cardClicked($event)"
  [imageSource]="imageSource"
></lib-hlsMessagingList>

