
.fa-search {
  background: #ffffff no-repeat scroll 7px 7px;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: -0.75px;
  color: #acb6c3;
  opacity: 1;
  padding: 10px;
  min-width: 40px;
  right: 16px;
  height: 20px;
}
::ng-deep .e-input-focus {
  padding-right: 31px;
}

::placeholder {
  text-align: left;
  font-style: Italic;
  letter-spacing: -0.53px;
  color: #acb6c3;
  opacity: 1;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 10px;
}
::ng-deep .e-input-group:not(.e-success):not(.e-warning):not(.e-error),
.e-input-group.e-control-wrapper {
  border: none;
  outline: none;
}

.form-inline .form-control {
  display: inline-block !important;
  width: 100%;
  vertical-align: middle !important;
}
.form-control:focus {
  color: #495057 !important;
  border-color: #80bdff !important;
  outline: 0 !important;
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.bloc-links {
  margin-left: -30px;
}
.bloc-search {
  margin-left: 15px;
}

#patients{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}
#documents {
  margin-left: 15px;
  margin-right: 5px;
}
#documentType,
#destination {
  margin: 10px;
  width: 200px;
  background-color: white;
  border: 0;
}
.p-2 {
  margin-right: 28px;
}

select {
  background-color: white;
  border: thin solid grey;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #6e819bd4 !important;
}
select.arrows {
  background-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA3klEQVRIS+3VMU9CMRTF8d8zBL+aizoQFhx0kUk33RzdYMNFXUFnYeGrYYyaJiUxJHDLSxodbNKpfeffc9/pbaPyaCrr+3OA++z4rtT5Pg5GuMnCY9yWQEoBE1xhlUUP8YDrCBIB0vojLvGO0yz4hm4JJAKcYYoPHGOZAUdYoIMBXrc5iQAHeMlzviFygj7O8dkWEJU4XI8chALRhn9AVKHf70VRTHu4wFfbmKZLNKt50dLBnna0imcMd/2I0phWa3Y/D1e1Xa9BCZJG0VuQNpaWKMx72xS1Fl5/WN3BN+AgJhnZQlq4AAAAAElFTkSuQmCC');
  background-position: calc(100% - .5rem), 100% 0;
  background-size:  1.5em 1.5em;
  background-repeat: no-repeat;
}

select.arrows:focus {
  border-color: red;
  outline: 0;
}



