@media (min-width: 800px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 70vw;
    }
  }
}
@media (min-width: 850px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 72vw;
    }
  }
}

@media (min-width: 900px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 75vw;
    }
  }
}
@media (min-width: 950px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 78vw;
    }
  }
}

@media (min-width: 1000px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 80vw;
    }
  }
}
@media (min-width: 1050px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 82vw;
    }
  }
}
@media (min-width: 1100px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 86vw;
    }
  }
}
@media (min-width: 1150px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 87vw;
    }
  }
}
@media (min-width: 1200px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 88vw;
    }
  }
}

@media (min-width: 1250px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 90vw;
    }
  }
}

@media (min-width: 1300px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 92vw;
    }
  }
}

@media (min-width: 1400px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 68vw;
    }
  }
}

@media (min-width: 1500px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 70vw;
    }
  }
}

@media (min-width: 1600px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 72vw;
    }
  }
}

@media (min-width: 1700px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 74vw;
    }
  }
}

@media (min-width: 1850px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 76vw;
    }
  }
}
@media (min-width: 2050px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 78vw;
    }
  }
}
::ng-deep #links {
  margin-top: 10px;
  margin-bottom: 10px !important;
}
