<lib-hlsLinks
  [links]="links"
  [page]="page"
  [topText]="topText"
  [bottomText]="bottomText"
  [number]="number"
  [backButton]="backButton"
  [imageSource]="imageSource"
  [person]="person"
  (selectAllAction)="selectAllActionClicked()"
  (deSelectAllAction)="deSelectAllActionClicked()"
  (seenAllAction)="seenAllActionClicked()"
  (archieveAction)="archieveActionClicked()"
  (filterAction)="filterActionClicked($event)"
  (refreshMessagingListAction) = "refreshMessagingList()"
></lib-hlsLinks>
<lib-hlsMessagingList
  [list]="filtredItemList"
  [hasPaging]="true"
  (cardAction)="cardClicked($event)"
  (markAsSeenAction)="markMessageAsSeen($event)"
  (archieveAction)="archieveMessage($event)"
  (selectItemAction)="selectItem($event)"
  [imageSource]="imageSource"
  [hasPaging]="true"
  (upSortAction)="upSortClicked()"
  (downSortAction)="downSortClicked()"
></lib-hlsMessagingList>

<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
  <div class="text-center" type="notificationData.type">
    <i class="fa fa-check" style="font-size: 11px;" aria-hidden="true"></i>
    &nbsp;<span>{{ notificationData.message }}</span>
  </div>
</ng-template>

<div
      class="search-results"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
></div>
<mat-progress-spinner *ngIf="scroll" diameter="20"
mode="indeterminate" value="100"> </mat-progress-spinner>
