<lib-hlsLinks
  [links]="links"
  [page]="page"
  [topText]="topText"
  [bottomText]="bottomText"
  [number]="number"
  [backButton]="backButton"
  (backButtonAction)="BackButton()"
></lib-hlsLinks>
<app-personal-informations
  *ngIf="patient"
  [isPatientFile]="true"
  [infoPatient]="patient"
></app-personal-informations>
<div class="col-md-12" *ngIf="itemsList">
  <div class="form-group title">
    <hr width="3%" color="#ff0063" align="left" />
    <i class="far fa-user-plus"
      ><span>&nbsp;&nbsp;{{ message.attachedPersonnes }}</span></i
    >
  </div>
</div>
<lib-hlsMessagingList
  *ngIf="itemsList"
  [isCheckbox]="false"
  [list]="itemsList"
  [imageSource]="imageSource"
>
</lib-hlsMessagingList>
<app-messaging-list
  [isPatientFile]="true"
  [idAccount]="idAccount"
></app-messaging-list>
