<ngx-spinner [fullScreen]="true" type="none" size="medium">
  <div class="card" id="card-gif">
      <p class="loading">{{loadingMessage}}</p>
  </div>
</ngx-spinner>
<app-patient-file
  [imageSource]="imageSource"
  [practicianImage]="practicianImage"
  [noteimageSource]="noteimageSource"
  [patient]="patientFile"
  [categoryList]="categoryList"
  [notes]="notes"
  (submitAction)="submit($event)"
  (archieveNoteAction)="archieveNote($event)"
  [linkedPatients]="linkedPatients"
  (submitNoteAction)="submitNote($event)"
  (cancelAction)="cancelAction()"
  [userRole]="userRole"
  (submitAttachedAction)="submitLinkedPatient($event)"
  (updateAttachedAction)="updateLinkedPatient($event)"
  [disabled] ="disabled"
>
</app-patient-file>
<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
  <div class="text-center" type="notificationData.type">
    <i class="fa fa-check" style="font-size: 11px" aria-hidden="true"></i>
    &nbsp;<span class="information-text">{{ notificationData.message }}</span>
  </div>
</ng-template>
