$color-helssy-grey: #6e819bd4;
span {
  font-size: 17px !important;
  line-height: 0px !important;
  letter-spacing: -0.75px;
  color: $color-helssy-grey;
  font-family: "Segoe UI Medium" !important;
}
