#documents {
  margin-left: 15px;
  margin-right: 5px;
}
#documentType,
#destination {
  margin: 10px;
}
.filter-bloc {
  padding-right: 35px !important;
}
.form-control {
  background-color: #f1f1f1;
}
