<!-- <form
  [formGroup]="filterDocumentsForm"
  class="d-flex p-2 flex-row-reverse bd-highlight filter-bloc"
>
  <select
    id="documentType"
    class="form-control col-md-2 arrows"
    formControlName="documentType"
    (change)="filter()"
  >
    <option [value]="''"> Type</option>
    <option *ngFor="let item of documentTypes" [value]="item">{{
      item
    }}</option>
  </select>
  <select
    *ngIf="destinations?.size > 0"
    id="destination"
    class="form-control col-md-2 arrows"
    formControlName="destination"
    (change)="filter()"
  >
    <option [value]="''">Moi même </option>
    <option *ngFor="let item of destinations" [value]="item.id"
      >{{ item.firstName }} {{ item.lastName }}</option
    >
  </select>
</form> -->
<div class="form-inline">
  <div class="col-md-5">
    <lib-hls-generic-list-links
      [page]="page"
      [topText]="topText"
      [backButton]="backButton"
      (backButtonAction)="goBack()"
      [person]="documentsService.person"
    >
    </lib-hls-generic-list-links>
    <lib-hls-generic-list
      [list]="itemList"
      [imageSource]="imageSource"
      [caller]="'myDocuments'"
      (downloadAction)="downloadFile($event)"
      (visualizeAction)="visualizeFile($event)"
      [isCheckbox]="false"
    ></lib-hls-generic-list>
  </div>
  <div class="col-md-7"></div>
</div>

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
<mat-progress-spinner
  *ngIf="scroll"
  diameter="20"
  mode="indeterminate"
  value="100"
>
</mat-progress-spinner>
