<div class="container">
  <div class="card-deck">
    <div class="card Rectangle mb-4">
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-inline titles"
      >
        <div id="cercle">
          <i class="fas fa-file-plus"></i>
        </div>
        <div>
          <p class="text-bold col-12 top">&nbsp;&nbsp; Documents reçus</p>
        </div>
      </div>
      <div class="card-body">
        <div class="form-inline">
          <div class="col-md-12">
            <lib-hls-document-grid
              [list]="itemList"
              [imageSource]="imageSource"
              [caller]="'myDocuments'"
              emptyList="Vous n'avez aucun document attaché actuellement."
              (downloadAction)="downloadFile($event)"
              (visualizeAction)="visualizeFile($event)"
              [isCheckbox]="false"
            ></lib-hls-document-grid>
            <ngx-spinner (click)="hideSpinner()" [fullScreen]="true" type="none" size="medium">
              <div *ngIf="image.src" class="card-align">
                <img class="card-image" [src]="image.src" />
                <span class="card-body image-name" >{{image.imageName}}</span>
              </div>
                <span class="loading" *ngIf="!image.src">{{loading}} ...</span>
          </ngx-spinner>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
<mat-progress-spinner
  *ngIf="scroll"
  diameter="20"
  mode="indeterminate"
  value="100"
>
</mat-progress-spinner>
