<div class="form-inline">
  <div class="col-md-12">
    <lib-hlsMessagingList
      [list]="itemList"
      [imageSource]="imageSource"
      [caller]="'myDocuments'"
      (downloadAction)="downloadFile($event)"
      (visualizeAction)="visualizeFile($event)"
      [isCheckbox]="false"
    ></lib-hlsMessagingList>
  </div>
</div>

<div
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
></div>
<mat-progress-spinner
  *ngIf="scroll"
  diameter="20"
  mode="indeterminate"
  value="100"
>
</mat-progress-spinner>
