<div class="row">
  <div class="col-md-10 form-group title">
    <span>&nbsp;&nbsp;{{ messages.my_object }}</span>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="form-group row">
      <a (click)="addAction()" class="inline col-md-12">
        <i class="fas fa-plus-circle"></i
        ><label for="objetPraticien" class="col-12 col-form-label">{{
          messages.add_Object
        }}</label>
      </a>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>
<br />
<div class="row">
  <div class="col-md-5">
    <lib-hls-generic-list
      [list]="itemsList"
      [isMyPatients]="false"
      (cardAction)="cardClicked($event)"
      (detailAction)="cardClicked($event)"
      (archieveAction)="deleteCategory($event)"
      [isCheckbox]="false"
      [imageSource]="imageSource"
    >
    </lib-hls-generic-list>
  </div>
  <div id="addObject" class="col-md-7">
    <!-- content for object details -->
    <router-outlet></router-outlet>
  </div>
</div>
