<div class="row text-center">
  <a
    *ngIf="failureAlert"
    id="FailureAlert"
    (click)="close()"
    class="alert alert-danger alert-dismissible fade show pointer"
    role="alert"
  >
    {{ labels.phone_error }}
    <button
      type="button"
      (click)="close()"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </a>
</div>
<div class="card Rectangle" id="contact-pro-tabs">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 title">
    <i class="fas fa-info-circle fa-icon"></i>
    <span class="Mes-informations">{{ labels.contact_pro }} </span>
  </div>
  <!-- Contact Pro Form -->
  <div class="card-body Rectangle-body">
    <form [formGroup]="infoForm" (ngSubmit)="(submitted)" #f="ngForm">
      <div class="row">
        <!-- Contact Type -->
        <div class="col-12 col-sm-4 pr-0 pl-0">
          <div for="type_contact" class="col-sm-12 col-form-label">
            {{ labels.type_contact }}
          </div>
          <div class="col-sm-12">
            <select
              formControlName="type"
              class="form-control"
              id="type"
              [ngClass]="{ 'is-invalid': submitted && ctr.type.errors }"
            >
              <option value="null" disabled="true">
                {{ labels.type_contact }}
              </option>
              <option value="MEDICAL">Praticien</option>
              <option value="CABINET">Cabinet médical</option>
              <option value="LABORATORY">Laboratoire</option>
            </select>
            <div *ngIf="submitted && ctr.type.errors" class="invalid-feedback">
              <div *ngIf="ctr.type.errors.required">
                {{ labels.required }}
              </div>
            </div>
          </div>
        </div>
        <!-- Contact Title -->
        <div class="col-12 col-sm-3 pr-0 pl-0">
          <div for="title" class="col-sm-12 col-form-label">
            {{ labels.title }}
          </div>
          <div class="col-sm-12">
            <select
              formControlName="title"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && ctr.title.errors }"
              id="title"
            >
              <option value="null" disabled="true">{{ labels.title }}</option>
              <option *ngFor="let item of jobTitlesList" value="{{ item }}">
                {{ item | JobTitle }}
              </option>
            </select>
            <div *ngIf="submitted && ctr.title.errors" class="invalid-feedback">
              <div *ngIf="ctr.title.errors.required">
                {{ labels.required }}
              </div>
            </div>
          </div>
        </div>
        <!-- Contact Pro speciality -->
        <div class="col-12 col-sm-5 pr-0 pl-0">
          <div for="speciality" class="col-sm-12 col-form-label">
            {{ labels.speciality }}
          </div>
          <div class="col-sm-12">
            <select
              data-live-search="true"
              formControlName="speciality"
              data-none-results-text="Pas de correspondance"
              class="selectpicker form-control"
              data-container="body"
              [ngClass]="{
                'is-invalid': submitted && ctr.speciality.errors
              }"
              id="speciality"
            >
              <option value="null" disabled="true" selected>
                {{ labels.speciality }}
              </option>
              <option
                *ngIf="
                  account && account.speciality && account.speciality.deleted
                "
                [value]="account.speciality.id"
                disabled="true"
              >
                {{ account.speciality.name }}
              </option>
              <option *ngFor="let s of specialities | async" [value]="s.id">
                {{ s.name }}
              </option>
            </select>
            <div
              *ngIf="submitted && ctr.speciality.errors"
              class="invalid-feedback"
            >
              <div *ngIf="ctr.speciality.errors.required">
                {{ labels.required }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <!-- Contact Pro last name -->
        <div class="col col-12 col-sm-6 pr-0 pl-0">
          <div for="last_name" class="col-sm-12 col-form-label">
            {{ labels.last_name }}
          </div>
          <div class="col-sm-12">
            <input
              type="text"
              formControlName="last_name"
              class="form-control"
              id="last_name"
              [ngClass]="{
                'is-invalid': submitted && ctr.last_name.errors
              }"
            />
            <div
              *ngIf="submitted && ctr.last_name.errors"
              class="invalid-feedback"
            >
              <div *ngIf="ctr.last_name.errors.required">
                {{ labels.required }}
              </div>
            </div>
          </div>
        </div>
        <!-- Contact Pro first name -->
        <div class="col col-12 col-sm-6 pr-0 pl-0">
          <div for="first_name" class="col-sm-12 col-form-label">
            {{ labels.first_name }}
          </div>
          <div class="col-sm-12">
            <input
              type="text"
              formControlName="first_name"
              class="form-control"
              id="first_name"
              [ngClass]="{
                'is-invalid': submitted && ctr.first_name.errors
              }"
            />
            <div
              *ngIf="submitted && ctr.first_name.errors"
              class="invalid-feedback"
            >
              <div *ngIf="ctr.first_name.errors.required">
                {{ labels.required }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <!--  Facility name -->
      <div class="row">
        <div class="col-12 pr-0 pl-0">
          <div for="facility_name" class="col-sm-12 col-form-label">
            {{ labels.facility_name }}
          </div>
          <div class="col-sm-12">
            <input
              type="text"
              formControlName="name"
              class="form-control"
              id="facility_name"
            />
          </div>
        </div>
      </div>
      <br />
      <!--  Contact Pro address -->
      <div class="row">
        <div class="col-12 pr-0 pl-0">
          <div for="address" class="col-sm-12 col-form-label">
            {{ labels.address }}
          </div>
          <div class="col-sm-12">
            <input
              type="text"
              formControlName="address"
              class="form-control"
              id="address"
            />
          </div>
        </div>
      </div>
      <br />
      <!--  Contact Pro additional address -->
      <div class="row">
        <div class="col-12 pr-0 pl-0">
          <div for="additional_address" class="col-sm-12 col-form-label">
            {{ labels.additional_address }}
          </div>
          <div class="col-sm-12">
            <input
              type="text"
              formControlName="additional_address"
              class="form-control"
              id="additional_address"
            />
          </div>
        </div>
      </div>
      <br />
      <!--  Contact Pro zipCode + city -->
      <div class="row">
        <div class="col-12 col-sm-5 pl-0 pr-0">
          <div class="col-12 col-form-label">{{ labels.zip_code }}</div>
          <div class="col-sm-12">
            <input
              type="text"
              formControlName="zipCode"
              class="form-control"
              id="zipCode"
            />
          </div>
        </div>
        <div class="col-12 col-sm-7 pl-0 pr-0">
          <div class="col-12 col-form-label">{{ labels.city }}</div>
          <div class="col-sm-12">
            <input
              type="text"
              formControlName="city"
              class="form-control"
              id="city"
            />
          </div>
        </div>
      </div>
      <br />
      <!-- Phone number -->
      <div class="row">
        <div class="col col-12 pr-0 pl-0">
          <div class="col-12 col-form-label">{{ labels.phone }}</div>
          <div class="col-12 row">
            <div class="col-10 col-sm-11">
              <international-phone-number
                class="form-control phone"
                id="phone"
                formControlName="phone"
                placeholder="Téléphone"
                [maxlength]="20"
                [defaultCountry]=""
                [ngClass]="{ 'is-invalid': submitted && ctr.phone.errors }"
              >
              </international-phone-number>
              <div
                *ngIf="ctr.phone.invalid && ctr.phone.touched"
                class="text-danger"
              >
                {{ labels.phone_invalid }}
              </div>
            </div>
            <div class="col-1 col-sm-1">
              <button
                (click)="addPhone()"
                class="btn btn-xs btn-icon"
                id="add-phone-button"
              >
                <i class="far fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
      <!-- Other Phones -->
      <div class="row">
        <div class="col pr-0 pl-0">
          <div *ngIf="isLabelShow" class="col-12 col-form-label">
            {{ labels.other_phone }}
          </div>
          <div class="col-12 col-sm-12">
            <int-phone
              [editList]="otherPhones"
              (phones)="getPhoneList($event)"
              [addnewPhone]="addnewPhone"
              (validPhones)="submitPhones($event)"
              id="other-phones"
            >
            </int-phone>
          </div>
        </div>
      </div>
      <br *ngIf="isLabelShow" />
      <!--  Contact Pro email -->
      <div class="row">
        <div class="col-12 pr-0 pl-0">
          <div for="email" class="col-sm-12 col-form-label">
            {{ labels.email_input }}
          </div>
          <div class="col-sm-12">
            <input
              type="text"
              formControlName="email"
              class="form-control"
              id="email"
            />
          </div>
        </div>
      </div>
      <br />
      <div class="row justify-content-left">
        <div class="col-md-12">
          <button
            type="submit"
            class="btn btn-primary col-md-4 mr-4"
            (click)="submit()"
          >
            {{ labels.validate }}
          </button>
          <button (click)="cancel()" class="btn btn-cancel col-md-4">
            {{ labels.cancel }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
