$color-helssy-grey: #6e819bd4;
$helsey_blue: #1a56a7;
$input-color: #f1f1f1;
.title {
  color: $helsey_blue;
  i,
  hr {
    margin-left: 10px;
  }
  span {
    font-weight: bold;
  }
}
.card {
  border-radius: 0.4rem;
  border: none;
}
.col-form-label {
  font-size: 15px !important;
  color: $color-helssy-grey;
  font-family: "Segoe UI Medium" !important;
}
.container {
  max-width: unset;
}
input,
select {
  border-color: $input-color;
  background-color: $input-color;
}
.btn-icon {
  max-width: 50px;
  background-color: #41bddf;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: lighter;
  height: calc(1.5em + 0.75rem + 2px);
}
.btn-icon:hover {
  background-color: RoyalBlue;
}
input[type="date"] {
  height: calc(1.5em + 0.75rem + 2px);
}
select {
  height: calc(1.5em + 0.75rem + 2px);
}
input[type="date"]::-webkit-inner-spin-button {
  opacity: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png)
    center/80% no-repeat;
  color: rgba(0, 0, 0, 0);
  opacity: 0.5;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png)
    center/80% no-repeat;
  opacity: 0.8;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.border-avatar {
  border: solid;
  border-color: #727272;
}
.btn {
  border: 0px;
  border-radius: 0.4rem;
  color: white;
}
.btn-primary {
  background-color: #41bddf !important;
  text-align: center !important;
}
.btn-success {
  background-color: #74c720;
}
.btn-danger {
  background-color: #c74020 !important;
  text-align: center !important;
}
.add-btn {
  width: 100% !important;
  height: 100% !important;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  border-radius: 0.2rem;
  box-shadow: none;
  margin-bottom: 15px;
  min-height: 100%;
  min-width: 100%;
  color: $helsey_blue;
  span {
    display: block;
  }
}
#checkstrength {
  text-align: center;
}
.link1 {
  color: $color-helssy-grey;
  font-size: 14px;
}
.pointer {
  cursor: pointer;
}

.fit-content {
  width: 180px;
}

input[type="file"] {
  display: none;
}
.input-icons i {
  position: absolute;
}
.icon {
  color: $color-helssy-grey;
  width: 40px;
  text-align: right;
  font-size: 17px;
  padding: 12px;
}
.calender.form-control {
  padding: 6px 6px 6px 50px !important;
}

.phone {
  background: $input-color 0% 0% no-repeat padding-box;
  opacity: 1;
  border-color: $input-color !important;
  font-family: "Segoe UI";
  font-size: 17px;
  line-height: 24px;
  height: 50px;
}
// buttons add phone CSS
.btn-icon {
  max-width: 40px;
  color: white;
  cursor: pointer;
  font-weight: lighter;
  background: #41bddf 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  height: 40px;
}
.form-control{
  height: 40px;
}