<lib-hlsLinks [topText]="topText" [bottomText]="bottomText" [page]="page" [backButton]="backButton"
  (backButtonAction)="BackButton()">
</lib-hlsLinks>
<br>
<div class="card">
  <br>
  <a *ngIf="failureAlert" id="FailureAlert" (click)="close()"
    class="alert alert-danger alert-dismissible fade show pointer" role="alert">
    {{ labels.phone_error }}
    <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </a>
  <br />
  <div class="card-body">
    <form [formGroup]="infoForm" (ngSubmit)="(submitted)" #f="ngForm">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="form-group row">
              <label for="type_contact" class="col-sm-3 col-form-label">{{labels.type_contact}}</label>
              <div class="col-sm-9 ">
                <select formControlName="type" class="civility custom-select"
                  [ngClass]="{ 'is-invalid': submitted && ctr.type.errors }">
                  <option value="null" disabled="true">{{
                    labels.type_contact
                  }}</option>
                  <option value="MEDICAL">Praticien</option>
                  <option value="CABINET">Cabinet médical</option>
                  <option value="LABORATORY">Laboratoire</option>
                </select>
                <div *ngIf="submitted && ctr.type.errors" class="invalid-feedback">
                  <div *ngIf="ctr.type.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group row">
              <label for="facility_name" class="col-sm-3 col-form-label">{{
                labels.facility_name
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="name" class="form-control" id="facility_name"
                  [ngClass]="{ 'is-invalid': submitted }" />
                <div *ngIf="submitted && ctr.name.errors" class="invalid-feedback">
                  <div *ngIf="ctr.name.errors.required">{{ labels.required }}</div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group row">
              <label for="title" class="col-sm-3 col-form-label">{{
                labels.title
              }}</label>
              <div class="col-sm-9">
                <select formControlName="title" class="civility custom-select"
                  [ngClass]="{ 'is-invalid': submitted && ctr.title.errors }" id="title">
                  <option value="null" disabled="true">{{
                    labels.title
                  }}</option>
                  <option value="Docteur">Dr</option>
                  <option value="Professeur">Pr</option>
                </select>
                <div *ngIf="submitted && ctr.title.errors" class="invalid-feedback">
                  <div *ngIf="ctr.title.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group row">
              <label for="speciality" class="col-sm-3 col-form-label">{{
                labels.speciality
              }}</label>
              <div class="col-sm-9">
                <select formControlName="speciality" class="civility custom-select" [ngClass]="{
                    'is-invalid': submitted && ctr.speciality.errors
                  }" id="speciality">
                  <option value="null" disabled="true">{{
                    labels.speciality
                  }}</option>
                  <option *ngFor="let s of specialities" [value]="s.id">{{
                    s.name
                  }}</option>
                </select>
                <div *ngIf="submitted && ctr.speciality.errors" class="invalid-feedback">
                  <div *ngIf="ctr.speciality.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group row">
              <label for="last_name" class="col-sm-3 col-form-label">{{
                labels.last_name
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="last_name" class="form-control" id="last_name" [ngClass]="{
                    'is-invalid': submitted && ctr.last_name.errors
                  }" />
                <div *ngIf="submitted && ctr.last_name.errors" class="invalid-feedback">
                  <div *ngIf="ctr.last_name.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="first_name" class="col-sm-3 col-form-label">{{
                labels.first_name
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="first_name" class="form-control" id="first_name" [ngClass]="{
                    'is-invalid': submitted && ctr.first_name.errors
                  }" />
                <div *ngIf="submitted && ctr.first_name.errors" class="invalid-feedback">
                  <div *ngIf="ctr.first_name.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="address" class="col-sm-3 col-form-label">{{
                labels.address
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="address" class="form-control" id="address" />
              </div>
            </div>
            <div class="form-group row">
              <label for="additional_address" class="col-sm-3 col-form-label">{{
                labels.additional_address
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="additional_address" class="form-control" id="additional_address"
                  [ngClass]="{ 'is-invalid': submitted }" />
              </div>
            </div>
          </div>

          <div class="col">
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">{{
                labels.email_input
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="email" class="form-control" id="email"
                  [ngClass]="{ 'is-invalid': submitted }" />
                <div *ngIf="submitted && ctr.email.errors" class="invalid-feedback">
                  <div *ngIf="ctr.email.errors.required">
                    {{ labels.required }}
                  </div>
                  <div *ngIf="ctr.email.errors.email">
                    {{ labels.email_invalid_format }}
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="phone" class="col-sm-3 col-form-label">{{labels.phone}}</label>
              <div class="col-sm-8">
                <international-phone-number class="form-control phone" id="phone" formControlName="phone"
                  placeholder="Téléphone" [maxlength]="20" [defaultCountry]=""
                  [ngClass]="{ 'is-invalid': submitted && ctr.phone.errors}">
                </international-phone-number>
                <div *ngIf="ctr.phone.invalid && ctr.phone.touched" class="text-danger">
                  {{ labels.phone_invalid }}
                </div>
              </div>
              <div class="col-sm-1">
                <button (click)="addPhone()" class="btn btn-xs btn-icon">
                  <i class="far fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="form-group row">
              <label *ngIf="isLabelShow" for="other_phone" class="col-sm-3 col-form-label">{{
          labels.other_phone
        }}</label>
              <div id="otherPhone" class="col-sm-9">
                <int-phone [editList]="otherPhones" (phones)="getPhoneList($event)" [addnewPhone]="addnewPhone"
                  (validPhones)="submitPhones($event)">
                </int-phone>
              </div>
            </div>

          </div>
        </div>



      </div>
      <br />
      <div class="row justify-content-center">
        <button (click)="submit()" type="submit" class="btn btn-primary">
          {{ labels.validate }}
        </button>
      </div>
      <div class="row justify-content-center">
        <div *ngIf="errorMessage && errorMessage != ''" class="center margin isa_error">
          <p class="w-100">
            <i class="fa fa-times-circle"></i> {{ errorMessage }}
          </p>
        </div>
        <div *ngIf="successMessage && successMessage != ''" class="center margin isa_success">
          <p class="w-100">
            <i class="fa fa-check-circle"></i> {{ successMessage }}
          </p>
        </div>
      </div>
    </form>
  </div>
</div>