.info {
  font-family: Montserrat;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.23px;
  color: #4a4a4a;
}
.chart {
  max-width: 760px;
}
