#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}
.info {
  text-align: center;
  vertical-align: middle;
  font-size: 15px !important;
  line-height: 0px !important;
  letter-spacing: -0.75px;
  color: #6e819bd4;
  font-family: "Segoe UI Medium" !important;
}
