<div id="chart" class="margin-right_">
  <mat-progress-spinner
    class="spinner"
    *ngIf="loading"
    diameter="60"
    mode="indeterminate"
    value="100"
  >
  </mat-progress-spinner>
  <apx-chart
    *ngIf="!loading && !emptyData"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
    [legend]="chartOptions.legend"
    [colors]="chartOptions.colors"
  ></apx-chart>
  <div class="info" *ngIf="!loading && emptyData">{{ infoMessage }}</div>
</div>
