<div>
  <form [formGroup]="phoneForm">
    <div formArrayName="phoneList" *ngFor="let p of phoneList.controls; let i = index">
      <div [formGroupName]="i" class="phoneList">
        <div class="row ml-1 ">
          <div class="col-12 col-sm-6 col-md-6 col-xl-6 col-lg-6 form-group row mobile-display-none">
            <international-phone-number class="form-control" formControlName="phoneNumber" placeholder="Téléphone"
              [maxlength]="20" [defaultCountry]="phoneList.at(i).get('id') ? '' : 'fr'" [ngClass]="{
                        'is-invalid': submitted && p.controls.phoneNumber.errors
                      }" (input)="onValueChange()">
            </international-phone-number>
            <div *ngIf="
                        submitted &&
                        p.controls.phoneNumber.invalid &&
                        p.controls.phoneNumber.touched &&
                        p.controls.phoneNumber.length !== 0
                      " class="invalid-feedback">
              {{ errorMessage }}
            </div>
          </div>
          <div class="col-9 col-sm-5 col-md-5 col-xl-5 col-lg-5 mobile-display-none">
            <input type="text" class="form-control" formControlName="note" placeholder="Préciser..." />
          </div>
          <div class="col-2 col-sm-1 col-md-1 col-xl-1 col-lg-1 mobile-display-none phone-mobile">
            <button (click)="removePhone(i)" class="btn btn-xs btn-icon mb-2">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>



          <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 form-group row mobile-display-flex">
            <international-phone-number class="form-control" formControlName="phoneNumber" placeholder="Téléphone"
              [maxlength]="20" [defaultCountry]="phoneList.at(i).get('id') ? '' : 'fr'" [ngClass]="{
                        'is-invalid': submitted && p.controls.phoneNumber.errors
                      }" (input)="onValueChange()">
            </international-phone-number>
            <div *ngIf="
                        submitted &&
                        p.controls.phoneNumber.invalid &&
                        p.controls.phoneNumber.touched &&
                        p.controls.phoneNumber.length !== 0
                      " class="invalid-feedback mobile-display-flex">
              {{ errorMessage }}
            </div>
          </div>
          <div class="col-10 col-sm-5 col-md-5 col-lg-5 col-xl-1 mobile-display-flex ">
            <input type="text" class="form-control" formControlName="note" placeholder="Préciser..." />
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 mobile-display-flex phone-mobile">
            <button (click)="removePhone(i)" class="btn btn-xs btn-icon">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>