$sapphire: #1a56a7;
$light-fill: #ffffff;
$gradient: linear-gradient(102deg, #f761a1, #8c1bab 98%);

@media (min-width: 580px) {
  .fab-toggler {
    float: right;
    z-index: 100;
    border-radius: 50%;
    height: 60px !important;
    width: 60px !important;
    color: white;
    background-image: $gradient;
    font-size: x-large;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: 0;
    margin-right: 75px !important;
  }
  .file-clip {
    align-items: center;
    display: flex;
    margin-left: -87px !important;
  }
}
@media (max-width: 396px) {
  .col-sm-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
  .file-clip {
    align-items: center;
    display: flex;
    margin-left: -6px !important
  }
  .fab-toggler {
    float: right;
    z-index: 100;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    background-image: $gradient;
    font-size: x-large;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: 0;
    position: absolute;
    bottom: -7px;
  }
}
@media (min-width: 397px) and (max-width: 579px) {
  .col-sm-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
  .file-clip {
    align-items: center;
    display: flex;
    margin-left: -50px !important;
  }
  .fab-toggler {
    float: right;
    z-index: 100;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    background-image: $gradient;
    font-size: x-large;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: 0;
    position: absolute;
    bottom: -7px;
  }
}
.label {
  height: 19px;
  font-size: 16px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b7b7b7;
  padding-top: 11px;
  margin-bottom: 0;
}
.font {
  font-weight: 100;
  color: red;
}
.modal-dialog {
  width: 580px !important;
  max-width: 580px !important;
  border-radius: 6px;
}
.modal-content {
  box-shadow: 0 2px 20px 6px rgba(56, 96, 165, 0.3);
  background-color: $light-fill;
  margin: auto;
}
.modal-header {
  justify-content: center;
  align-items: center;
  border-bottom: 0 none;
}

.modal-footer {
  justify-content: center;
  align-items: center;
  border-top: 0 none;
}
.modal-body {
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: #1a56a7;
}

@media screen and (min-width: 580px) and (max-width: 804px) {
  #refuseModal {
    z-index: 999999;
    .modal-content {
      margin-left: 61px;
      width: 78%;
    }
    .modal-body {
      font-size: 15px !important;
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 579px) {
  #refuseModal {
    z-index: 999999;
    .modal-content {
      width: 55%;
      margin-left: 116px;
    }
    .modal-body {
      font-size: 13px !important;
    }
  }
}
@media screen and (max-width: 374px) {
  #refuseModal {
    z-index: 999999;
    .modal-content {
      width: 42%;
      margin-left: 34px;
    }
    .modal-body {
      font-size: 11px !important;
    }
  }
}
.label-free-object {
  height: 19px;
  font-size: 16px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b7b7b7;
  margin-bottom: 0;
  margin-top: 7px;
}

#send-button,
#send-button-instruction {
  width: 142px;
  height: 46px;
  border-radius: 6px;
  font-weight: 1000;
  background-color: $sapphire;
}
.bi {
  cursor: pointer;
}
.action-btn {
  font-size: 20px;
  cursor: pointer;
}

::ng-deep {
  .invalid {
    .selected-list .c-btn {
      border: solid 0.5px !important;
      border-color: red !important;
    }
    .ck.ck-editor {
      border: solid 0.5px;
      border-color: red;
    }
    border: solid 0.5px !important;
    border-color: red !important;
  }
}

a {
  color: #8ab4f8;
}
::deep {
  .notifier__container {
    color: #fff;
  }
}
.file-clip {
  align-items: center;
  display: flex;
}
.loading {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#loading-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
#card-gif {
  border-radius: 28px;
}

#attachement {
  //width: 205px;
  height: 30px;
  border-radius: 15px;
  border: solid 1px $sapphire;
  background-color: rgba(198, 213, 233, 0.3);
  //position: absolute;
  bottom: 8px;
  width: 100% !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-3.col-sm-5.col-md-5.attach {
  padding: 0;
}

#attachement-label {
  text-align: center;
  color: $sapphire;
  font-weight: 1000;
  font-size: 12px;
}

#attachement-button,
#clear-button {
  color: rgba(74, 74, 74, 0.8);
}

::ng-deep .mat-tab-group-inverted-header .mat-tab-header {
  border-top: none !important;
  border-bottom: none;
  margin-top: 5px !important;
  //padding-left: 34px !important;
}

::ng-deep .mat-ink-bar {
  background-color: #1a56a7 !important;
  height: 5px !important;
  //margin-left: 6px;
}

::ng-deep .mat-tab-label-active {
  color: #1a56a7 !important;
  font-family: Montserrat, sans-serif !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  letter-spacing: 0.67px !important;
}

@media (max-width: 720px) {
  #attachement {
    width: unset;
  }

  #attachement-label {
    padding-left: 6px;
    padding-right: 6px;
  }

  #send-button {
    width: unset;
  }

  ::ng-deep {
    .ck-editor__editable {
      height: unset !important;
    }
  }
}

.modal-dialog {
  width: 580px !important;
  max-width: 580px !important;
  border-radius: 6px;
}
.modal-content {
  box-shadow: 0 2px 20px 6px rgba(56, 96, 165, 0.3);
  background-color: $light-fill;
}
.modal-header {
  justify-content: center;
  align-items: center;
  border-bottom: 0 none;
}

.modal-footer {
  justify-content: center;
  align-items: center;
  border-top: 0 none;
}
.modal-body {
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: #1a56a7;
}
.close-icon {
  cursor: pointer;
  color: $sapphire;
  font-size: 33px;
}
.btn.btn-ok {
  width: 120px;
  // Text CSS
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  //Button CSS
  height: 40px;
  border-radius: 6px;
  border-color: #1a56a7;
  background-color: #1a56a7;
  color: white;
}
.btn.btn-cancel {
  width: 120px;
  // Text CSS
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  //Button CSS
  height: 40px;
  color: #1a56a7;
  border-radius: 6px;
  border-color: #1a56a7;
}
.confirm {
  width: auto !important;
}
.checkbox-div {
}
.checkbox-input {
  width: 16px !important;
  height: 16px !important;
  vertical-align: bottom !important;
  position: relative !important;
  *overflow: hidden !important;
}
.checkbox-label {
  display: block !important;
}

@media (min-width: 400px) and(max-width: 580px) {
  ::ng-deep {
    .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
      border-color: var(--ck-color-base-border);
      max-height: 300px;
      overflow-y: auto;
    }
  }
}
@media screen and (min-width: 580px) and (max-width: 804px) {
  #confirmChangeModal {
    z-index: 999999;
    .modal-content {
      margin-left: 61px;
      width: 78%;
    }
    .modal-body {
      font-size: 15px !important;
    }
    .modal-backdrop {
      z-index: 10400 !important;
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 579px) {
  #confirmChangeModal {
    z-index: 999999;
    .modal-content {
      width: 55%;
      margin-left: 116px;
    }
    .modal-body {
      font-size: 13px !important;
    }
    .modal-backdrop {
      z-index: 10400 !important;
    }

  }
}
@media screen and (max-width: 374px)  {
  #confirmChangeModal {
    z-index: 999999;
    .modal-content {
      width: 42%;
      margin-left: 34px;
    }
    .modal-body {
      font-size: 11px !important;
    }
    .modal-backdrop {
      z-index: 10400 !important;
    }

  }
}
@media screen and (min-width: 580px) and (max-width: 804px) {
  #confirmDeleteModal {
    z-index: 999999;
    .modal-content {
      margin-left: 61px;
      width: 78%;
    }
    .modal-body {
      font-size: 15px !important;
    }
    .modal-backdrop {
      z-index: 10400 !important;
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 579px) {
  #confirmDeleteModal {
    z-index: 999999;
    .modal-content {
      width: 55%;
      margin-left: 116px;
    }
    .modal-body {
      font-size: 13px !important;
    }
    .modal-backdrop {
      z-index: 10400 !important;
    }
  }
}
@media screen and (max-width: 374px)  {
  #confirmDeleteModal {
    z-index: 999999;
    .modal-content {
      width: 42%;
      margin-left: 34px;
    }
    .modal-body {
      font-size: 11px !important;
    }
    .modal-backdrop {
      z-index: 10400 !important;
    }
  }
}
@media (max-width: 399px) {
  ::ng-deep {
    .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
      border-color: var(--ck-color-base-border);
      max-height: 85px;
      overflow-y: auto;
    }
  }
}
.invalid-feedback-2 {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
