<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
  <div class="text-center" type="notificationData.type">
    <i class="fa fa-check" style="font-size: 11px;" aria-hidden="true"></i>
    &nbsp;<span>{{ notificationData.message }}</span>
  </div>
</ng-template>
<ngx-spinner [fullScreen]="true" type="none" size="medium">
  <div class="card" id="card-gif">
    <div class="card-body">
      <img id="loading-img" [src]="'assets/imgs/Loading-helssy.gif'">
      <p class="loading">Envoi du message en cours...</p>
    </div>
  </div>
</ngx-spinner>
<form [formGroup]="sendMessageForm">

  <!-- type DropDown-->
  <div class="row mb-2" *ngIf="messageTypesList && messageTypesList.length !== 0 ">
    <div class="col-md-1 col-sm-2 col-xs-2">
      <label class="label">Type</label>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-9 ml-4">
      <angular2-multiselect id="type-dropdown" [data]="messageTypesList" formControlName="type"
        [settings]="dropdownSettingsTypesList" [ngClass]="{
      'is-invalid': submited && ctr.type.errors,'invalid': submited && ctr.type.errors}" (click)="onTypeChanged()"
        (onSelect)="onTypeChanged()" (onDeSelect)="onTypeChanged()" (onOpen)="(null)">
        <c-item>
          <ng-template let-item="item">
            <label>{{item.text}}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{item.text}}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
      <div *ngIf="ctr.to.errors" class="invalid-feedback">
        <div *ngIf="ctr.to.errors.required">
          {{ texts.required}}
        </div>
      </div>
    </div>
  </div>

  <!-- To List DropDown-->
  <div class="row mb-2">
    <div class="col-md-1 col-sm-2 col-xs-2">
      <label class="label">À</label>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-9 ml-4">
      <angular2-multiselect id="to-dropdown" [data]="toListParsed" formControlName="to" [settings]="dropdownSettings"
        [ngClass]="{
      'is-invalid': submited && ctr.to.errors,'invalid': submited && ctr.to.errors}" (click)="onObjectChanged()"
        (onSelect)="onObjectChanedSelect()" (onDeSelect)="onObjectChanged()" (onOpen)="(null)">
        <c-item>
          <ng-template let-item="item">
            <label>{{item.fullName}}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{item.fullName}}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
      <div *ngIf="ctr.to.errors" class="invalid-feedback">
        <div *ngIf="ctr.to.errors.required">
          {{ texts.required}}
        </div>
      </div>
    </div>
  </div>

  <!-- CC List DropDown-->
  <div class="row mb-2" *ngIf="isCCListVisible">
    <div class="col-md-1 col-sm-2 col-xs-2">
      <label class="label">CC</label>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-9 ml-4">
      <angular2-multiselect id="cc-dropdown" [data]="ccParsedList" formControlName="cc" [settings]="dropdownSettings"
        [ngClass]="{
      'is-invalid': submited && ctr.cc.errors,'invalid': submited && ctr.cc.errors}">
        <c-item>
          <ng-template let-item="item">
            <label>{{item.fullName}}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{item.fullName}}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
      <div *ngIf="ctr.to.errors" class="invalid-feedback">
        <div *ngIf="ctr.to.errors.required">
          {{ texts.required}}
        </div>
      </div>
    </div>
  </div>

  <!-- for List DropDown-->
  <div class="row mb-2" *ngIf="forListParsed && forListParsed.length !== 0 && showPatientFile && isForListVisible">
    <div class="col-md-1 col-sm-2 col-xs-2">
      <label class="label">Pour</label>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-9 ml-4">
      <angular2-multiselect id="for-dropdown" [data]="forFilteredList" formControlName="for"
        [settings]="dropdownSettingsForList" [ngClass]="{
      'is-invalid': submited && ctr.for.errors,'invalid': submited && ctr.for.errors}">
        <c-item>
          <ng-template let-item="item">
            <label>{{item.fullName}}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{item.fullName}}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
      <div *ngIf="ctr.for.errors" class="invalid-feedback">
        <div *ngIf="ctr.for.errors.required">
          {{ texts.required}}
        </div>
      </div>
    </div>
  </div>

  <!-- concerns List DropDown-->
  <div class="row mb-2" *ngIf="isSecretary && concernFilteredList && concernFilteredList.length !== 0 && !isInstruction">
    <div class="col-md-1 col-sm-2 col-xs-2">
      <label class="label">{{ texts.concerns }}</label>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-9  ml-4">
      <angular2-multiselect id="concern-dropdown" [data]="concernFilteredList" formControlName="concerns"
        [settings]="dropdownSettingsConcernList" [ngClass]="{
      'is-invalid': submited && ctr.concerns.errors,'invalid': submited && ctr.concerns.errors}" (click)="onConcernChanged()"
      (onSelect)="onConcernChanged()" (onDeSelect)="onConcernChanged()" (onOpen)="(null)">
        <c-item>
          <ng-template let-item="item">
            <label>{{item.fullName}}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{item.fullName}}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
      <div *ngIf="ctr.concerns.errors" class="invalid-feedback">
        <div *ngIf="ctr.concerns.errors.required">
          {{ texts.required}}
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- object List DropDown-->
  <div class="row mb-4" *ngIf=" contactType &&  ! isSecretary() || isInstruction">
    <div class="col-md-1 col-sm-2 col-xs-2">
      <label class="label">{{ texts.object }}</label>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-9 ml-4">
      <angular2-multiselect id="objects-dropdown" [data]="objectsList" formControlName="object"
        [settings]="dropdownSettingsListObject" [ngClass]="{
      'is-invalid': submited && ctr.object.errors,'invalid': submited && ctr.object.errors}"
        (onSelect)="onObjectChanedSelect()" (onDeSelect)="onObjectChanged()">
        <c-item>
          <ng-template let-item="item">
            <label>{{item.title}}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{item.title}}</label>
          </ng-template>
        </c-badge>
        <button class="btn primary-btn">Valider</button>
      </angular2-multiselect>
      <div *ngIf="ctr.object.errors" class="invalid-feedback">
        <div *ngIf="ctr.object.errors.required">
          {{ texts.required}}
        </div>
      </div>
    </div>
  </div>

  <!-- FREE OBJECT -->
  <div class="row mb-4"
    *ngIf=" !isInstruction && (otherObject || !contactType || ( isSecretary() && contactType) || newFlag)">

    <div class="col-md-1 col-sm-2 col-xs-2">
      <label class="label-free-object">{{ texts.free_object }}</label>
    </div>
    <div class="col-md-10 col-sm-9 col-xs-9 ml-4">
      <input formControlName="freeObject" class="form-control" type="text" id="input-free-object" [ngClass]="{
        'is-invalid': submited && ctr.freeObject.errors,'invalid': submited && ctr.freeObject.errors}"/>
      <div *ngIf="ctr.freeObject.errors" class="invalid-feedback">
        <div *ngIf="ctr.freeObject.errors.required">
          {{ texts.required}}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- body-->
  <div class="row mb-2">
    <div class="col-md-12">
      <lib-hls-ckeditor id="body" [ngClass]="{
        'is-invalid': submited && ctr.body.errors,'invalid': submited && ctr.body.errors}" [ctrl]="ctr.body">
      </lib-hls-ckeditor>
      <div *ngIf="ctr.body.errors" class="invalid-feedback">
        <div *ngIf="ctr.body.errors.required">
          {{ texts.required}}
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="row mb-2">
    <div class="col-6 col-sm-3 col-md-3">
      <button *ngIf="!isInstruction" id="send-button" type="button" class="btn btn-primary" (click)="sendEmail()">ENVOYER</button>
      <button *ngIf="isInstruction" id="send-button-instruction" type="button" class="btn btn-primary" (click)="sendInstructionEmit()">ENVOYER</button>
    </div>
    <div class="col-6 col-sm-3 col-md-2">
      <i id="attachement-button" class="far fa-paperclip action-btn mr-4"
        onclick="document.getElementById('file-input').click();"></i>
      <input [hidden]=true id="file-input" type="file" (change)="onFileChange($event)" />
      <i id="clear-button" class="fas fa-trash-alt action-btn" (click)="removeAttachment()"></i>
    </div>
    <div *ngIf="sendMessageForm.get('file').value  && innerWidth >= 750" class="col-12 col-sm-5 col-md-5">
      <div id="attachement" *ngFor="let file of sendMessageForm.get('file').value; let i = index">
        <p id="attachement-label"> <i
            class="far fa-paperclip mr-1"></i>{{ file.name.length < 20 ? file.name : file.name.substr(0,19) + "..." }}
        </p>
      </div>
    </div>
  </div>
  <div class="row mb-2" *ngIf="innerWidth < 750">
    <div *ngIf="sendMessageForm.get('file').value " class="col-12">
      <br><br>
      <div id="attachement" *ngFor="let file of sendMessageForm.get('file').value; let i = index">
        <p id="attachement-label"> <i
            class="far fa-paperclip mr-1"></i>{{ file.name.length < 20 ? file.name : file.name.substr(0,19) + "..." }}
        </p>
      </div>
    </div>
  </div>
</form>
