<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
  <div class="text-center" type="notificationData.type">
    <i class="fa fa-check" style="font-size: 11px" aria-hidden="true"></i>
    &nbsp;<span class="information-text">{{ notificationData.message }}</span>
  </div>
</ng-template>
<ngx-spinner [fullScreen]="true" type="none" size="medium">
  <div class="card" id="card-gif">
    <div class="card-body">
      <img id="loading-img" [src]="'assets/imgs/Loading-helssy.gif'" />
      <p class="loading">Envoi du message en cours...</p>
    </div>
  </div>
</ngx-spinner>
<form [formGroup]="sendMessageForm">
  <!-- type DropDown-->
  <div
    class="row mb-2"
    *ngIf="messageTypesList && messageTypesList.length !== 0"
  >
    <div class="col-md-2 col-sm-2 col-3">
      <label class="label">Type :</label>
    </div>
    <div class="col-md-10 col-sm-10 col-9">
      <angular2-multiselect
        id="type-dropdown"
        [data]="messageTypesList"
        formControlName="type"
        [settings]="dropdownSettingsTypesList"
        [ngClass]="{
          'is-invalid': submited && ctr.type.errors,
          invalid: submited && ctr.type.errors
        }"
        (click)="onTypeChanged()"
        (onSelect)="onTypeChanged()"
        (onDeSelect)="onTypeChanged()"
        (onOpen)="(null)"
      >
        <c-item>
          <ng-template let-item="item">
            <label>{{ item.text }}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{ item.text }}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
      <div *ngIf="ctr.to.errors" class="invalid-feedback">
        <div *ngIf="ctr.to.errors.required">
          {{ texts.required }}
        </div>
      </div>
    </div>
  </div>

  <!-- To List DropDown-->
  <div class="row mb-2">
    <div class="col-md-2 col-sm-2 col-3">
      <label class="label">À : </label>
    </div>
    <div class="col-md-10 col-sm-10 col-9">
      <angular2-multiselect
        id="to-dropdown"
        [data]="toListParsed"
        formControlName="to"
        [settings]="dropdownSettings"
        [ngClass]="{
          'is-invalid': submited && ctr.to.errors,
          invalid: submited && ctr.to.errors
        }"
        (click)="onObjectChanged()"
        (onSelect)="onObjectChanedSelect()"
        (onDeSelect)="onObjectChanged()"
        (onOpen)="(null)"
      >
        <c-item>
          <ng-template let-item="item">
            <label>{{ item.fullName }}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{ item.fullName }}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
      <div *ngIf="ctr.to.errors" class="invalid-feedback">
        <div *ngIf="ctr.to.errors.required">
          {{ texts.required }}
        </div>
      </div>
    </div>
  </div>

  <!-- CC List DropDown-->
  <div class="row mb-2" *ngIf="isCCListVisible">
    <div class="col-md-2 col-sm-2 col-3">
      <label class="label">CC : </label>
    </div>
    <div class="col-md-10 col-sm-10 col-9">
      <angular2-multiselect
        id="cc-dropdown"
        [data]="ccParsedList"
        formControlName="cc"
        [settings]="dropdownSettings"
        [ngClass]="{
          'is-invalid': submited && ctr.cc.errors,
          invalid: submited && ctr.cc.errors
        }"
      >
        <c-item>
          <ng-template let-item="item">
            <label>{{ item.fullName }}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{ item.fullName }}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
      <div *ngIf="ctr.to.errors" class="invalid-feedback">
        <div *ngIf="ctr.to.errors.required">
          {{ texts.required }}
        </div>
      </div>
    </div>
  </div>

  <!-- for List DropDown-->
  <div
    class="row mb-2"
    *ngIf="
      forListParsed &&
      forListParsed.length !== 0 &&
      showPatientFile &&
      isForListVisible
    "
  >
    <div class="col-md-2 col-sm-2 col-3">
      <label class="label">Pour : </label>
    </div>
    <div class="col-md-10 col-sm-10 col-9">
      <angular2-multiselect
        id="for-dropdown"
        [data]="forFilteredList"
        formControlName="for"
        [settings]="dropdownSettingsForList"
        [ngClass]="{
          'is-invalid': submited && ctr.for.errors,
          invalid: submited && ctr.for.errors
        }"
      >
        <c-item>
          <ng-template let-item="item">
            <label>{{ item.fullName }}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{ item.fullName }}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
      <div *ngIf="ctr.for.errors" class="invalid-feedback">
        <div *ngIf="ctr.for.errors.required">
          {{ texts.required }}
        </div>
      </div>
    </div>
  </div>

  <!-- concerns List DropDown-->
  <div
    class="row mb-2"
    *ngIf="
      isSecretary &&
      concernFilteredList &&
      concernFilteredList.length !== 0 &&
      !isInstruction
    "
  >
    <div class="col-md-2 col-sm-2 col-3">
      <label class="label">{{ texts.concerns }}</label>
    </div>
    <div class="col-md-10 col-sm-10 col-9">
      <angular2-multiselect
        id="concern-dropdown"
        [data]="concernFilteredList"
        formControlName="concerns"
        [settings]="dropdownSettingsConcernList"
        [ngClass]="{
          'is-invalid': submited && ctr.concerns.errors,
          invalid: submited && ctr.concerns.errors
        }"
        (click)="onConcernChanged()"
        (onSelect)="onConcernChanged()"
        (onDeSelect)="onConcernChanged()"
        (onOpen)="(null)"
      >
        <c-item>
          <ng-template let-item="item">
            <label>{{ item.fullName }}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{ item.fullName }}</label>
          </ng-template>
        </c-badge>
      </angular2-multiselect>
      <div *ngIf="ctr.concerns.errors" class="invalid-feedback">
        <div *ngIf="ctr.concerns.errors.required">
          {{ texts.required }}
        </div>
      </div>
    </div>
  </div>

  <hr />

  <!-- object List DropDown-->
  <div
    class="row mb-4"
    *ngIf="(contactType && !isSecretary()) || isInstruction"
  >
    <div class="col-md-2 col-sm-2 col-3">
      <label class="label">{{ texts.object }} : </label>
    </div>
    <div class="col-md-10 col-sm-10 col-9">
      <angular2-multiselect
        id="objects-dropdown"
        [data]="objectsList"
        formControlName="object"
        [settings]="dropdownSettingsListObject"
        [ngClass]="{
          'is-invalid': submited && ctr.object.errors,
          invalid: submited && ctr.object.errors
        }"
        (onSelect)="onObjectChanedSelect()"
        (onDeSelect)="onObjectChanged()"
      >
        <c-item>
          <ng-template let-item="item">
            <label>{{ item.title }}</label>
          </ng-template>
        </c-item>
        <c-badge>
          <ng-template let-item="item">
            <label class="pl-2 pr-2">{{ item.title }}</label>
          </ng-template>
        </c-badge>
        <button class="btn primary-btn">Valider</button>
      </angular2-multiselect>
      <div *ngIf="ctr.object.errors" class="invalid-feedback">
        <div *ngIf="ctr.object.errors.required">
          {{ texts.required }}
        </div>
      </div>
    </div>
  </div>

  <!-- FREE OBJECT -->
  <div
    class="row mb-4"
    *ngIf="
      !isInstruction &&
      (otherObject || !contactType || (isSecretary() && contactType) || newFlag)
    "
  >
    <div class="col-md-2 col-sm-2 col-3">
      <label class="label-free-object">{{ texts.object }} : </label>
    </div>
    <div class="col-md-10 col-sm-10 col-9">
      <input
        formControlName="freeObject"
        class="form-control"
        type="text"
        id="input-free-object"
        [ngClass]="{
          'is-invalid': submited && ctr.freeObject.errors,
          invalid: submited && ctr.freeObject.errors
        }"
      />
      <div *ngIf="ctr.freeObject.errors" class="invalid-feedback">
        <div *ngIf="ctr.freeObject.errors.required">
          {{ texts.required }}
        </div>
      </div>
    </div>
  </div>
  <hr />
  <!-- body with no document-->
  <div class="row mb-2" *ngIf="!ctr.documentBody.value">
    <div class="col-md-12">
      <lib-hls-ckeditor
        id="body"
        [ngClass]="{
          'is-invalid': submited && ctr.body.errors,
          invalid: submited && ctr.body.errors
        }"
        [ctrl]="ctr.body"
      >
      </lib-hls-ckeditor>
      <div *ngIf="ctr.body.errors" class="invalid-feedback">
        <div *ngIf="ctr.body.errors.required">
          {{ texts.required }}
        </div>
      </div>
    </div>
  </div>

  <!-- body with document-->
  <mat-tab-group headerPosition="below" *ngIf="ctr.documentBody.value">
    <mat-tab label="Message">
      <div class="row mb-2">
        <div class="col-md-12">
          <lib-hls-ckeditor
            [ngClass]="{
              'is-invalid': submited && ctr.body.errors,
              invalid: submited && ctr.body.errors
            }"
            [ctrl]="ctr.body"
          >
          </lib-hls-ckeditor>
          <div *ngIf="ctr.body.errors" class="invalid-feedback">
            <div *ngIf="ctr.body.errors.required">
              {{ texts.required }}
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Corp du document">
      <div class="row mb-2">
        <div class="col-md-12">
          <lib-hls-ckeditor
            [ngClass]="{
              'is-invalid': submited && ctr.documentBody.errors,
              invalid: submited && ctr.documentBody.errors
            }"
            [ctrl]="ctr.documentBody"
          >
          </lib-hls-ckeditor>
          <div *ngIf="ctr.documentBody.errors" class="invalid-feedback">
            <div *ngIf="ctr.documentBody.errors.required">
              {{ texts.required }}
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <br />
  <div class="row mb-2">
    <div class="col-5 col-sm-3 col-md-3">
      <button
        *ngIf="!isInstruction"
        id="send-button"
        type="button"
        class="btn btn-primary"
        [attr.disabled]="loading ? true : null"
        (click)="sendEmail()"
      >
        ENVOYER
      </button>
      <button
        *ngIf="isInstruction"
        id="send-button-instruction"
        type="button"
        class="btn btn-primary"
        (click)="sendInstructionEmit()"
      >
        ENVOYER
      </button>
    </div>
    <div class="col-4 col-sm-3 col-md-2 file-clip">
      <svg
        width="1.3em"
        height="1.3em"
        viewBox="0 0 16 16"
        class="bi bi-paperclip fa-paperclip mr-4"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
        onclick="document.getElementById('file-input').click();"
        id="attachement-button"
      >
        <path
          fill-rule="evenodd"
          d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"
        />
      </svg>
      <input
        #fileInput
        [hidden]="true"
        id="file-input"
        type="file"
        (change)="onFileChange($event)"
      />
      <i
        *ngIf="sendMessageForm.get('file').value"
        id="clear-button"
        class="fas fa-trash-alt action-btn"
        (click)="removeAttachment()"
      ></i>
    </div>
    <div
      *ngIf="sendMessageForm.get('file').value"
      class="col-3 col-sm-5 col-md-5 attach"
    >
      <div
        id="attachement"
        *ngFor="let file of sendMessageForm.get('file').value; let i = index"
      >
        <p id="attachement-label">
          <svg
            width="1.3em"
            height="1.3em"
            viewBox="0 0 16 16"
            class="bi bi-paperclip"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"
            />
          </svg>
          {{
            file.name.length < 20 ? file.name : file.name.substr(0, 19) + "..."
          }}
        </p>
      </div>
    </div>
  </div>
</form>
<div
  class="modal fade"
  id="firstModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i
          class="fas fa-times-circle close-icon"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <p>Bonjour {{ this.connectedUser }},</p>
        <p>Vous n'aver pas activé cette option.</p>
        <p>
          L'envoi postal se fait avec notre partenaire Maileva groupe Le Poste
        </p>
        <p>
          Ce service vous est offert par Helssy, seul le coût d'envoi est
          facturé eu tarif postal en vigueur.
        </p>
        <p>
          Le tarif postal inclus la réception, le traitement sécurisé de votre
          ou vos documents, l'Impression, la mise sous pli, l'affranchissement
          et le dépôt à la boite de votre destinataire.
        </p>
        <p>
          Souhaitez-vous activer et rajouter cette option à votre abonnement
          Helssy ?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-ok" (click)="openConfirmModel()">
          OUI
        </button>
        <button type="button" class="btn btn-cancel" data-dismiss="modal">
          NON
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="confirmModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i
          class="fas fa-times-circle close-icon"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <p>Bonjour {{ this.connectedUser }},</p>
        <p>
          Nous vous remercions de bien vouloir valider l'ajout de votre nouvelle
          option &laquo; envoi postal &raquo; à votre abonnement Helssy.
        </p>

        <div class="checkbox-div">
          <label class="checkbox-label" for="confirmChkbx">
            <input
              (change)="checkboxChange($event)"
              type="checkbox"
              id="confirmChkbx"
              name="confirmChkbx"
              class="checkbox-input"
            />&nbsp;Je reconnais avoir pris connaissance des conditions
            générales de vente et d'utilisation</label
          >
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-ok confirm"
          [disabled]="!addOptionConfirmed"
          (click)="activateSenPostalOption()"
        >
          Je valide et signe numériquement mon contrat
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i
          class="fas fa-times-circle close-icon"
          data-dismiss="modal"
          aria-label="Close"
        ></i>
      </div>
      <div class="modal-body">
        <p>Félicitations {{ this.connectedUser }},</p>
        <p>
          Votre option &laquo; envoi postal &raquo; est désormais active et
          opérationnelle sur votre Interface Helssy.
        </p>
        <p>
          Nous vous remercions pour votre confiance et vous souhaitons une bonne
          utilisation
        </p>
        <p>Le service clients</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-ok confirm">
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>
