$color-helssy-grey: #6E819B;
.my-tab-icon {
  margin-right: 8px;
}
a.mat-tab-link{
color: $color-helssy-grey;
font-size: 17px;
font-family: "Segoe UI";
min-width: 255px;
}
.link1 {
  color: $color-helssy-grey !important;
  font-size: 14px;
}

.mat-tab-label {
  color: $color-helssy-grey !important;
}