
$hlessy-dark-grey: #344448;
$hlessy-blue: #2460b4;
$helssy_white: #ffffff;
$color-helssy-grey: #545454;

.mat-tab-nav-bar, .mat-tab-header {
   border-bottom: none;
}
/* Title */
.Mon-compte {
  font-family: Montserrat-Medium;
  font-size: 28px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $hlessy-dark-grey;
  margin-left: 50px;
  margin-top: 50px ;
}
/* Navbar */
.Rectangle {
  border-radius: 14px 14px 0px 0px;
  border-color: $helssy_white;
  box-shadow: 0 0 14px 2px rgba(56, 96, 165, 0.1);
  background-color: $helssy_white;
  margin-left: 50px;
  margin-right: 50px ;
}
.Mes-informations {
  font-family: Montserrat-Medium;
  font-size: 13px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  text-align: left;
}
.my-tab-icon{
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  text-align: left;
  padding: 18px;
}

a.mat-tab-link {
  min-width: 230px;
  color:#5f5f5f;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  color: #1a56a7 ;
}
.mat-tab-label{
  font-family: Montserrat-Medium;
  font-size: 13px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  text-align: center;
}
.actions span{
  font-family: Montserrat-Medium !important;
  font-weight: 1000;
}
