$hlessy-dark-grey: #344448;
$hlessy-blue: #2460b4;
$helssy_white: #ffffff;
$color-helssy-grey: #6e819bd4;
/* Navbar */
.Rectangle {
  border-radius: 6px;
  box-shadow: 0 2px 12px 4px rgba(56, 96, 165, 0.1);
  background-color: $helssy_white;
  min-width: 600px;
}
.Mes-informations {
  font-family: "Segoe UI Medium";
  font-size: 13px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: $hlessy-blue;
  padding: 21px 18px 21px 18px;
}
.fa-icon {
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  text-align: left;
  color: $hlessy-blue;
}
/* Informations */
.Rectangle-body {
  background-color: rgba(242, 242, 242, 0.75);
  min-width: 600px;
}
.col-form-label {
  font-family: "Segoe UI Medium";
  font-size: 12px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  text-align: left;
  color: #4a4a4a;
}
/* Form */
.form-control,
select {
  border-radius: 6px;
  background-color: $helssy_white;
  border-color: $helssy_white;
}
/* Informations */
.custom-card-message {
  padding: unset;
  background-color: rgba(243, 243, 243, 0.5);
}
::ng-deep {
  international-phone-number .form-control {
    height: 30px !important;
    border-color: $helssy_white;
    background-color: $helssy_white;
  }
  international-phone-number .dropdown button.dropbtn.btn,
  button.dropbtn.btn:hover {
    border-color: $helssy_white;
    background-color: $helssy_white;
    padding: 4px !important;
    height: 30px !important;
  }
  international-phone-number .dropdown button.dropbtn.btn .arrow-down {
    bottom: 0px;
    position: relative;
    border-bottom: $helssy_white;
  }
  international-phone-number button.dropbtn.btn {
    pointer-events: unset !important;
  }
}
.btn-icon {
  background-color: #1a56a7;
  border-color: #1a56a7;
  border-radius: 6px;
  color: $helssy_white;
  height: 40px;
  width: 40px;
}
.btn.btn-success {
  // Text CSS
  font-family: "Segoe UI Medium";
  font-size: 14px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  //Button CSS
  height: 40px;
  border-radius: 6px;
  border-color: transparent;
  background-color: #1a56a7;
}
.send-invitation {
  padding-left: 15px;
}
.invitation-text {
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: -0.15px;
  color: rgba(101, 101, 101, 0.8);
  padding-left: 15px;
  font-style: italic;
}
.btn.btn-primary {
  // Text CSS
  font-family: "Segoe UI Medium";
  font-size: 14px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  //Button CSS
  height: 40px;
  border-radius: 6px;
  border-color: transparent;
  background-image: linear-gradient(103deg, #f82e6c, #8c1bab 98%);
}
.btn.btn-cancel {
  // Text CSS
  font-family: "Segoe UI Medium";
  font-size: 14px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: rgba(248, 46, 108, 0.9);
  //Button CSS
  height: 40px;
  border-radius: 6px;
  border: solid 1px #f82e6c;
}
input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 1px;
  border: solid 2px rgba(64, 73, 83, 0.5);
}
input[type="checkbox"]:checked,
input[type="checkbox"]:focus {
  background-color: #1a56a7;
  border-radius: 1px;
  border: solid 2px rgba(64, 73, 83, 0.5);
}

.custom-card-body {
  border-radius: 6px;
  box-shadow: 0 2px 12px 4px rgba(56, 96, 165, 0.1);
  background-color: #ffffff;
  min-width: 471px;
}
.note-text {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #626262;
  padding: 16px;
}

.input-icons i {
  position: absolute;
  padding: 12px;
}
.calender.form-control {
  padding: 6px 6px 6px 50px !important;
}
.card-body-note {
  padding-left: 30px;
  padding-right: 25px;
}
.add-note {
  padding-left: 30px;
  padding-right: 25px;
}
.profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
/* ============= flags of phone component ============ */
::ng-deep {
  international-phone-number .flag {
    background-image: url("assets/imgs/flags.jpg") !important;
  }
}
/* ========== Bootstrap-select selectpicker ============== */
::ng-deep {
  .selectpicker {
    z-index: 99999;
  }
  .btn-light {
    border-radius: 6px;
    background-color: $helssy_white;
    border-color: $helssy_white;
  }

  .bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
  .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    outline: none !important;
  }
}
/* ============================================= */

@media (max-width: 1280px) {
  .Rectangle-body {
    margin-left: 0;
    margin-right: 0;
  }
}
