<lib-hlsLinks [links]="links" [page]="page" [topText]="topText" [bottomText]="bottomText" [number]="number"
  [backButton]="backButton" (selectAllAction)="selectAllActionClicked()"
  (deSelectAllAction)="deSelectAllActionClicked()" (seenAction)="seenActionClicked()"
  (seenAllAction)="seenAllActionClicked()" (importantAction)="importantActionClicked()"
  (deleteAction)="deleteActionClicked()" (archieveAction)="archieveActionClicked()"
  (filterAction)="filterActionClicked($event)" (refreshMessagingListAction)="refreshMessagingList()"
  [paginationText]="pagination.text"
  [isPreviousPageAllowed]="pagination.hasPrevious && !loading"
  [isNextPageAllowed]="pagination.hasNext && !loading"
  (nextPageAction) = "nextPageActionClicked()"
  (previousPageAction) = "previousPageActionClicked()"
  ></lib-hlsLinks>
<div class="card rectangle-custom">
  <div class="card-body custom-card-message">
<lib-hlsMessagingList [list]="filtredItemList" [isSent]="true" (archieveAction)="archieveMessage($event)"
  (cardAction)="cardClicked($event)" [caller]="'forwardedMessage'" [imageSource]="imageSource"></lib-hlsMessagingList>
  </div>
</div>
<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
  <div class="text-center" type="notificationData.type">
    <i class="fa fa-check" style="font-size: 11px;" aria-hidden="true"></i>
    &nbsp;<span>{{ notificationData.message }}</span>
  </div>
</ng-template>
<mat-progress-spinner *ngIf="loading" diameter="20"
mode="indeterminate" value="100"> </mat-progress-spinner>
