.objects {
  padding-top: 130px;
}
#block {
  ::ng-deep {
    #buttons {
      display: flex !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .objects {
    padding-top: 10px;
  }
}
