<a *ngIf="showAlert" id="alert" (click)="close()" class="alert alert-success alert-dismissible fade show pointer"
  role="alert">
  {{ messages.edit_info_success }}
  <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</a>
<a *ngIf="failureAlert" id="FailureAlert" (click)="close()"
  class="alert alert-danger alert-dismissible fade show pointer" role="alert">
  {{ messages.phone_error }}
  <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</a>
<br />
<div class="card">
  <br />
  <div class="row">
    <div class=" col-md-10 form-group title">
      <hr width="3%" color="#ff0063" align="left" />
      <i class="far fa-cog my-tab-icon"><span>&nbsp;&nbsp;{{ messages.my_object }}</span></i>
    </div>
  </div>
  <div class="col-md-10 form-group info">
      {{ messages.info }}
  </div>
  <br />
  <div class="card-body">
    <form [formGroup]="infoForm" (ngSubmit)="(submitted)" #f="ngForm">
      <div class="container">
        <div class="form-group row col-md-12">
          <label for="prohibitPatient" class="col-sm-3 col-form-label">{{
            messages.cible
          }}</label>
          <div class="col-sm-9">
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                id="destination"
                name="destination"
                formControlName="destination"
                value="PRACTICIAN"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="destination">{{
                messages.practician
              }}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                id="customRadioInline2"
                name="destination"
                formControlName="destination"
                value="SECRETARY"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customRadioInline2">{{
                messages.secretary_tls
              }}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                id="customRadioInline3"
                name="destination"
                formControlName="destination"
                value="PATIENT"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customRadioInline3">{{
                messages.patient
              }}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                type="radio"
                id="customRadioInline4"
                name="destination"
                formControlName="destination"
                value="OTHER"
                class="custom-control-input"
              />
              <label class="custom-control-label" for="customRadioInline4">{{
                messages.other
              }}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group row col-md-12">
          <label for="object" class="col-sm-3 col-form-label">{{
            messages.object
          }}</label>
          <div class="col-sm-3">
            <input
              type="text"
              formControlName="object"
              class="form-control m-w-300"
              id="object"
              [ngClass]="{
                'is-invalid': submitted && ctr.object.errors
              }"
            />
            <div *ngIf="submitted && ctr.object.errors" class="invalid-feedback">
              <div *ngIf="ctr.object.errors.required">
                {{ messages.required }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group row col-md-12">
          <label for="content" class="col-sm-3 col-form-label">{{
            messages.content
          }}</label>
          <div class="col-sm-9">
            <hls-ckeditor
              [ngClass]="{
                'is-invalid': submitted && ctr.content.errors
              }"
              [ctrl]="ctr.content"
            ></hls-ckeditor>
            <div *ngIf="submitted && ctr.content.errors" class="invalid-feedback">
              <div *ngIf="ctr.content.errors.required">
                {{ messages.required }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group row col-md-12">
          <label for="allowDocument" class="col-sm-3 col-form-label">{{
            messages.allowDocument
          }}</label>
          <div class="col-sm-9">
            <label class="control control-checkbox">
              <input formControlName="allowDocument" value="false" type="checkbox" (change)= "setRequiredValidatorDocument()"/>
              <div class="control_indicator"></div>
            </label>
          </div>
        </div>
      </div>
      <div class="container" >
        <div class="form-group row col-md-12">
          <label for="documentModelId" class="col-sm-3 col-form-label">{{
            messages.docModel
          }}</label>
          <div class="col-sm-3 ">
            <select
              formControlName="documentModelId"
              class="custom-select m-w-200"
              [ngClass]="{ 'is-invalid': submitted && ctr.documentModelId.errors }"
              id="documentModelId"
            >
              <option [value]="" selected hidden>{{
                messages.title
              }}</option>
              <option *ngFor="let item of documentModelList" [value]="item.id">{{item.title}}</option>
            </select>
            <div
              *ngIf="submitted && ctr.documentModelId.errors"
              class="invalid-feedback"
            >
              <div *ngIf="ctr.documentModelId.errors.required">
                {{ messages.required }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="form-group row col-md-12">
          <label for="docBody" class="col-sm-3 col-form-label">{{
            messages.docBody
          }}</label>
          <div class="col-sm-9">
            <hls-ckeditor
              [ngClass]="{
                'is-invalid': submitted && ctr.docBody.errors
              }"
              [ctrl]="ctr.docBody"
            ></hls-ckeditor>
            <div *ngIf="submitted && ctr.docBody.errors" class="invalid-feedback">
              <div *ngIf="ctr.docBody.errors.required">
                {{ messages.required }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <br /><br /><br /><br />
      <div class="row justify-content-center">
        <button (click)="submit()" type="submit" class="btn btn-primary">
          {{ messages.validate }}
        </button>
        <button (click)="cancel()" class="btn btn-success">
          <i class="far fa-undo-alt">&nbsp;&nbsp;{{ messages.cancel }}</i>
        </button>
      </div>
    </form>
  </div>
