a {
  color: #8ab4f8;
}
::deep {
  .notifier__container {
    color: #fff;
  }
}


.loading{
  color: black;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#loading-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#card-gif{
  border-radius: 28px;
}
