a {
  color: #8ab4f8;
}
::deep {
  .notifier__container {
    color: #fff;
  }
}
@media (min-width: 800px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 71vw;
    }
  }
}
@media (min-width: 850px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 73vw;
    }
  }
}

@media (min-width: 900px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 76vw;
    }
  }
}
@media (min-width: 950px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 83vw;
    }
  }
}

@media (min-width: 1000px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 84vw;
    }
  }
}
@media (min-width: 1050px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 86vw;
    }
  }
}
@media (min-width: 1100px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 88vw;
    }
  }
}
@media (min-width: 1150px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 88vw;
    }
  }
}
@media (min-width: 1200px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 91vw;
    }
  }
}

@media (min-width: 1250px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 92vw;
    }
  }
}

@media (min-width: 1270px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 93vw;
    }
  }
}

@media (min-width: 1350px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 94vw;
    }
  }
}

@media (min-width: 1400px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 96.5vw;
    }
  }
}

@media (min-width: 1500px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 97vw;
    }
  }
}
@media (min-width: 1600px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 99.5vw;
    }
  }
}

@media (min-width: 1700px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 99.3vw;
    }
  }
}

@media (min-width: 1850px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 79.2vw;
    }
  }
}
@media (min-width: 2050px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 78.1vw;
    }
  }
}

.loading{
  color: black;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#loading-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#card-gif{
  border-radius: 28px;
}
