$light-fill: #ffffff;
$sapphire: #1a56a7;
a {
  color: #8ab4f8;
}
::deep {
  .notifier__container {
    color: #fff;
  }
}
@media (min-width: 800px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 71vw;
    }
  }
}
@media (min-width: 850px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 73vw;
    }
  }
}

@media (min-width: 900px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 76vw;
    }
  }
}
@media (min-width: 950px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 83vw;
    }
  }
}

@media (min-width: 1000px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 84vw;
    }
  }
}
@media (min-width: 1050px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 86vw;
    }
  }
}
@media (min-width: 1100px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 88vw;
    }
  }
}
@media (min-width: 1150px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 88vw;
    }
  }
}
@media (min-width: 1200px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 91vw;
    }
  }
}

@media (min-width: 1250px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 92vw;
    }
  }
}

@media (min-width: 1270px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 93vw;
    }
  }
}

@media (min-width: 1350px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 94vw;
    }
  }
}

@media (min-width: 1400px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 96.5vw;
    }
  }
}

@media (min-width: 1500px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 97vw;
    }
  }
}
@media (min-width: 1600px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 99.5vw;
    }
  }
}

@media (min-width: 1700px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 99.3vw;
    }
  }
}

@media (min-width: 1850px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 79.2vw;
    }
  }
}
@media (min-width: 2050px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 78.1vw;
    }
  }
}

.loading {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#loading-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#card-gif {
  border-radius: 28px;
}
.modal-dialog {
  width: 580px !important;
  max-width: 580px !important;
  border-radius: 6px;
}
.modal-content {
  box-shadow: 0 2px 20px 6px rgba(56, 96, 165, 0.3);
  background-color: $light-fill;
}
.modal-header {
  justify-content: center;
  align-items: center;
  border-bottom: 0 none;
}

.modal-footer {
  justify-content: center;
  align-items: center;
  border-top: 0 none;
}
.modal-body {
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  text-align: center;
  color: #1a56a7;
}
.close-icon {
  cursor: pointer;
  color: $sapphire;
  font-size: 33px;
}
.btn.btn-ok {
  width: 120px;
  // Text CSS
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  //Button CSS
  height: 40px;
  border-radius: 6px;
  border-color: #1a56a7;
  background-color: #1a56a7;
  color: white;
}
.btn.btn-cancel {
  width: 120px;
  // Text CSS
  font-family: Montserrat-Medium;
  font-size: 14px;
  font-weight: 1000;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  //Button CSS
  height: 40px;
  color: #1a56a7;
  border-radius: 6px;
  border-color: #1a56a7;
}
.confirm {
  width: auto !important;
}
.checkbox-div {
}
.checkbox-input {
  width: 16px !important;
  height: 16px !important;
  vertical-align: bottom !important;
  position: relative !important;
  *overflow: hidden !important;
}
.checkbox-label {
  display: block !important;
}
