<lib-hlsLinks [links]="links" [page]="page" [topText]="topText" [backButton]="backButton"
  (backButtonAction)="goToBack()"></lib-hlsLinks>
<lib-hls-send-message
  [imageSource]="imageSource"
  [connectedUserType]="connectedUserType"
  [connectedUser]="connectedUser"
  [toList]="toList"
  [ccList]="ccList"
  [forList]="forList"
  [concernList]="concernList"
  [objectsList]="objectsList"
  [selectedObject]="selectedObject"
  [imagedropdown]="imageDropdown"
  [messageTypesList]="sendTypeList"
  [isCCListVisible]="isCCListVisible"
  [isFreeObjectVisible]="isFreeObjectVisible"
  [isObjectSelectVisible]="isObjectSelectVisible"
  [isMessageTypesVisible]="isTypesVisible"
  [isForListVisible]="isForListVisible"
  [isInstruction]="isInstruction"
  (sendEmailAction)="sendMessage($event)"
  (addProContactAction)="addProContactAction()"
  (toListAction)="getSelectedToList($event)"
  (objectAction)="objectSelection($event)"
  (sendInstructionAction)="sendInstruction($event)"
  (typeAction)="typeSelection($event)"></lib-hls-send-message>
<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
  <div class="text-center" type="notificationData.type">
    <i class="fa fa-check" style="font-size: 11px;" aria-hidden="true"></i>
    &nbsp;<span>{{ notificationData.message }}</span>
  </div>
</ng-template>
<ngx-spinner [fullScreen]="true" type="none" size="medium">
  <div class="card" id="card-gif">
    <div class="card-body">
      <img id="loading-img" [src]="'assets/imgs/Loading-helssy.gif'">
      <p class="loading">Envoi du message en cours...</p>
    </div>
  </div>
</ngx-spinner>
