<lib-hlsLinks
  [page]="page"
  [topText]="topText"
  [bottomText]="bottomText"
  [number]="number"
  [messagesNumber]="this.messagesNumber"
  [backButton]="backButton"
  (backButtonAction)="BackButton()"
  [links]="links"
  [paginationText]="searchContext ? '-' : pagination.text"
  [isPreviousPageAllowed]="pagination.hasPrevious && !loading && !searchContext"
  [isNextPageAllowed]="pagination.hasNext && !loading && !searchContext"
  (refreshMessagingListAction)="refreshMessagingList()"
  (nextPageAction)="nextPageActionClicked()"
  (previousPageAction)="previousPageActionClicked()"
  (desarchieveAction)="desarchiveMessages()"
></lib-hlsLinks>
<div class="card rectangle-custom">
  <div class="card-body custom-card-message">
    <lib-hlsMessagingList
      *ngIf="!loading"
      [list]="filtredItemList"
      emptyList="Vous n'avez aucun message archivé actuellement."
      (cardAction)="cardClicked($event)"
      [imageSource]="imageSource"
      [hasPaging]="true"
      (upSortAction)="upSortClicked()"
      (downSortAction)="downSortClicked()"
      [caller]="'archieve'"
    ></lib-hlsMessagingList>
  </div>
</div>

<mat-progress-spinner
  *ngIf="loading"
  diameter="20"
  mode="indeterminate"
  value="100"
>
</mat-progress-spinner>
