<lib-hlsLinks
  [page]="page"
  [topText]="topText"
  [bottomText]="bottomText"
  [number]="number"
  [messagesNumber]="this.messagesNumber"
  [backButton]="backButton"
  (backButtonAction)="BackButton()"
  [links]="links"
  [paginationText]="searchContext ? '-' : pagination.text"
  [isPreviousPageAllowed]="pagination.hasPrevious && !loading && !searchContext"
  [isNextPageAllowed]="pagination.hasNext && !loading && !searchContext"
  (refreshMessagingListAction)="refreshMessagingList()"
  (nextPageAction)="nextPageActionClicked()"
  (previousPageAction)="previousPageActionClicked()"
  (desarchieveAction)="desarchiveMessages()"
  (desarchieveActionClicked)="desarchiveMessagesClicked()"
></lib-hlsLinks>
<div class="card rectangle-custom">
  <div class="card-body custom-card-message">
    <mat-tab-group
      class="links"
      mat-align-tabs="start"
      [backgroundColor]="'primary'"
      (selectedTabChange)="selectedTab($event)"
      [(selectedIndex)]="selectedTabIndex"
    >
      <mat-tab label="TousMessages" [disabled]="loading" >
        <ng-template mat-tab-label>
          <i class="fas fa-inbox my-tab-icon pr-custom-11px"></i>
          <span>Tous mes messages</span>
        </ng-template>
    <lib-hlsMessagingList
      *ngIf="!loading"
      [list]="filtredItemList"
      emptyList="Vous n'avez aucun message archivé actuellement."
      (cardAction)="cardClicked($event)"
      [imageSource]="imageSource"
      [hasPaging]="true"
      (upSortAction)="upSortClicked()"
      (downSortAction)="downSortClicked()"
      [caller]="'archieve'"
    ></lib-hlsMessagingList>
      </mat-tab>
      <mat-tab label="Secrétaire" [disabled]="loading" >
        <ng-template mat-tab-label>
          <i class="fas fa-user-nurse my-tab-icon pr-custom-11px"></i>
          <span>Secrétaire</span>
        </ng-template>
        <lib-hlsMessagingList
          *ngIf="!loading"
          [list]="filtredItemList"
          emptyList="Vous n'avez aucun message archivé actuellement."
          (cardAction)="cardClicked($event)"
          [imageSource]="imageSource"
          [hasPaging]="true"
          (upSortAction)="upSortClicked()"
          (downSortAction)="downSortClicked()"
          [caller]="'archieve'"
        ></lib-hlsMessagingList>
      </mat-tab>
      <mat-tab label="Patients" [disabled]="loading">
        <ng-template mat-tab-label>
          <i class="fas fa-user my-tab-icon pr-custom-11px"></i>
          Patients
        </ng-template>
        <lib-hlsMessagingList
          *ngIf="!loading"
          [list]="filtredItemList"
          emptyList="Vous n'avez aucun message archivé actuellement."
          (cardAction)="cardClicked($event)"
          [imageSource]="imageSource"
          [hasPaging]="true"
          (upSortAction)="upSortClicked()"
          (downSortAction)="downSortClicked()"
          [caller]="'archieve'"
        ></lib-hlsMessagingList>
      </mat-tab>
      <mat-tab label="Praticiens" [disabled]="loading">
        <ng-template mat-tab-label>
          <i class="fas fa-user-md my-tab-icon pr-custom-11px"></i>
          Praticiens
        </ng-template>
        <lib-hlsMessagingList
          *ngIf="!loading"
          [list]="filtredItemList"
          emptyList="Vous n'avez aucun message archivé actuellement."
          (cardAction)="cardClicked($event)"
          [imageSource]="imageSource"
          [hasPaging]="true"
          (upSortAction)="upSortClicked()"
          (downSortAction)="downSortClicked()"
          [caller]="'archieve'"
        ></lib-hlsMessagingList>
      </mat-tab>
    </mat-tab-group>
    <lib-hlsMessagingList
    class="mobile-links"
    *ngIf="!loading"
    [list]="filtredItemList"
    emptyList="Vous n'avez aucun message archivé actuellement."
    (cardAction)="cardClicked($event)"
    [imageSource]="imageSource"
    [hasPaging]="true"
    (upSortAction)="upSortClicked()"
    (downSortAction)="downSortClicked()"
    [caller]="'archieve'"
  ></lib-hlsMessagingList>
  </div>
</div>

<mat-progress-spinner
  *ngIf="loading"
  diameter="20"
  mode="indeterminate"
  value="100"
>
</mat-progress-spinner>
<lib-hlsLinks
  class="mobile-links"
  [page]="page"
  [topText]="topText"
  [bottomText]="bottomText"
  [number]="number"
  [messagesNumber]="this.messagesNumber"
  [backButton]="backButton"
  (backButtonAction)="BackButton()"
  [links]="links"
  [paginationText]="searchContext ? '-' : pagination.text"
  [isPreviousPageAllowed]="pagination.hasPrevious && !loading && !searchContext"
  [isNextPageAllowed]="pagination.hasNext && !loading && !searchContext"
  (refreshMessagingListAction)="refreshMessagingList()"
  (nextPageAction)="nextPageActionClicked()"
  (previousPageAction)="previousPageActionClicked()"
  (desarchieveAction)="desarchiveMessages()"
  (desarchieveActionClicked)="desarchiveMessagesClicked()"
></lib-hlsLinks>
