/* Declaration of css variables */
$helssy-grey: #6e819bd4;
$color-grey: #707070;
$input-color: #f1f1f1;
$border-color: #eaeaea;
$blue-helssy: #41bddf;
$blue-helssy-hover: rgb(52, 165, 196);
$input-color-hover: #d8d6d6;
$color-helssy-pink: #ff0063;
$color-helssy-light-blue: #f6fbfc;
/* End of declaration of css variables */
@media (min-width: 800px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 71vw;
    }
  }
}
@media (min-width: 850px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 73vw;
    }
  }
}

@media (min-width: 900px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 76vw;
    }
  }
}
@media (min-width: 950px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 83vw;
    }
  }
}

@media (min-width: 1000px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 84vw;
    }
  }
}
@media (min-width: 1050px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 86vw;
    }
  }
}
@media (min-width: 1100px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 88vw;
    }
  }
}
@media (min-width: 1150px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 88vw;
    }
  }
}
@media (min-width: 1200px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 91vw;
    }
  }
}

@media (min-width: 1250px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 92vw;
    }
  }
}

@media (min-width: 1270px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 93vw;
    }
  }
}

@media (min-width: 1350px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 94vw;
    }
  }
}

@media (min-width: 1400px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 96.5vw;
    }
  }
}

@media (min-width: 1500px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 97vw;
    }
  }
}
@media (min-width: 1600px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 99.5vw;
    }
  }
}

@media (min-width: 1700px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 99.3vw;
    }
  }
}

@media (min-width: 1850px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 79.2vw;
    }
  }
}
@media (min-width: 2050px) {
  ::ng-deep {
    .notifier__notification--material {
      width: 78.1vw;
    }
  }
}

#messaging-detail {
  color: $helssy-grey;
  max-width: unset !important;
  ::ng-deep .material {
    background-color: $input-color;
    height: 40px;
  }
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
  ::ng-deep .mat-option-text {
    display: inline-table !important;
  }
  ::ng-deep .mat-select-value-text {
    display: inline-flex;
  }
  mat-label {
    display: inline-table;
  }
  .card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 0px #0000000d;
    border-radius: 5px;
    opacity: 1;
  }
  .card-body {
    margin-left: 20px;
    margin-right: 20px;
  }
  a {
    color: $helssy-grey;
    font-size: 14pt;
  }
  .btn {
    border: 1px solid $input-color;
    background-color: $input-color;
    border-radius: 0.2rem;
    box-shadow: none;
    margin-bottom: 15px;
    min-height: 100%;
    min-width: 100%;
    background: #f7f7f7 0% 0% no-repeat padding-box;
  }
  .btn:hover {
    background-color: $input-color-hover;
  }
  .box {
    border: 1px solid $input-color;
    min-width: 200px;
    height: 75px;
    margin-right: 30px;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-content {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center !important;
    align-items: center !important;
  }
  .box-label {
    font-weight: bold;
  }
  .form-inline {
    padding-left: 0px;
    margin-top: 15px;
  }
  label {
    justify-content: left !important;
  }

  input {
    width: 100%;
    height: 40px;
    background: $input-color 0% 0% no-repeat padding-box;
    border: 1px solid $border-color;
    opacity: 1;
    margin-bottom: 3px;
    border-radius: 0rem;
    color: $helssy-grey;
  }
  select {
    width: 100%;
    height: 40px;
    background: $input-color 0% 0% no-repeat padding-box;
    border: 1px solid $border-color;
    opacity: 1;
    margin-bottom: 3px;
    border-radius: 0rem;
    color: $helssy-grey;
  }
  .col-md-4 {
    height: 100%;
  }
  textarea {
    margin-top: 11px;
    background: $input-color 0% 0% no-repeat padding-box;
    border: 1px solid $border-color;
    opacity: 1;
    width: 100%;
    height: 206px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
  }
  .btn-primary {
    background: $blue-helssy 0% 0% no-repeat padding-box;
    border-color: $blue-helssy;
    color: white;
    margin-right: 0px;
    height: 40px;
    margin-bottom: 3px;
    margin-right: 15px;
    border-radius: 5px;
    opacity: 1;
    min-width: auto !important;
    font-size: 10pt;
  }
  .btn-primary:hover {
    background-color: $blue-helssy-hover !important;
    border-color: $blue-helssy-hover !important;
  }
  .fa.fa-paper-plane {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }
  @media only screen and (max-width: 700px) {
    .buttons {
      min-width: 100% !important;
      align-items: center;
      text-align: center;
    }
  }
  .text-icon {
    text-align: left;
    font-weight: Bold;
    font-size: 8px;
    letter-spacing: -0.35px;
    color: $helssy-grey;
    text-transform: uppercase;
    opacity: 1;
  }
  @media (min-width: 100px) {
    .alert-error {
      width: 95.2%;
    }
  }

  @media (min-width: 1500px) {
    .alert-error {
      width: 97%;
    }
  }
  .myInput {
    height: 50px !important;
    padding: 10px !important;
  }
  @media (min-width: 990px) {
    .height-btn {
      height: 57px;
      margin-top: -10px;
      margin-left: -10px;
    }
  }
  // placeholder CSS
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-align: left;
    // font
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: $color-grey;
    opacity: 1;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    text-align: left;
    // font
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: $color-grey;
    opacity: 1;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    text-align: left;
    // font
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
    color: $color-grey;
    opacity: 1;
  }
}
span {
  display: inline-block;
  font-weight: normal;
}
.span1 {
  font-style: italic;
  font-size: 18pt;
  color: $blue-helssy;
}
.span2 {
  font-style: italic;
  font-size: 18pt;
  color: $color-helssy-pink;
}
img {
  margin-right: 10px;
  height: 180px;
  width: 100%;
}
.fa-plus {
  color: $blue-helssy;
  margin-right: 5px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-10 {
  margin-bottom: 10px;
}
p {
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.75px;
  color: $helssy-grey;
  font-weight: normal;
}
.form-group {
  margin-bottom: 10px !important;
}
