<div class="card rectangle-custom">
  <div class="card-body custom-card-message">
    <mat-tab-group
      [(selectedIndex)]="selectedTabIndex"
      [backgroundColor]="'primary'"
      mat-align-tabs="start"
    >
      <mat-tab label="Informations">
        <ng-template id="info-tab" mat-tab-label>
          <i class="fas fa-info my-tab-icon pr-custom-11px"></i>
          <span> {{ labels.info }}</span>
        </ng-template>
        <!-- Patient File information -->
        <div class="card-body">
          <form [formGroup]="personalInfoForm">
            <div class="row">
              <div class="col-12 col-sm-4 col-lg-4 col-md-4 col-xl-4 pr-0 pl-0">
                <!-- civility Field -->
                <label class="col-12 col-sm-12 col-form-label" for="civility">{{
                  labels.civility
                  }}</label>
                <div class="col-12 col-sm-12">
                  <select
                    (change)="changeMaidenName()"
                    [ngClass]="{
                      'is-invalid': submitted && ctr.civility.errors
                    }"
                    class="form-control"
                    formControlName="civility"
                    id="civility"
                  >
                    <option [selected]="true" disabled="true" value="null">
                      {{ labels.civility }}
                    </option>
                    <option value="M">M</option>
                    <option value="MME">Mme</option>
                    <option value="CHILD">Enfant</option>
                  </select>
                  <div
                    *ngIf="submitted && ctr.civility.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ctr.civility.errors.required">
                      {{ errors.required }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4 col-lg-4 col-md-4 col-xl-4 pr-0 pl-0">
                <!-- first name Field -->
                <label
                  class="col-12 col-sm-12 col-form-label"
                  for="firstName"
                >{{ labels.last_name }}</label
                ><div class="col-12 col-sm-12">
                    <input
                      [ngClass]="{
                        'is-invalid': submitted && ctr.lastName.errors
                      }"
                      class="form-control"
                      formControlName="lastName"
                      id="last-name"
                      id="lastName"
                      type="text"
                    />
                    <div
                      *ngIf="submitted && ctr.lastName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="ctr.lastName.errors.required">
                        {{ errors.required }}
                      </div>
                    </div>
                  </div>
                
              </div>
              <div class="col-12 col-sm-4 col-lg-4 col-md-4 col-xl-4 pr-0 pl-0">
                <!-- last name Field -->
                <label
                  class="col-12 col-sm-12 col-form-label"
                  for="last_name"
                >{{ labels.first_name }}</label
                >
                <div class="col-12 col-sm-12">
                    <input
                      [ngClass]="{
                          'is-invalid': submitted && ctr.firstName.errors
                        }"
                      class="form-control"
                      formControlName="firstName"
                      id="first-name"
                      type="text"
                    />
                    <div
                      *ngIf="submitted && ctr.firstName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="ctr.firstName.errors.required">
                        {{ errors.required }}
                      </div>
                    </div>
                  </div>
              </div>

            </div>
            <br/>
            <!-- maidenName  Field -->
            <div *ngIf="displayMaidenName" class="row">
              <div class="col pr-0 pl-0">
                <label
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-form-label"
                  for="maidenName"
                >{{ labels.maiden_name }}</label
                >
                <div class="col-12">
                  <input
                    class="form-control"
                    formControlName="maidenName"
                    id="maidenName"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <br *ngIf="displayMaidenName"/>
            <div class="row">
              <div class="col-12 col-sm-5 pr-0 pl-0">
                <label
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-form-label"
                  for="birthday"
                >{{ labels.birthday }}</label
                >
                <div class="col-12">
                  <input
                    (change)="isInvalidDate($event)"
                    [bsConfig]="{ containerClass: 'theme-dark-blue' }"
                    [maxDate]="maxDatecheck()"
                    [ngClass]="{
                      'is-invalid': submitted && ctr.birthday.errors
                    }"
                    [placement]="placement"
                    bsDatepicker
                    class="form-control"
                    formControlName="birthday"
                    placeholder="{{ labels.birth_date }}"
                    type="text"
                  />
                  <div
                    *ngIf="submitted && ctr.birthday.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ctr.birthday.errors.required">
                      {{ errors.required }}
                    </div>
                  </div>
                  <div *ngIf="isFutureDate" class="invalid-feedback">
                    <div>
                      {{ errors.futureDate }}
                    </div>
                  </div>
                </div>
              </div>
              <!-- Email Field -->
              <div class="col-12 col-sm-7 pr-0 pl-0">
                <label
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-form-label"
                  for="email"
                >{{ labels._email_address }} (*)</label
                >
                <div class="col-12">
                  <input
                    [ngClass]="{
                      'is-invalid': submitted && ctr.email.errors
                    }"
                    class="form-control"
                    formControlName="email"
                    id="email"
                    type="text"
                  />
                  <div
                    *ngIf="submitted && ctr.email.errors"
                    class="invalid-feedback"
                  >
                  <div *ngIf="ctr.email.errors.required">
                      {{ errors.required }}
                    </div>
                    <div *ngIf="ctr.email.errors.email">
                      {{ errors.email_invalid_format }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <!-- Phone number for popup -->
            <div *ngIf="disabled" class="row">
              <div class="col pr-0 pl-0">
                <div class="col-12 col-form-label">{{ labels.phone }}</div>
                <div class="col-12">
                  <international-phone-number
                    [defaultCountry]="''"
                    [maxlength]="20"
                    class="form-control "
                    formControlName="phoneNumber"
                    id="phoneNumber"
                    name="phoneNumber"
                    placeholder="Téléphone ou fixe *"
                  >
                  </international-phone-number>
                </div>
              </div>
            </div>
            <!-- Phone number -->
            <div *ngIf="!disabled" class="row">
              <div class="col col-12 pr-2 pl-0">
                <div class="col-12 col-form-label">{{ labels.phone }}</div>
                <div class="col-12 row">
                  <div class="col-10 col-sm-11">
                    <international-phone-number
                      *ngIf="!isAdd"
                      [defaultCountry]="''"
                      [maxlength]="20"
                      [ngClass]="{
                        'is-invalid': ctr.phoneNumber.errors && submitted
                      }"
                      class="form-control phone"
                      formControlName="phoneNumber"
                      id="phoneNumber"
                      name="phoneNumber"
                      placeholder="Téléphone ou fixe *"
                    >
                    </international-phone-number>
                    <international-phone-number
                      *ngIf="isAdd"
                      [defaultCountry]="'fr'"
                      [maxlength]="20"
                      [ngClass]="{
                        'is-invalid': ctr.phoneNumber.errors && submitted
                      }"
                      class="form-control phone"
                      formControlName="phoneNumber"
                      id="phoneNumber"
                      name="phoneNumber"
                      placeholder="Téléphone ou fixe *"
                    >
                    </international-phone-number>
                    <div *ngIf="
                        ctr.phoneNumber.invalid &&
                        (ctr.phoneNumber.touched|| submitted)  &&
                        ctr.phoneNumber.value.length !== 0
                         "  class="phone-invalid">
                      {{ errors.invalid_phone}}
                    </div>
                  </div>
                  <div class="col-1 col-sm-1 add-phone">
                    <button
                      (click)="addPhone()"
                      class="btn btn-xs btn-icon"
                      id="add-phone-button"
                    >
                      <i class="far fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col col-12 pr-0 pl-0">
                <!-- Other Phones -->
                <div *ngIf="isLabelShow" class="col-12 col-form-label">
                  {{ labels.other_phone }}
                </div>
                <div class="col-12 col-sm-12">
                  <int-phone
                    (phones)="getPhoneList($event)"
                    (validPhones)="submitPhones($event)"
                    [addnewPhone]="addnewPhone"
                    [editList]="otherPhones"
                    [ngClass]="{ 'phones-disabled': disabled }"
                    id="other-phones"
                  >
                  </int-phone>
                </div>
              </div>
            </div>
            <br *ngIf="isLabelShow"/>
            <!-- address Field -->
            <div class="row">
              <div class="col pr-0 pl-0">
                <label
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-form-label"
                  for="address"
                >{{ labels._address }}</label
                >
                <div class="col-12">
                  <input
                    class="form-control"
                    formControlName="address"
                    id="address"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <br/>
            <!-- additional address Field -->
            <div class="row">
              <div class="col pr-0 pl-0">
                <label
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-form-label"
                  for="additionalAddress"
                >{{ labels.additional_address }}</label
                >
                <div class="col-12 col-sm-12">
                  <input
                    class="form-control"
                    formControlName="additionalAddress"
                    id="additionalAddress"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-12 col-sm-5 pr-0 pl-0">
                <!-- zipcode Field -->
                <label
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-form-label"
                  for="zipCode"
                >{{ labels._zip_code }}</label
                >
                <div class="col-12">
                  <input
                    class="form-control"
                    formControlName="zipCode"
                    id="zipCode"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-12 col-sm-7 pr-0 pl-0">
                <!-- city Field -->
                <label
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-form-label"
                  for="city"
                >{{ labels._city }}</label
                >
                <div class="col-12">
                  <input
                    class="form-control"
                    formControlName="city"
                    id="city"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col pr-0 pl-0">
                <label
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-form-label"
                  for="category"
                >{{ labels.category }}</label
                >
                <div class="col-12 col-sm-12">
                  <select
                    class="selectpicker form-control"
                    data-container="body"
                    data-live-search="true"
                    data-none-results-text="Aucune catégorie"
                    formControlName="category"
                    id="category"
                  >
                    <option [selected]="true" disabled="true" value="null">
                      Aucune catégorie
                    </option>
                    <option
                      *ngFor="let item of categoryList | async"
                      [value]="item.id"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <br/>
            <div *ngIf="isAdd" class="row send-invitation">
              <label class="invitation-text" for="invitationStatus">
                <input
                  (change)="onCheckboxChange($event)"
                  formControlName="invitationStatus"
                  type="checkbox"
                />&nbsp;&nbsp; {{ labels.send_invitation }}</label
              >
            </div>
            <br *ngIf="isAdd"/>
            <div
              *ngIf="!disabled"
              class="row justify-content-left"
              id="buttons"
            >
              <div class="col-md-12">
                <button
                  (click)="patientSubmit()"
                  [disabled]="click"
                  class="btn btn-primary col-md-4 mr-4"
                  id="submit-info-button"
                >
                  {{ labels.save }}
                </button>
                <button
                  (click)="cancelActionClicked()"
                  class="btn btn-cancel col-md-4"
                  id="cancel-button"
                >
                  {{ labels.cancel }}
                </button>
              </div>
            </div>
          </form>
          <br/>
          <!-- Linked Patients -->
          <div *ngIf="!isAdd" class="card-body">
            <div class="row">
              <div class="col">
                <i class="far fa-user-plus fa-icon"></i>
                <span class="Mes-informations"
                >{{ labels.attached_info }}
                </span>
              </div>
              <div *ngIf="!disabled" class="col">
                <button
                  (click)="addPerson()"
                  class="btn btn-primary float-right"
                  id="add-attached-button"
                >
                  <i class="fal fa-user-plus">&nbsp;&nbsp;</i
                  >{{ labels.link_patient }}
                </button>
              </div>
            </div>
            <!-- Add Linked Patient -->
            <div *ngIf="isAddPatient" class="card-body pl-0 pr-0">
              <form [formGroup]="addAttachedInfoForm">
                <div class="row">
                  <div class="col-12 col-sm-2">
                    <div
                      class="col-12 col-sm-2 image-container-attached text-center"
                    >
                      <img
                        [src]="
                          attachedImageSource
                            ? attachedImageSource
                            : 'assets/imgs/avatar_homme.svg'
                        "
                        class="profile-picture"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-10">
                    <div class="row">
                      <!-- First name -->
                      <div class="col col-12 col-sm-6">
                        <label class="col-12 col-form-label">{{
                          labels.last_name
                          }}</label>
                        <div class="col-12 pl-0">
                          <input
                            [ngClass]="{
                                'is-invalid':
                                  patientSubmitted && f1.firstName.errors
                              }"
                            class="form-control"
                            formControlName="firstName"
                            id="first-Name-Attached"
                            type="text"
                          />
                          <div
                            *ngIf="patientSubmitted && f1.firstName.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f1.firstName.errors.required">
                              {{ errors.required }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Last name -->
                      <div class="col col-12 col-sm-6">
                        <label class="col-12 col-form-label">{{
                          labels.first_name
                          }}</label>
                        <div class="col-12 pr-0">
                          <input
                            [ngClass]="{
                              'is-invalid':
                                patientSubmitted && f1.lastName.errors
                            }"
                            class="form-control"
                            formControlName="lastName"
                            id="last-Name-Attached"
                            type="text"
                          />
                          <div
                            *ngIf="patientSubmitted && f1.lastName.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f1.lastName.errors.required">
                              {{ errors.required }}
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <br/>
                    <div class="row">
                      <!-- Civility -->
                      <div class="col col-12 col-sm-6">
                        <div class="col-12 col-form-label">
                          {{ labels.civility }}
                        </div>
                        <div class="col-12 pr-0">
                          <select
                            (change)="
                              changeMaidenName2(
                                addAttachedInfoForm.value.civility
                              )
                            "
                            [ngClass]="{
                              'is-invalid':
                                patientSubmitted && f1.civility.errors
                            }"
                            class="form-control"
                            formControlName="civility"
                            id="civility-attached"
                            id="attached-civility"
                          >
                            <option
                              [selected]="true"
                              [value]="null"
                              disabled="true"
                            >
                              {{ labels.civility }}
                            </option>
                            <option
                              *ngFor="let item of civilityList"
                              value="{{ item }}"
                            >
                              {{ item | civility }}
                            </option>
                          </select>
                          <div
                            *ngIf="patientSubmitted && f1.civility.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f1.civility.errors.required">
                              {{ errors.required }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Birthdate -->
                      <div class="col col-12 col-sm-6">
                        <div class="col-12 col-form-label">
                          {{ labels.birthday }}
                        </div>
                        <div class="col-12 pl-0 input-icons">
                          <i class="fa fa-calendar icon"></i>
                          <input
                            (change)="isInvalidDate($event)"
                            [bsConfig]="{ containerClass: 'theme-dark-blue' }"
                            [ngClass]="{
                              'is-invalid':
                                patientSubmitted && f1.birthday.errors
                            }"
                            [placement]="placement"
                            bsDatepicker
                            class="calender form-control"
                            formControlName="birthday"
                            id="attached-birthdate"
                            placeholder="   {{ labels.birthday }}"
                            type="text"
                          />
                          <div
                            *ngIf="patientSubmitted && f1.birthday.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f1.birthday.errors.required">
                              {{ errors.required }}
                            </div>
                            <div *ngIf="f1.birthday.errors.dateVaidator">
                              {{ errors.futureDate }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <!-- Maiden name -->
                    <div *ngIf="displayMaidenName2" class="row">
                      <div class="col col-12 col-sm-12">
                        <label class="col-12 col-form-label">{{
                          labels.maiden_name
                          }}</label>
                        <div class="col-12 pr-0">
                          <input
                            class="form-control"
                            formControlName="maidenName"
                            id="attached-maiden-name"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <br *ngIf="displayMaidenName2"/>
                    <div class="row">
                      <!-- Correspondance field -->
                      <div class="col col-12 col-sm-12">
                        <label class="col-12 col-form-label">{{
                          labels.correspondence
                          }} (*)</label>
                        <div class="col-12">
                          <select
                            (change)="
                              changeCorrespondance(
                                addAttachedInfoForm.value.correspondence
                              )
                            "
                            [ngClass]="{
                              'is-invalid':
                                patientSubmitted && f1.correspondence.errors
                            }"
                            class="form-control"
                            formControlName="correspondence"
                            id="attached-correspondance"
                          >
                            <option
                              [selected]="true"
                              disabled="true"
                              value="null"
                            >
                              {{ labels.correspondence }}
                            </option>
                            <option
                              *ngFor="let item of correspondenceList"
                              value="{{ item }}"
                            >
                              {{ item | correspondence }}
                            </option>
                          </select>
                          <div
                            *ngIf="patientSubmitted && f1.correspondence.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f1.correspondence.errors.required">
                              {{ errors.required }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <!-- Other Corresspondance field -->
                      <div
                        *ngIf="displayOtherCorrespondence"
                        class="col col-12 col-sm-12"
                      >
                        <label
                          class="col-12 col-form-label"
                          for="otherCorrespondence"
                        >{{ labels.otherCorrespondence }}</label
                        >
                        <div class="col-12">
                          <input
                            class="form-control"
                            formControlName="otherCorrespondence"
                            id="attached-otherCorrespondence"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <br *ngIf="displayOtherCorrespondence"/>
                    <!-- Address -->
                    <div class="row">
                      <div class="col">
                        <label class="col-12 col-form-label">{{
                          labels._address
                          }}</label>
                        <div class="col-12">
                          <input
                            class="form-control"
                            formControlName="address"
                            id="attached-address"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <br/>
                    <!-- Additional Address -->
                    <div class="row">
                      <div class="col">
                        <label class="col-12 col-form-label">{{
                          labels.additional_address
                          }}</label>
                        <div class="col-12">
                          <input
                            class="form-control"
                            formControlName="additionalAddress"
                            id="attached-additionalAddress"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <br/>
                    <div class="row">
                      <!-- Zipcode -->
                      <div class="col-12 col-sm-4">
                        <div class="col-12 col-form-label">
                          {{ labels._zip_code }}
                        </div>
                        <div class="col-12 col-sm-12 pr-0">
                          <input
                            class="form-control"
                            formControlName="zipCode"
                            id="attached-zipCode"
                            type="text"
                          />
                        </div>
                      </div>
                      <!-- City -->
                      <div class="col-12 col-sm-8">
                        <div class="col-12 col-form-label">
                          {{ labels._city }}
                        </div>
                        <div class="col-12 col-sm-12 pl-0">
                          <input
                            class="form-control"
                            formControlName="city"
                            id="attached-city"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <br/>
                    <!-- Phone number -->
                    <div class="row">
                      <div class="col col-12">
                        <div class="col-12 col-form-label">
                          {{ labels._phone }}
                        </div>
                        <div class="col-12 principle-phone">
                          <international-phone-number
                            [defaultCountry]="'fr'"
                            [ngClass]="{
                              'is-invalid':
                                patientSubmitted && f1.phoneNumber.errors
                            }"
                            class="form-control"
                            formControlName="phoneNumber"
                            id="attached-phone-number"
                            name="phoneNumber"
                            placeholder="Téléphone ou fixe *"
                          >
                          </international-phone-number>
                          <div
                            *ngIf="
                              f1.phoneNumber.invalid && f1.phoneNumber.touched
                            "
                            class="invalid-feedback"
                          >
                            {{ errors.invalid_phone }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <br/>
                  </div>
                  <br/>
                </div>
                <div class="row justify-content-left">
                  <div class="col-md-12">
                    <button
                      (click)="attachedPatientSubmit()"
                      class="btn btn-primary col-md-4 mr-4"
                      id="submit-info-button"
                    >
                      {{ labels.save }}
                    </button>
                    <button
                      (click)="cancelAddPatient()"
                      class="btn btn-cancel col-md-4"
                      id="cancel-button"
                    >
                      {{ labels.cancel }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <br/>
            <br/>
            <lib-hls-generic-list
              (cardAction)="cardClicked($event)"
              (detailAction)="cardClicked($event)"
              [imageSource]="imageSource"
              [isCheckbox]="false"
              [list]="attachedPatients"
            >
            </lib-hls-generic-list>
            <!-- Update Linked Patient -->
            <div *ngIf="!isList" class="card-body pl-0 pr-0">
              <form [formGroup]="attachedInfoForm">
                <div class="row">
                  <div class="col-12 col-sm-2">
                    <div
                      class="col-12 col-sm-2 image-container-attached text-center"
                    >
                      <img
                        [src]="
                          attachedImageSource
                            ? attachedImageSource
                            : 'assets/imgs/avatar_homme.svg'
                        "
                        class="profile-picture"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-10">
                    <div class="row">
                      <!-- First name -->
                      <div class="col col-12 col-sm-6">
                        <label class="col-12 col-form-label">{{
                          labels.last_name
                          }}</label>
                        <div class="col-12 pl-0">
                          <input
                            [ngClass]="{
                                'is-invalid':
                                  patientUpdated && f2.firstName.errors
                              }"
                            class="form-control"
                            formControlName="firstName"
                            id="first-Name-Attached"
                            type="text"
                          />
                          <div
                            *ngIf="patientUpdated && f2.firstName.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f2.firstName.errors.required">
                              {{ errors.required }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Last name -->
                      <div class="col col-12 col-sm-6">
                        <label class="col-12 col-form-label">{{
                          labels.first_name
                          }}</label>
                        <div class="col-12 pr-0">
                          <input
                            [ngClass]="{
                              'is-invalid': patientUpdated && f2.lastName.errors
                            }"
                            class="form-control"
                            formControlName="lastName"
                            id="last-Name-Attached"
                            type="text"
                          />
                          <div
                            *ngIf="patientUpdated && f2.lastName.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f2.lastName.errors.required">
                              {{ errors.required }}
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <br/>
                    <div class="row">
                      <!-- Civility -->
                      <div class="col col-12 col-sm-6">
                        <div class="col-12 col-form-label">
                          {{ labels.civility }}
                        </div>
                        <div class="col-12 pr-0">
                          <select
                            (change)="
                              changeMaidenName2(attachedInfoForm.value.civility)
                            "
                            [ngClass]="{
                              'is-invalid': patientUpdated && f2.civility.errors
                            }"
                            class="form-control"
                            formControlName="civility"
                            id="civility-attached"
                            id="attached-civility"
                          >
                            <option
                              [selected]="true"
                              [value]="null"
                              disabled="true"
                            >
                              {{ labels.civility }}
                            </option>
                            <option
                              *ngFor="let item of civilityList"
                              value="{{ item }}"
                            >
                              {{ item | civility }}
                            </option>
                          </select>
                          <div
                            *ngIf="patientUpdated && f2.civility.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f2.civility.errors.required">
                              {{ errors.required }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Birthdate -->
                      <div class="col col-12 col-sm-6">
                        <div class="col-12 col-form-label">
                          {{ labels.birthday }}
                        </div>
                        <div class="col-12 pl-0 input-icons">
                          <i class="fa fa-calendar icon"></i>
                          <input
                            (change)="isInvalidDate($event)"
                            [bsConfig]="{ containerClass: 'theme-dark-blue' }"
                            [ngClass]="{
                              'is-invalid': patientUpdated && f2.birthday.errors
                            }"
                            [placement]="placement"
                            bsDatepicker
                            class="calender form-control"
                            formControlName="birthday"
                            id="attached-birthdate"
                            placeholder="   {{ labels.birthday }}"
                            type="text"
                          />
                          <div
                            *ngIf="patientUpdated && f2.birthday.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f2.birthday.errors.required">
                              {{ errors.required }}
                            </div>
                            <div *ngIf="f2.birthday.errors.dateVaidator">
                              {{ errors.futureDate }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br/>
                    <!-- Maiden name -->
                    <div *ngIf="displayMaidenName2" class="row">
                      <div class="col col-12 col-sm-12">
                        <label class="col-12 col-form-label">{{
                          labels.maiden_name
                          }}</label>
                        <div class="col-12 pr-0">
                          <input
                            class="form-control"
                            formControlName="maidenName"
                            id="attached-maiden-name"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <br *ngIf="displayMaidenName2"/>
                    <div class="row">
                      <!-- Correspondance field -->
                      <div class="col col-12 col-sm-12">
                        <label class="col-12 col-form-label">{{
                          labels.correspondence
                          }} (*)</label>
                        <div class="col-12">
                          <select
                            (change)="
                              changeCorrespondance(
                                attachedInfoForm.value.correspondence
                              )
                            "
                            [ngClass]="{
                              'is-invalid':
                                patientUpdated && f2.correspondence.errors
                            }"
                            class="form-control"
                            formControlName="correspondence"
                            id="attached-correspondance"
                          >
                            <option
                              [selected]="true"
                              disabled="true"
                              value="null"
                            >
                              {{ labels.correspondence }}
                            </option>
                            <option
                              *ngFor="let item of correspondenceList"
                              value="{{ item }}"
                            >
                              {{ item | correspondence }}
                            </option>
                          </select>
                          <div
                            *ngIf="patientUpdated && f2.correspondence.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="f2.correspondence.errors.required">
                              {{ errors.required }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <br/>
                      <!-- Other Corresspondance field -->
                      <div
                        *ngIf="displayOtherCorrespondence"
                        class="col col-12 col-sm-12"
                      >
                        <label
                          class="col-12 col-form-label"
                          for="otherCorrespondence"
                        >{{ labels.otherCorrespondence }}</label
                        >
                        <div class="col-12">
                          <input
                            class="form-control"
                            formControlName="otherCorrespondence"
                            id="attached-otherCorrespondence"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <br *ngIf="displayOtherCorrespondence"/>
                    <!-- Address -->
                    <div class="row">
                      <div class="col">
                        <label class="col-12 col-form-label">{{
                          labels._address
                          }}</label>
                        <div class="col-12">
                          <input
                            class="form-control"
                            formControlName="address"
                            id="attached-address"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <br/>
                    <!-- Additional Address -->
                    <div class="row">
                      <div class="col">
                        <label class="col-12 col-form-label">{{
                          labels.additional_address
                          }}</label>
                        <div class="col-12">
                          <input
                            class="form-control"
                            formControlName="additionalAddress"
                            id="attached-additionalAddress"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <br/>
                    <div class="row">
                      <!-- Zipcode -->
                      <div class="col-12 col-sm-4">
                        <div class="col-12 col-form-label">
                          {{ labels._zip_code }}
                        </div>
                        <div class="col-12 col-sm-12 pr-0">
                          <input
                            class="form-control"
                            formControlName="zipCode"
                            id="attached-zipCode"
                            type="text"
                          />
                        </div>
                      </div>
                      <!-- City -->
                      <div class="col-12 col-sm-8">
                        <div class="col-12 col-form-label">
                          {{ labels._city }}
                        </div>
                        <div class="col-12 col-sm-12 pl-0">
                          <input
                            class="form-control"
                            formControlName="city"
                            id="attached-city"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <br/>
                    <!-- Phone number -->
                    <div class="row">
                      <div class="col col-12">
                        <div class="col-12 col-form-label">
                          {{ labels._phone }}
                        </div>
                        <div class="col-12">
                          <international-phone-number
                            [defaultCountry]="'fr'"
                            [ngClass]="{
                              'is-invalid':
                                patientUpdated && f2.phoneNumber.errors,
                                'phones-disabled' : disabled
                            }"
                            class="form-control"
                            formControlName="phoneNumber"
                            id="attached-phone-number"
                            name="phoneNumber"
                            placeholder="Téléphone ou fixe *"
                          >
                          </international-phone-number>
                          <div
                            *ngIf="
                              f2.phoneNumber.invalid && f2.phoneNumber.touched
                            "
                            class="invalid-feedback"
                          >
                            {{ errors.invalid_phone }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <br/>
                  </div>
                  <br/>
                </div>
                <div *ngIf="!disabled" class="row justify-content-left">
                  <div class="col-md-12">
                    <button
                      (click)="attachedPatientupdate()"
                      class="btn btn-primary col-md-4 mr-4"
                      id="submit-info-button"
                    >
                      {{ labels.save }}
                    </button>
                    <button
                      (click)="cancelUpdatePatient()"
                      class="btn btn-cancel col-md-4"
                      id="cancel-button"
                    >
                      {{ labels.cancel }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </mat-tab>
      <!-- Notes -->
      <mat-tab *ngIf="!isAdd && !disabled" label="Notes">
        <ng-template mat-tab-label>
          <i class="fas fa-notes-medical my-tab-icon pr-custom-11px"></i>
          <span>{{ labels.notes }}</span>
        </ng-template>
        <div class="card-body">
          <div class="row add-note">
            <button (click)="addNote()" class="btn btn-success">
              <i class="far fa-plus"></i>&nbsp;&nbsp;{{ labels.add_note }}
            </button>
          </div>
          <br/>
          <div *ngIf="!isnoteList" class="card-body-note">
            <form [formGroup]="noteForm">
              <br/>
              <div class="row">
                <div class="col-7">
                  <label class="col-12 col-form-label" for="date">{{
                    labels.note_date
                    }}</label>
                  <div class="col-12 input-icons">
                    <i class="fa fa-calendar icon"></i>
                    <input
                      [bsConfig]="{
                        containerClass: 'theme-dark-blue',
                        dateInputFormat: 'DD/MM/YYYY'
                      }"
                      [ngClass]="{
                        'is-invalid': noteSubmitted && f.date.errors
                      }"
                      bsDatepicker
                      class="calender form-control"
                      formControlName="date"
                      type="text"
                    />
                    <div
                      *ngIf="noteSubmitted && f.date.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.date.errors.required">
                        {{ errors.required }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- Note Field -->
                  <label class="col-12 col-form-label" for="value">{{
                    labels.note_value
                    }}</label>
                  <div class="col-12">
                    <textarea
                      [ngClass]="{
                        'is-invalid': noteSubmitted && f.value.errors
                      }"
                      class="form-control"
                      formControlName="value"
                      type="text"
                    >
                    </textarea>
                    <div
                      *ngIf="noteSubmitted && f.value.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.value.errors.required">
                        {{ errors.required }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
              <div class="row justify-content-center actions">
                <button
                  (click)="NoteSubmit()"
                  class="btn btn-primary col-md-4 mr-3"
                >
                  {{ labels.save }}
                </button>
                <button
                  (click)="cancelNoteAdd()"
                  class="btn btn-cancel col-md-4"
                >
                  {{ labels.cancel }}
                </button>
              </div>
              <br/>
            </form>
          </div>
          <br *ngIf="!isnoteList"/>
          <lib-hls-generic-list
            (archieveAction)="archieveNote($event)"
            (cardAction)="noteCardClicked($event)"
            [caller]="'notes'"
            [imageSource]="noteimageSource"
            [isCheckbox]="false"
            [list]="noteList"
          >
          </lib-hls-generic-list>
        </div>
      </mat-tab>
      <!-- History -->
      <mat-tab *ngIf="!isAdd && !disabled" label="Historique">
        <ng-template mat-tab-label>
          <i class="fas fa-history my-tab-icon pr-custom-11px"></i>
          {{ labels.history }}
        </ng-template>
        <div
          [ngClass]="popup ? 'without-click' : ''"
          class="card-body justify-content-center"
        >
          <lib-hlsMessagingList
            (cardAction)="messageClicked($event)"
            [hasPaging]="true"
            [hasPaging]="true"
            [imageSource]="imageSource"
            [isCheckbox]="isCheckbox"
            [list]="filtredItemList"
          >
          </lib-hlsMessagingList>
        </div>

        <div
          (scrolled)="onScroll()"
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          class="search-results"
          infiniteScroll
        ></div>
        <mat-progress-spinner
          *ngIf="scroll"
          diameter="20"
          mode="indeterminate"
          value="100"
        >
        </mat-progress-spinner>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
