<ul id="menu-copyrights" class="unstyled txtcenter" >
  <li  class="menu-item"><a class='link-footer' href="{{this.globalService.HELSSY_SITE}}" aria-current="page">Copyright 2020 Helssy – Tous droits réservés</a></li>
  <li  class="menu-item"><a class='link-footer' href="{{this.globalService.CGU_SITE}}">Conditions Générales d’Utilisation</a></li>
  <li  class="menu-item "><a class='link-footer'  href="{{this.globalService.RGPD_SITE}}">RGPD</a></li>
  <li  class="menu-item "><a class='link-footer' href="{{this.globalService.COOKIES_SITE}}">Cookies</a></li>
  <li  class="menu-item "><a class='link-footer' href="{{this.globalService.SITE_MAP}}">Plan du site</a></li>
</ul>
