<lib-hlsLinks
  [page]="page"
  [topText]="topText"
  [bottomText]="''"
  [number]="number"
  [backButton]="backButton"
  (backButtonAction)="goToBack()"
></lib-hlsLinks>
<lib-hlsMessagingDetail
  [imageSource]="imageSource"
  [messagingDetail]="messagingDetail"
  [body]= "bodyObs"
  [role]="role"
  [isReply]="true"
  [senderRolePatient]="messagingDetail.sender.role == 'PATIENT'"
  [objectsList]="objectsList"
  [toList]="toList"
  [refuseResponse]="false"
  [forwardedResponse]="forwardedResponse"
  (sendAction)="replyMessage($event)"
></lib-hlsMessagingDetail>
<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
  <div class="text-center" type="notificationData.type">
    <i class="fa fa-check" style="font-size: 11px;" aria-hidden="true"></i>
    &nbsp;<span>{{ notificationData.message }}</span>
  </div>
</ng-template>
<ngx-spinner [fullScreen]="true" type="none" size="medium">
  <div class="card" id="card-gif">
    <div class="card-body">
      <img id="loading-img" [src]="'assets/imgs/Loading-helssy.gif'">
      <p class="loading">Envoi du message en cours...</p>    </div>
  </div>
</ngx-spinner>
