

.loading{
  color: black;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#loading-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#card-gif{
  border-radius: 28px;
}
