<mat-progress-spinner
  class="spinner"
  *ngIf="loadingReply"
  diameter="20"
  mode="indeterminate"
  value="100"
>
</mat-progress-spinner>
<lib-hls-new-message-detail
  *ngIf="!loadingReply"
  [imageSource]="imageSource"
  [messagingDetail]="messagingDetail"
  [body]="bodyObs"
  [role]="role"
  [isReply]="true"
  [senderRolePatient]="messagingDetail.sender.role == 'PATIENT'"
  [objectsList]="objectsList"
  [toList]="toList"
  [refuseResponse]="refuseResponse"
  [forwardedResponse]="forwardedResponse"
  [disableSending]="disableSending"
  (sendAction)="replyMessage($event)"
  (backButtonAction)="goToBack()"
></lib-hls-new-message-detail>
<ngx-spinner [fullScreen]="true" type="none" size="medium">
  <div class="card" id="card-gif">
    <div class="card-body">
      <img id="loading-img" [src]="'assets/imgs/Loading-helssy.gif'" />
      <p class="loading">Envoi du message en cours...</p>
    </div>
  </div>
</ngx-spinner>
