<br>
<div classs="card-body Rectangle-body">
  <div class="row ml-4">
    <div class="col-md-5" *ngIf="isList">
      <lib-hls-generic-list [list]="itemsList" [isMyPatients]="false" (cardAction)="cardClicked($event)"
        [caller]="'mySecretary'" (detailAction)="cardClicked($event)" [isCheckbox]="false" [imageSource]="imageSource">
      </lib-hls-generic-list>
    </div>
    <div class="col-md-7" *ngIf="selectedSecretary !=null">
      <!-- content for object details -->
      <app-secretary-details [secertaryId]="selectedSecretary"></app-secretary-details>
    </div>
  </div>
  <br />
</div>