<br />
<div class="card">
  <a *ngIf="showAlert" id="alert" (click)="close()" class="alert alert-success alert-dismissible fade show pointer"
    role="alert">
    {{
      isEdit ? messages.edit_secretary_success : messages.add_secretary_success
    }}
    <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </a>
  <br />
  <div class="col-md-12">
    <div class="form-group title">
      <hr width="3%" color="#ff0063" align="left" />
      <i class="far fa-user-cog"><span>&nbsp;&nbsp;{{ messages.my_secretaries }}</span></i>
    </div>
  </div>
  <br />
  <div *ngIf="isList">
    <lib-hlsMessagingList [list]="itemsList" [isMyPatients]="false" (cardAction)="cardClicked($event)"
      (detailAction)="cardClicked($event)" (selectItemAction)="selectItem($event)"
      (archieveAction)="deleteSecretary($event)" [isCheckbox]="false" [imageSource]="imageSource">
    </lib-hlsMessagingList>
    <br />
  </div>
  <div *ngIf="!isList">
    <div class="card-body">
      <form [formGroup]="infoForm" #f="ngForm">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="civility" class="col-sm-3 col-form-label">{{
                  messages.civility
                }}</label>
                <div class="col-sm-9">
                  <select formControlName="civility" class="civility custom-select" [ngClass]="{
                      'is-invalid': submitted && ctr.civility.errors
                    }" id="civility">
                    <option [value]="null" disabled="true" [selected]="true">{{
                      messages.civility
                    }}</option>
                    <option [value]="'M'">M</option>
                    <option [value]="'MME'">Mme</option>
                  </select>
                  <div *ngIf="submitted && ctr.civility.errors" class="invalid-feedback">
                    <div *ngIf="ctr.civility.errors.required">
                      {{ labels.required }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="last_name" class="col-sm-3 col-form-label">{{
                  messages.last_name
                }}</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="last_name" class="form-control" id="last_name" [ngClass]="{
                      'is-invalid': submitted && ctr.last_name.errors
                    }" />
                  <div *ngIf="submitted && ctr.last_name.errors" class="invalid-feedback">
                    <div *ngIf="ctr.last_name.errors.required">
                      {{ labels.required }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="col-sm-2 col-md-2 image-container">
                <img [src]="image ? image : 'assets/imgs/avatar_secrétaire.svg'" alt="Profile"
                  [ngClass]="{ 'border-avatar': !hasImage }" class="avatar image" />

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group row">
                <label for="first_name" class="col-sm-3 col-form-label">{{
                  messages.first_name
                }}</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="first_name" class="form-control" id="first_name" [ngClass]="{
                      'is-invalid': submitted && ctr.first_name.errors
                    }" />
                  <div *ngIf="submitted && ctr.first_name.errors" class="invalid-feedback">
                    <div *ngIf="ctr.first_name.errors.required">
                      {{ labels.required }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">{{
                  messages._email_address
                }}</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="email" class="form-control" id="email"
                    [ngClass]="{ 'is-invalid': submitted }" />
                  <div *ngIf="submitted && ctr.email.errors" class="invalid-feedback">
                    <div *ngIf="ctr.email.errors.required">
                      {{ labels.required }}
                    </div>
                    <div *ngIf="ctr.email.errors.email">
                      {{ labels.email_invalid_format }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group row">
                <label for="phone" class="col-sm-3 col-form-label">{{
                  messages._phone
                }}</label>
                <div class="col-sm-9">
                  <international-phone-number class="form-control disabled phone" id="phone" formControlName="phone"
                    placeholder="Téléphone">
                  </international-phone-number>
                </div>
              </div>
              <div *ngIf="isLabelShow" class="form-group row">
                <label for="other_phone" class="col-sm-3 col-form-label">{{
                  labels.other_phone
                }}</label>
                <div id="otherPhone" class="col-sm-9">
                  <div formArrayName="otherPhones" *ngFor="let p of phoneList.controls; let i = index">
                    <div [formGroupName]="i">
                      <div class="row">
                        <div class="col-sm-8 form-group" [ngClass]="{
                          'is-invalid': submitted && p.controls.phoneNumber.errors
                        }">
                          <international-phone-number class="form-control disabled phone" formControlName="phoneNumber"
                            placeholder="Téléphone" [maxlength]="20"
                            [defaultCountry]="phoneList.at(i).get('id') ? '' : 'fr'">
                          </international-phone-number>
                        </div>
                        <div class="col-sm-4">
                          <input type="text" class="form-control phone" formControlName="note" placeholder="Note" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row justify-content-center">
          <button (click)="cancelAddSecretaryButton()" class="btn btn-success">
            <i class="far fa-undo-alt">&nbsp;&nbsp;{{ messages.cancel }}</i>
          </button>
        </div>
        <div class="row justify-content-center">
          <div *ngIf="errorMessage && errorMessage != ''" class="center margin isa_error">
            <p class="w-100">
              <i class="fa fa-times-circle"></i> {{ errorMessage }}
            </p>
          </div>
          <div *ngIf="successMessage && successMessage != ''" class="center margin isa_success">
            <p class="w-100">
              <i class="fa fa-check-circle"></i> {{ successMessage }}
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br />
</div>
<br />
