<lib-hlsLinks
  [links]="links"
  [page]="page"
  [topText]="topText"
  [bottomText]="bottomText"
  [number]="number"
  [backButton]="backButton"
  (backButtonAction)="BackButton()"
></lib-hlsLinks>

<div class="card">
  <br />
  <div class="card-body">
    <form [formGroup]="infoForm" #f="ngForm">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label for="civility" class="col-sm-3 col-form-label">{{
                messages.civilite
              }}</label>
              <div class="col-sm-9">
                <select
                  formControlName="civility"
                  class="civility custom-select"
                  id="civility"
                >
                  <option [value]="null" disabled="true" [selected]="true">{{
                    messages.civilite
                  }}</option>
                  <option [value]="'M'">M</option>
                  <option [value]="'MME'">MME</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group row">
              <label for="first_name" class="col-sm-3 col-form-label">{{
                labels.first_name
              }}</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  formControlName="first_name"
                  class="form-control"
                  id="first_name"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-sm-3 col-form-label">{{
                messages.phone
              }}</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  formControlName="phone"
                  class="form-control"
                  id="phone"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group row">
              <label for="last_name" class="col-sm-3 col-form-label">{{
                labels.last_name
              }}</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  formControlName="last_name"
                  class="form-control"
                  id="last_name"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">{{
                labels.email_input
              }}</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  formControlName="email"
                  class="form-control"
                  id="email"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
