<lib-hlsLinks [links]="links" [page]="page" [topText]="topText" [bottomText]="bottomText" [number]="number"
  [backButton]="backButton" (backButtonAction)="BackButton()"></lib-hlsLinks>

<div class="card">
  <br />
  <div class="card-body">
    <form [formGroup]="infoForm" #f="ngForm">
      <div class="container">
        <div class="row">
            <div class="col-sm-12 image-container d-md-none text-center mb-3">
              <img [src]="image ? image : 'assets/imgs/avatar_secrétaire.svg'" alt="Profile"
                   [ngClass]="{ 'border-avatar': !hasImage }" class="avatar image" />

            </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label for="civility" class="col-sm-3 col-form-label">{{
                messages.civility
              }}</label>
              <div class="col-sm-9">
                <select formControlName="civility" class="civility custom-select" id="civility">
                  <option [value]="null" disabled="true" [selected]="true">{{
                    messages.civility
                  }}</option>
                  <option [value]="'M'">M</option>
                  <option [value]="'MME'">Mme</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="last_name" class="col-sm-3 col-form-label">{{
                messages.last_name
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="last_name" class="form-control" id="last_name" />
              </div>
            </div>
          </div>
          <div class="col d-none d-md-block">
            <div class="col-sm-2 col-md-2 image-container">
              <img [src]="image ? image : 'assets/imgs/avatar_secrétaire.svg'" alt="Profile"
                [ngClass]="{ 'border-avatar': !hasImage }" class="avatar image" />

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-12 col-md">
            <div class="form-group row">
              <label for="first_name" class="col-sm-3 col-form-label">{{
                messages.first_name
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="first_name" class="form-control" id="first_name" />
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-3 col-form-label">{{
                labels.email_input
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="email" class="form-control" id="email" />
              </div>
            </div>
          </div>
          <div class="col-12 col-md">
            <div class="form-group row">
              <label for="phone" class="col-sm-3 col-form-label">{{
                messages._phone
              }}</label>
              <div class="col-sm-9">
                <international-phone-number class="form-control disabled phone" id="phone" formControlName="phone"
                  placeholder="Téléphone">
                </international-phone-number>
              </div>
            </div>
            <div *ngIf="isLabelShow" class="form-group row">
              <label for="other_phone" class="col-sm-3 col-form-label">{{
                labels.other_phone
              }}</label>
              <div id="otherPhone" class="col-sm-9">
                <div formArrayName="otherPhones" *ngFor="let p of phoneList.controls; let i = index">
                  <div [formGroupName]="i">
                    <div class=" row">
                      <div class=" ml-1 col-sm-7 form-group row">
                        <international-phone-number class="form-control disabled phone" formControlName="phoneNumber"
                          placeholder="Téléphone" [maxlength]="20"
                          [defaultCountry]="phoneList.at(i).get('id') ? '' : 'fr'">
                        </international-phone-number>
                      </div>
                      <div class="col-sm-5">
                        <input type="text" class="form-control phone" formControlName="note" placeholder="Note" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
