.float {
  position: fixed;
  cursor: pointer;
  width: 55px;
  height: 55px;
  bottom: 88px;
  right: 20px;
  background-color: #ff0063;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 20px;
  margin-left: 5px;
}
