<lib-hlsLinks
  [links]="links"
  [page]="page"
  [topText]="topText"
  [bottomText]="bottomText"
  [number]="number"
  [backButton]="backButton"
></lib-hlsLinks>

<div class="col-md-12 search-side"style="visibility: hidden;">
  <div class="col-md-3 form-inline">
    <button class="btn" id="back-button"><i class="far fa-user-md"></i></button>
    <p>
      {{ texts.searchText }}<br />
      <span>{{ text }}</span>
    </p>
  </div>
  <div class="col-md-2 form-inline"style="visibility: hidden;">
    <button class="btn" id="back-button">
      <i class="far fa-map-marker"></i>
    </button>
    <p>
      {{ texts.city }}<br />
      <span>{{ city }}</span>
    </p>
  </div>
  <div class="col-md-2"style="visibility: hidden;">
    <button class="btn" id="edit-button" (click)="edit()">
      <i class="far fa-pen">&nbsp;&nbsp;</i>{{ texts.edit }}
    </button>
  </div>
</div>
<lib-hlsMessagingList
  [list]="itemsList"
  (cardAction)="cardClicked($event)"
  (selectItemAction)="selectItem($event)"
  [isCheckbox]="false"
  [imageSource]="imageSource"
></lib-hlsMessagingList>
<div class="container form-inline">
  <div class="col-md-6">
    <span>
      {{ texts.question }}
    </span>
    <a (click)="sendInvitation()" style="cursor: pointer;">
      {{ texts.response }}
    </a>
  </div>
  <div class="col-md-6 text-right">
    <a
      href="javascript:void(0);"
      id="returnmessagerie"
      class="link1"
      (click)="return()"
      ><i class="far fa-chevron-left">&nbsp;&nbsp;{{ texts.return_chat }}</i></a
    >
  </div>
</div>
