<br />
<div class="card">
  <a *ngIf="showAlert" id="alert" (click)="close()" class="alert alert-success alert-dismissible fade show pointer"
    role="alert">
    {{ messages.edit_info_success }}
    <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </a>
  <a *ngIf="failureAlert" id="FailureAlert" (click)="close()"
    class="alert alert-danger alert-dismissible fade show pointer" role="alert">
    {{ messages.phone_error }}
    <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </a>
  <a *ngIf="updateAlert" id="FailureAlert" (click)="close()"
    class="alert alert-danger alert-dismissible fade show pointer" role="alert">
    {{ messages.update_error }}
    <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </a>
  <br />
  <div class="col-md-12">
    <div class="form-group title">
      <hr width="3%" color="#ff0063" align="left" />
      <i class="far fa-user-cog"><span>&nbsp;&nbsp;{{ messages.my_info }}</span></i>
    </div>
  </div>
  <br />
  <div class="card-body">
    <form [formGroup]="infoForm" (ngSubmit)="(submitted)" #f="ngForm">
      <div class="container">
        <div class="row" *ngIf="!isPractician">
          <div class="col-6">
            <div class="form-group row">
              <label for="civility" class="col-sm-3 col-form-label">{{
                labels.civility
              }}</label>
              <div class="col-sm-9">
                <select formControlName="civility" class="civility custom-select"
                  [ngClass]="{ 'is-invalid': submitted && ctr.civility.errors }" id="civility">
                  <option value="null" disabled="true">{{
                    labels.civility
                  }}</option>
                  <option value="M">M</option>
                  <option value="MME">Mme</option>
                </select>
                <div *ngIf="submitted && ctr.civility.errors" class="invalid-feedback">
                  <div *ngIf="ctr.civility.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="!isPractician">
              <label for="last_name" class="col-sm-3 col-form-label">{{
                labels.last_name
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="last_name" class="form-control" id="last_name" [ngClass]="{
                    'is-invalid': submitted && ctr.last_name.errors
                  }" />
                <div *ngIf="submitted && ctr.last_name.errors" class="invalid-feedback">
                  <div *ngIf="ctr.last_name.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="col-sm-2 col-md-2 image-container">
              <img [src]="image ? image : 'assets/imgs/user.png'" alt="Profile"
                [ngClass]="{ 'border-avatar': !hasImage }" class="avatar image" />
              <div class="middle">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center image-buttons">
                  <div class="row">
                    <label for="file-upload">
                      <i class="far fa-cog fa-lg image-icon">&nbsp; </i>
                    </label>
                    <input id="file-upload" type="file" (change)="selectFileToUpload($event)" />
                  </div>
                  <div class="row mt-1">
                    <a (click)="deletePicture()">
                      <i class="far fa-trash-alt fa-lg image-icon">&nbsp;</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="isPractician">
          <div class="col">
            <div class="form-group row">
              <label for="title" class="col-sm-3 col-form-label">{{ labels.title }}</label>
              <div class="col-sm-9">
                <select formControlName="title" class="civility custom-select"
                  [ngClass]="{ 'is-invalid': submitted && ctr.title.errors }" id="title">
                  <option value="null" disabled="true">{{ labels.title }}</option>
                  <option *ngFor="let item of jobTitlesList" value="{{ item }}">{{ item | JobTitle }}
                  </option>
                </select>
                <div *ngIf="submitted && ctr.title.errors" class="invalid-feedback">
                  <div *ngIf="ctr.title.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="speciality" class="col-sm-3 col-form-label">{{
                labels.speciality
              }}</label>
              <div class="col-sm-9">
                <select formControlName="speciality" class="civility custom-select" [ngClass]="{
                    'is-invalid': submitted && ctr.speciality.errors
                  }" id="speciality">
                  <option value="null" disabled="true">{{ labels.speciality }}</option>
                  <option *ngFor="let s of specialities" [value]="s.id">{{
                    s.name
                  }}</option>
                </select>
                <div *ngIf="submitted && ctr.speciality.errors" class="invalid-feedback">
                  <div *ngIf="ctr.speciality.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="col-sm-2 col-md-2 image-container">
              <img [src]="image ? image : 'assets/imgs/user.png'" alt="Profile"
                [ngClass]="{ 'border-avatar': !hasImage }" class="avatar image" />
              <div class="middle">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 align-self-center image-buttons">
                  <div class="row">
                    <label for="file-upload">
                      <i class="far fa-cog fa-lg image-icon">&nbsp; </i>
                    </label>
                    <input id="file-upload" type="file" (change)="selectFileToUpload($event)" />
                  </div>
                  <div class="row mt-1">
                    <a (click)="deletePicture()">
                      <i class="far fa-trash-alt fa-lg image-icon">&nbsp;</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group row" *ngIf="isPractician">
              <label for="last_name" class="col-sm-3 col-form-label">{{
                labels.last_name
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="last_name" class="form-control" id="last_name" [ngClass]="{
                    'is-invalid': submitted && ctr.last_name.errors
                  }" />
                <div *ngIf="submitted && ctr.last_name.errors" class="invalid-feedback">
                  <div *ngIf="ctr.last_name.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="first_name" class="col-sm-3 col-form-label">{{
                labels.first_name
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="first_name" class="form-control" id="first_name" [ngClass]="{
                    'is-invalid': submitted && ctr.first_name.errors
                  }" />
                <div *ngIf="submitted && ctr.first_name.errors" class="invalid-feedback">
                  <div *ngIf="ctr.first_name.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="!isPractician">
              <label for="email" class="col-sm-3 col-form-label">{{
                labels.email_input
              }}</label>
              <div class="col-sm-9">
                <input disabled type="text" formControlName="email" class="form-control" id="email"
                  [ngClass]="{ 'is-invalid': submitted }" />
                <div *ngIf="submitted && ctr.email.errors" class="invalid-feedback">
                  <div *ngIf="ctr.email.errors.required">
                    {{ labels.required }}
                  </div>
                  <div *ngIf="ctr.email.errors.email">
                    {{ labels.email_invalid_format }}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isPractician" class="form-group row">
              <label for="address" class="col-sm-3 col-form-label">{{ labels.address }} (*)</label>
              <div class="col-sm-9">
                <input type="text" formControlName="address" class="form-control" id="address"
                  [ngClass]="{ 'is-invalid': submitted && ctr.address.errors }" />
                <div *ngIf="submitted && ctr.address.errors" class="invalid-feedback">
                  <div *ngIf="ctr.address.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isPractician" class="form-group row">
              <label for="additional_address" class="col-sm-3 col-form-label">{{
                labels.additional_address
              }}</label>
              <div class="col-sm-9">
                <input type="text" formControlName="additional_address" class="form-control" id="additional_address" />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group row" *ngIf="isPractician">
              <label for="email" class="col-sm-3 col-form-label">{{
                labels.email_input
              }}</label>
              <div class="col-sm-9">
                <input disabled type="text" formControlName="email" class="form-control" id="email"
                  [ngClass]="{ 'is-invalid': submitted }" />
                <div *ngIf="submitted && ctr.email.errors" class="invalid-feedback">
                  <div *ngIf="ctr.email.errors.required">
                    {{ labels.required }}
                  </div>
                  <div *ngIf="ctr.email.errors.email">
                    {{ labels.email_invalid_format }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="phone" class="col-sm-3 col-form-label">{{
                labels.phone
              }}</label>
              <div class="col-sm-8">
                <international-phone-number class="form-control phone" id="phone" formControlName="phone"
                  placeholder="Téléphone" [maxlength]="20" [defaultCountry]=""
                  [ngClass]="{ 'is-invalid': submitted && ctr.phone.errors }">
                </international-phone-number>
                <div *ngIf="submitted && ctr.phone.errors" class="invalid-feedback">
                  <div *ngIf="ctr.phone.errors.required">
                    {{ labels.required }}
                  </div>
                </div>
                <div *ngIf="ctr.phone.invalid" class="invalid-feedback">
                  {{ errors.invalid_phone }}
                </div>
              </div>
              <div class="col-sm-1">
                <button (click)="addPhone()" class="btn btn-xs btn-icon">
                  <i class="far fa-plus"></i>
                </button>
              </div>
            </div>
            <div class="form-group row">
              <label *ngIf="isLabelShow" for="other_phone"
                class="col-sm-3 col-form-label">{{ labels.other_phone }}</label>
              <div id="otherPhone" class="col-sm-9">
                <int-phone [editList]="otherPhones" (phones)="getPhoneList($event)" [addnewPhone]="addnewPhone"
                  (validPhones)="submitPhones($event)">
                </int-phone>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row justify-content-center">
        <button (click)="submit()" type="submit" class="btn btn-primary">
          <i class="fal fa-save">&nbsp;&nbsp; {{ labels.validate }}</i>
        </button>
      </div>
      <div class="row justify-content-center">
        <div *ngIf="errorMessage && errorMessage != ''" class="center margin isa_error">
          <p class="w-100">
            <i class="fa fa-times-circle"></i> {{ errorMessage }}
          </p>
        </div>
        <div *ngIf="successMessage && successMessage != ''" class="center margin isa_success">
          <p class="w-100">
            <i class="fa fa-check-circle"></i> {{ successMessage }}
          </p>
        </div>
      </div>
    </form>
  </div>
</div>

<br />

<div class="card">
  <a *ngIf="showPasswordSuccess" id="alertPasswordSuccess" (click)="close()"
    class="alert alert-success alert-dismissible fade show pointer" role="alert">
    {{ messages.edit_password_success }}
    <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </a>
  <a *ngIf="showPasswordFailure" id="alertPasswordFailure" (click)="close()"
    class="alert alert-danger alert-dismissible fade show pointer" role="alert">
    {{ passwordErrorMessage }}
    <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </a>
  <br />

  <div class="col-md-12">
    <div class="form-group title">
      <hr width="3%" color="#ff0063" align="left" />
      <i class="far fa-lock-open"><span>&nbsp;&nbsp;{{ messages.reset_pwd }}</span></i>
    </div>
  </div>
  <br />

  <div class="card-body">
    <div class="col-md-12">
      <div class="container">
        <form [formGroup]="passwordForm" (ngSubmit)="isPasswordValid && resetPasswordSubmit()">
          <div class="row">
            <div class="col">
              <div class="form-group row">
                <label for="pass" class="col-sm-4 col-form-label">{{
                  messages.new_pwd
                }}</label>
                <div class="col-sm-8">
                  <input type="password" autocomplete="new-password" formControlName="new_password" class="form-control"
                    id="pass" [ngClass]="{
                      'is-invalid': passwordSubmitted && f2.new_password.errors
                    }" />
                  <div *ngIf="passwordSubmitted && f2.new_password.errors" class="invalid-feedback">
                    <div *ngIf="f2.new_password.errors.required">
                      {{ errors.required }}
                    </div>
                    <div *ngIf="f2.new_password.errors.minlength">
                      {{ errors.min_length }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="form-group row">
                <label for="confirmpass" class="col-sm-4 col-form-label">{{
                  messages.confirm_pwd
                }}</label>
                <div class="col-sm-8">
                  <input type="password" autocomplete="new-password" class="form-control"
                    formControlName="confirm_password" id="confirmpass" [ngClass]="{
                      'is-invalid':
                        passwordSubmitted && f2.confirm_password.errors
                    }" />
                  <div *ngIf="passwordSubmitted && f2.confirm_password.errors" class="invalid-feedback">
                    <div *ngIf="f2.confirm_password.errors.required">
                      {{ errors.required }}
                    </div>
                    <div *ngIf="f2.confirm_password.errors.mustMatch">
                      {{ errors.must_match }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <lib-hls-password-strength id="checkstrength" [passwordToCheck]="passwordForm.value.new_password"
              (passwordStrength)="passwordValid($event)">
            </lib-hls-password-strength>
          </div>
          <br />
          <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary">
              <i class="fal fa-save">&nbsp;&nbsp; {{ labels.validate }}</i>
            </button>
          </div>
        </form>
        <br />
      </div>
    </div>
  </div>
</div>