// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

@font-face {
  font-family: "Segoe UI Bold";
  src: url("./assets/fonts/Segoe/Segoe-UI-Bold.ttf");
}

@font-face {
  font-family: "Segoe UI Medium";
  src: url("./assets/fonts/Segoe/Segoe-UI-Medium.ttf");
}


@font-face {
  font-family: "Segoe UI ";
  src: url("./assets/fonts/Segoe/Segoe-UI.TTF");
}

@font-face {
  font-family: "Gotham Medium";
  src: 
      url("./assets/fonts/Gotham-Medium/Gotham-Medium.ttf") format('truetype'),
      url("./assets/fonts/Gotham-Medium/Gotham-Medium.woff") format('woff'),
      url("./assets/fonts/Gotham-Medium/Gotham-Medium.woff2") format('woff2'),
      url("./assets/fonts/Gotham-Medium/Gotham-Medium.eot");
      font-weight: normal;
      font-style: normal;
}

@font-face {
  font-family: "Gotham Bold";
  src: url("./assets/fonts/Gotham-Bold/Gotham-Bold.ttf") format('truetype'),
       url("./assets/fonts/Gotham-Bold/Gotham-Bold.woff") format('woff'),
       url("./assets/fonts/Gotham-Bold/Gotham-Bold.woff2") format('woff2'),
       url("./assets/fonts/Gotham-Bold/Gotham-Bold.eot");
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./assets/fonts/Gotham-Book/Gotham-Book.ttf") format('truetype'),
       url("./assets/fonts/Gotham-Book/Gotham-Book.woff") format('woff'),
       url("./assets/fonts/Gotham-Book/Gotham-Book.woff2") format('woff2'),
       url("./assets/fonts/Gotham-Book/Gotham-Book.eot");
       font-weight: normal;
       font-style: normal;
}

@import "~angular-notifier/styles/core.scss";
@import "~angular-notifier/styles.scss";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$custom-typography: mat-typography-config(
  $font-family: "Segoe UI",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$patient-primary: mat-palette($mat-indigo);
$patient-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$patient-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$patient-theme: mat-light-theme(
    $patient-primary,
    $patient-accent,
    $patient-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($patient-theme);

/* You can add global styles to this file, and also import other style files */
html *
{
   font-family: "Segoe UI";
}
html,
body {
  margin: 0;
  background-image: url("assets/imgs/Background_helssy.svg");
  background-color: #ffffff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  background-position-x: right;
  @media (min-width: 400px) {
    zoom: 90%;
  }
  @media (min-width: 1920px) {
    zoom: 100%;
  }
}

input,
select,
textarea {
  font-family: "Segoe UI" !important;
}

a {
  text-decoration: unset;
}

.modal-backdrop {
  width: 100% !important;
  height: 100% !important;
}

.m-r-70 {
  margin-right: 50px !important;
}

/* for dialog pop-up */

.btn-dialog-close {
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

/* mat-confirm-dialog (customised dialog) */
.confirm-dialog-container .mat-dialog-container {
  box-shadow: 0px 2px 0px #0000000d;
  border-radius: 23px;
  opacity: 1;
  padding: 0px;
}

.patient-file-container .mat-dialog-container {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 20px #0000000D;
  opacity: 1;
  padding-top: 5px;
}
.close {
  color: #bcbcbc !important;
}

.confirm-dialog-container .content-container, .patient-file-container .content-container{
  margin: 20px 5px 15px 5px;
  color: #bcbcbc;
  display: flex;
  text-align: center;
}

.confirm-dialog-container #close-icon,.patient-file-container #close-icon  {
  text-align: left;
  font-size: 20px;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 30px;
  padding-top: 3px;
  padding-left: 2px;
  margin-right: 12px;
}

.confirm-dialog-container #close-icon:hover, .patient-file-container #close-icon:hover {
  cursor: pointer;
}

.confirm-dialog-container #yes-button {
  width: 214px;
  height: 42px;
  background: #ff0063 0% 0% no-repeat padding-box;
  border-radius: 23px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.confirm-dialog-container #no-button {
  width: 214px;
  height: 42px;
  background: #bcbcbc 0% 0% no-repeat padding-box;
  border-radius: 23px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.confirm-dialog-container p.content-p {
  text-align: center;
  font-size: 16px;
  font-weight: Bold;
  letter-spacing: 0px;
  color: #6e819bd4;
  opacity: 1;
}

.confirm-dialog-container span.title-span   {
  font-size: 17px;
  font-weight: Bold;
  letter-spacing: 0px;
  color: #6e819bd4;
  opacity: 1;
  text-transform: uppercase;
}
.patient-file-container span.title-span  {
  font-size: 25px;
  font-weight: Bold;
  text-align: left;
  letter-spacing: -1.1px;
  color: #6E819B;
  opacity: 1;
  float: left;
}

.group-element {
  text-align: center;
  padding-top: 14px;
}

.btn-space {
  margin-right: 15px;
}

::ng-deep {
  international-phone-number .form-control {
    height: 30px !important;
    border-color: #f1f1f1;
    background-color: #f1f1f1;
  }

  international-phone-number .dropdown button.dropbtn.btn, button.dropbtn.btn:hover {
    border-color: #f1f1f1;
    background-color: #f1f1f1;
    padding: 4px !important;
    height: 30px !important;
  }

  international-phone-number .dropdown button.dropbtn.btn .arrow-down {
    border-bottom: #f1f1f1;
  }

}

.m-px-12-5 {
margin-left: 12.5px;
}

/* ======= Override  international-phone-number component style ======= */

.dropbtn .flag {
  margin-right: 0.2em;
}

.dropbtn.btn .arrow-down {
  margin-top: 0.55em;
  top: 0 !important;
  -webkit-transform: none !important;
  transform: none !important;
  position: unset;
  border-bottom: unset;
}

.flagInput {
  margin-right: 0.16em;
}

/* ====================================================================== */

/* ============== Material radio buttons override style ================= */

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #41bddf;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:rgb(66, 134, 244);
  background-color: #41bddf ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgb(66, 134, 244);
}
/* ====================================================================== */
