// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.
@font-face {
  font-family: "Gotham-Medium";
  src: url("./assets/fonts/GOTHAM-MEDIUM.TTF");
}
@font-face {
  font-family: "Gotham-book";
  src: url("./assets/fonts/GothamBook.ttf");
}
@import "~angular-notifier/styles/core.scss";
@import "~angular-notifier/styles.scss";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$custom-typography: mat-typography-config(
  $font-family: "Gotham-book",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$patient-primary: mat-palette($mat-indigo);
$patient-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$patient-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$patient-theme: mat-light-theme(
  $patient-primary,
  $patient-accent,
  $patient-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($patient-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f7f7f7 !important;
  @media (min-width: 400px) {
    zoom: 80%;
  }
  @media (min-width: 1920px) {
    zoom: 100%;
  }
}
.modal-backdrop {
  width: 100% !important;
  height: 100% !important;
}
