// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "styles/multiselect";
// Plus imports for other components in your app.
/*** New fonts Montserrat **/
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 1000 !important;
  font-style: normal;
  font-stretch: normal;

}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@import "~angular-notifier/styles/core.scss";
@import "~angular-notifier/styles.scss";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

$custom-typography: mat-typography-config(
  $font-family: "Montserrat",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);
@include mat-core($custom-typography);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$patient-primary: mat-palette($mat-indigo);
$patient-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$patient-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$patient-theme: mat-light-theme($patient-primary, $patient-accent, $patient-warn);

$gradient: linear-gradient(102deg, #f761a1, #8c1bab 98%);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($patient-theme);

/* You can add global styles to this file, and also import other style files */
$helssy-blue: #1a56a7;
$helssy-light-blue: #2460b4;
$helssy-white: #fff;
$helssy-grey: #5f5f5f;
html,
body {
  margin: 0;
  @media (min-width: 400px) {
    zoom: 90%;
  }
  @media (min-width: 1920px) {
    zoom: 100%;
  }
  background-color: #fbfbfb;
}
input,
select,
textarea {
  font-family: "Montserrat" !important;
}

a {
  text-decoration: unset;
}

.modal-backdrop {
  width: 100% !important;
  height: 100% !important;
}

.m-r-70 {
  margin-right: 50px !important;
}

/* for dialog pop-up */

.btn-dialog-close {
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
}

/* mat-confirm-dialog (customised dialog) */
.confirm-dialog-container .mat-dialog-container {
  box-shadow: 0px 2px 0px #0000000d;
  border-radius: 23px;
  opacity: 1;
  padding: 0px;
}

.patient-file-container .mat-dialog-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 20px #0000000d;
  opacity: 1;
  padding-top: 5px;
}
.close {
  color: #bcbcbc !important;
}

.confirm-dialog-container .content-container,
.patient-file-container .content-container {
  margin: 20px 5px 15px 5px;
  color: #bcbcbc;
  display: flex;
  text-align: center;
}

.confirm-dialog-container #close-icon,
.patient-file-container #close-icon {
  text-align: left;
  font-size: 20px;
  background: #f1f1f1 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 30px;
  padding-top: 3px;
  padding-left: 2px;
  margin-right: 12px;
}

.confirm-dialog-container #close-icon:hover,
.patient-file-container #close-icon:hover {
  cursor: pointer;
}

.confirm-dialog-container #yes-button {
  width: 214px;
  height: 42px;
  background: #ff0063 0% 0% no-repeat padding-box;
  border-radius: 23px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.confirm-dialog-container #no-button {
  width: 214px;
  height: 42px;
  background: #bcbcbc 0% 0% no-repeat padding-box;
  border-radius: 23px;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.confirm-dialog-container p.content-p {
  text-align: center;
  font-size: 16px;
  font-weight: Bold;
  letter-spacing: 0px;
  color: #6e819bd4;
  opacity: 1;
}

.confirm-dialog-container span.title-span {
  font-size: 17px;
  font-weight: Bold;
  letter-spacing: 0px;
  color: #6e819bd4;
  opacity: 1;
  text-transform: uppercase;
}
.patient-file-container span.title-span {
  font-size: 25px;
  font-weight: Bold;
  text-align: left;
  letter-spacing: -1.1px;
  color: #6e819b;
  opacity: 1;
  float: left;
}

.group-element {
  text-align: center;
  padding-top: 14px;
}

.btn-space {
  margin-right: 15px;
}

::ng-deep {
  international-phone-number .form-control {
    height: 30px !important;
    border-color: #f1f1f1;
    background-color: #f1f1f1;
  }

  international-phone-number .dropdown button.dropbtn.btn,
  button.dropbtn.btn:hover {
    border-color: #f1f1f1;
    background-color: #f1f1f1;
    padding: 4px !important;
    height: 30px !important;
  }

  international-phone-number .dropdown button.dropbtn.btn .arrow-down {
    border-bottom: #f1f1f1;
  }
}

.m-px-12-5 {
  margin-left: 12.5px;
}

/* ======= Override  international-phone-number component style ======= */

.dropbtn .flag {
  margin-right: 0.2em;
}

.dropbtn.btn .arrow-down {
  margin-top: 0.55em;
  top: 0 !important;
  -webkit-transform: none !important;
  transform: none !important;
  position: unset;
  border-bottom: unset;
}

.flagInput {
  margin-right: 0.16em;
}

/* ====================================================================== */

/* ============== Material radio buttons override style ================= */

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #41bddf;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  color: rgb(66, 134, 244);
  background-color: #41bddf;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: rgb(66, 134, 244);
}
/* ====================================================================== */

.mat-checkbox-ripple .mat-ripple-element,.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $helssy_blue;

}

.mat-checkbox-inner-container {
  height: 18px !important;
  width: 18px !important;
}

.mat-checkbox-layout {
 margin-bottom: unset;
}

.rectangle-custom {
  border-radius: 14px !important;
  box-shadow: 0 0 14px 2px rgba(56, 96, 165, 0.1);
  background-color: $helssy-white;
  border: none !important;
  width: 96.7%;
}

.custom-card-message {
  padding: unset !important;
  background-color: rgba(243, 243, 243, 0.5);
}


/* ============= Mat-tab styles overrides =========== */

.mat-tab-header {
  background-color:$helssy-white  !important;
  border-radius: 20px 20px 0 0 !important;
}

.mat-tab-label-active {
  color: $helssy-light-blue !important;
}

.mat-tab-group.mat-background-primary .mat-tab-label {
  color: $helssy-grey ;
  font-family: Montserrat-Medium !important;
  font-size: 13px !important;
  font-weight: 1000 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: -0.18px !important;
  text-align: center !important;
  margin-left: 8.3%;
  opacity: unset;
}

//#mat-tab-label-0-0, #mat-tab-label-1-0 {
//  margin-left: 0;
//}
 [aria-posinset = "1"] {
   margin-left: 23px !important;
 }

.mat-tab-group {
 border-radius: 54px !important;
}

.mat-ink-bar {
  background-color: $helssy-light-blue !important;
  height: 5px  !important;
  margin-left: 6px;
}
.mat-tab-body-content {
  overflow: hidden !important;
}


/* ================================================== */



/* ============= custom size styles ============ */

.pr-custom-11px {
  padding-right: 11px;
}

/* ============================================= */

//success message
.notifier__notification--material {
  height: 63px;
  background-image: $gradient;
  line-height: 39px;
  font-weight: 1000;
  border-radius: 27px 27px 0 27px;
}
