<div class="card-body Rectangle-body">
  <div class="card-body">
    <div class="row m-b-40">
      <div
        class="chart col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 justify-content-center border_"
      >
        <br />
        <div class="chart-title">{{ messages.received }}</div>
        <br />
        <app-apx-pie [position]="'right'" [stats]="receivedMap"></app-apx-pie>
      </div>
      <div
        class="chart col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 justify-content-center"
      >
        <br />
        <div class="chart-title">{{ messages.sent }}</div>
        <br />
        <app-apx-pie [position]="'right'" [stats]="sentMap"></app-apx-pie>
      </div>
    </div>
    <div class="row">
      <div
        class="chart col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 justify-content-center border_"
      >
        <br />
        <div class="chart-title">{{ messages.postal_stat }}</div>
        <br />
        <app-apx-pie [position]="'right'" [stats]="sentPostalMap"></app-apx-pie>
      </div>
      <div
        class="chart col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 justify-content-center"
      >
        <br />
        <div class="chart-title">{{ messages.others }}</div>
        <br />
        <app-apx-pie [position]="'right'" [stats]="othersMap"></app-apx-pie>
      </div>
    </div>
  </div>
</div>
