/* Informations */
.Rectangle-body {
  background-color: rgba(243, 243, 243, 0.5);
  margin-left: 50px;
  margin-right: 50px;
}
.chart {
  height: 500px;
  min-height: 500px;
  max-height: 500px;
}
.border_ {
  border-right: 2px solid #e1e8f3;
}

.chart-title {
  font-family: Montserrat-Medium;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.42px;
  text-align: center;
  margin: 0 auto;
  color: #4a4a4a;
  //  margin-left: 60px;
}
.center_ {
  margin: 0 auto;
  width: 600px;
}

@media (max-width: 768px) {
  .Rectangle-body {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .border_ {
    border-right: 0;
  }
}
