$color-helssy-pink: #ff0063;
$color-helssy-blue: #1a56a7;
$color-hlessy-grey: #707070;
$color-helssy-white: #ffffff;

/* Begin Background image in large screen */
@media (min-width: 1100px) {
  .card {
    float: right;
    .card-body {
      margin-left: -35%;
    }
  }
  section {
    width: 100%;
    float: left;
    background-image: url("assets/imgs/home-page.png");
    background-color: $color-helssy-white;
    background-repeat: no-repeat;
    background-position: left;
    height: 100%;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
    height: 100%;
  }
}
/* End Background CSS */
/* Logo CSS*/

#helssy-logo {
  display: block;
  cursor: pointer;
  height: 50px;
  width: auto;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* End Logo CSS */

/* Begin Content  CSS */
.card {
  border: 0px;
  opacity: 1;
  height: 100%;
}

@media (max-width: 399px) {
  .hls-connexion {
    margin-left: 0%;
    margin-top: 50px;
  }
}

@media (min-width: 400px) {
  .hls-connexion {
    margin-left: 5%;
    margin-top: 50px;
  }
}

@media (min-width: 700px) and (orientation: portrait) {
  .hls-connexion {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
  }
  .links {
    margin-left: 0%;
    margin-right: 5%;
  }
}

@media (max-width: 798px) and (orientation: landscape) {
  .hls-connexion {
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
  }
  .links {
    margin-left: 0%;
    margin-right: 5%;
  }
}
@media (min-width: 799px) and (orientation: landscape) {
  .hls-connexion {
    margin-top: 70px;
    margin-left: 30%;
    margin-right: 20%;
  }
  .links {
    margin-left: 3%;
    margin-right: 5%;
  }
}
@media (min-width: 1025px) and (orientation: landscape) {
  .hls-connexion {
    margin-top: 70px;
    margin-left: 30%;
    margin-right: 20%;
  }
  .links {
    margin-left: 15%;
    margin-right: 5%;
  }
}
/* End Content CSS */

/* Begin Links CSS */
p {
  text-align: center;
  font-size: 18px;
  font-family: "Segoe UI";
  line-height: 25px;
  letter-spacing: 0;
  color: $color-hlessy-grey;
}

a {
  font-size: 18px;
  font-family: "Segoe UI";
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 0;
  cursor: pointer;
}
a.pink {
  color: $color-helssy-pink;
}
a.blue {
  color: $color-helssy-blue;
}
a:visited {
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

/* End Links CSS */

@media (min-width: 400px) {
  .card-body {
    height: 772px;
  }
}

@media (min-width: 800px) {
  .card-body {
    height: 772px;
  }
}

@media (min-width: 1350px) {
  .card-body {
    height: 772px;
  }
}

@media (min-width: 1850px) {
  .card-body {
    height: 937px;
  }
}
