$color-helssy-pink: #ff0063;
$color-helssy-blue: #1a56a7;
$color-hlessy-grey: #707070;
$color-helssy-white: #ffffff;

/* Begin Background image in large screen */

/* Begin Background image in large screen */
#helssy-logo {
  cursor: pointer;
  top: 30px;
  width: 196px;
  height: 53px;
  opacity: 1;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media (min-width: 768px) {
  .patient-img {
    float: left;
    background: unset;
    border: unset;
    opacity: 1;
    top: 50px;
  }
}
@media (min-width: 1100px) {
  .my-container {
    overflow-y: auto;
    background-color: white !important;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    background-image: url("assets/imgs/background_login.svg");
    background-color: $color-helssy-white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    -moz-background-size: contain;
    background-position-x: -150px;
    background-position-y: 100%;
  }
  .patient-img {
    float: left;
    background: unset;
    border: unset;
    opacity: 1;
    top: 50px;
  }

  .card-body {
    border: 0px;
    opacity: 1;
    width: 100% !important;
    height: 100% !important;
  }
}
#practicien-bt-link {
  cursor: unset;
  margin-left: 20px;
  margin-top: 30px;
  background: linear-gradient(103deg, #f82e6c, #8c1bab 98%);
  border: none;
  border-radius: 90px;
  opacity: 1;
  text-align: center;
  font-family: "Montserrat-Medium";
  font-size: 16px;
  letter-spacing: 0px;
  width: 333px;
  height: 45px;

  color: #ffffff;
}
#patient-acces {
  margin-left: 183px;
  border-radius: 90px;
  margin-top: 30px;
  opacity: 1;
  width: 220px;
  height: 45px;
  text-align: center;
  font-family: "Montserrat-Medium";
  font-size: 17px;
  letter-spacing: 0px;
  color: #1a56a7;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #1a56a7;
}
@media (max-width: 767px) {
  .custom-footer-width {
    max-width: unset !important;
    flex: unset !important;
    margin-left: 11% !important;
    margin-right: 11% !important;
  }
  .custom-width-img {
    width: 55% !important;
    margin-left: 22% !important;
  }
  .ml-custom-50 {
    margin-bottom: 25px !important;
    margin-left: 8% !important;
  }
  .stores {
    display: flex;
    justify-content: center;
  }
  .col-sm-6 {
    margin-bottom: 15px;
  }
}
@media (min-width: 1418px) {
  .display-lg {
    display: unset;
  }
  .display-lg-top {
    display: unset;
  }
  .patient-img {
    left: 304px !important;
  }
  .description {
    display: none;
  }
}

@media (max-width: 1417px) {
  .img-login {
    width: 100%;
  }
  .top-login {
    flex-flow: wrap-reverse;
  }
  .display-lg-top {
    display: none;
  }
  .change-width {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .ml-custom-50 {
    margin-right: 6% !important;
  }
  .ml-custom-footer {
    margin-left: 10% !important;
  }
  .custom-footer-width {
    max-width: 20%;
    flex: 0 0 20%;
  }
  .patient-img {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .card-body {
    padding: 0;
  }
  .w-75 {
    display: none !important;
  }
  .description {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .font-montserrat {
    line-height: 2;
  }
}
/* End Logo CSS */

/* Begin Content  CSS */
.card {
  border: 0px;
  opacity: 1;
  width: 100% !important;
  height: 100% !important;
}
.bg-image {
  background: url("assets/imgs/background_login.svg");
  overflow-y: auto;
  background-color: white !important;
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  background-position-x: -150px;
  background-position-y: 100%;
}

.card-body {
  border: 0px;
  opacity: 1;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 417px) {
  .card-body {
    padding: 0;
  }
}
// begin footer css
.link-footer {
  font-size: 16px;
  font-family: "Montserrat";
  letter-spacing: 0px;
  color: #203c66;
  cursor: pointer;
}
.footer-first-block {
  margin-left: 375px;
  width: 210px;
  height: 125px;
  text-align: center;
  letter-spacing: 0px;
  color: #203c66;
  opacity: 1;
}

.font-footer-custom {
  font-size: 14px;
  line-height: 21px;
  font-family: "Montserrat-Medium";
}
.ml-custom-footer {
  margin-left: 23%;
}

.ml-custom-50 {
  margin-right: 50px;
}
.footer {
  background: #eff9fcb3 0% 0% no-repeat padding-box;
  opacity: 1;
}
.title-footer {
  font-size: 22px;
  font-family: "Montserrat-Medium";
  letter-spacing: 0px;
  color: #1a56a7;
}
.mr-custom-05 {
  margin-right: 0.5rem;
}

.mt-custom-100 {
  margin-top: 100px;
}
.mt-custom-50 {
  margin-top: 50px;
}
.bold-montserrat-font {
  font-family: "Montserrat-Bold";
}

.icon-check {
  color: #f82e6c;
  font-size: 14px;
}
.heb-details {
  font-family: "Montserrat-Medium";
  letter-spacing: 0px;
  color: #203c66;
  opacity: 1;
  font-size: 37px;
  margin-top: 90px;
  margin-bottom: 60px;
  line-height: normal;
}
.font-montserrat {
  font-family: "Montserrat";
  font-size: 17px;
  color: #203c66;
}
.p-l-5-rem {
  padding-left: 5rem;
}

.custom-footer-width {
  max-width: 11%;
  flex: 0 0 11%;
}

.custom-width-img {
  width: 82%;
}
// end footer css

@media (min-width: 700px) and (orientation: portrait) {
  .hls-connexion {
    margin-top: 50px;
  }
  .links {
    margin-left: 0%;
    margin-right: 5%;
  }
}
@media (max-width: 798px) and (orientation: landscape) {
  .hls-connexion {
    margin-top: 70px;
  }
  .links {
    margin-left: 0%;
    margin-right: 5%;
  }
}
@media (min-width: 799px) and (orientation: landscape) {
  .hls-connexion {
    margin-top: 70px;
  }
  .links {
    margin-left: 10%;
    margin-right: 5%;
  }
}
/* End Content CSS */

/* Begin Links CSS */
p {
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat";
  line-height: 25px;
  letter-spacing: 0;
  color: $color-hlessy-grey;
}

a {
  color: #203c66;
}
a.pink {
  color: $color-helssy-pink;
}
a.blue {
  color: $color-helssy-blue;
}
a:visited {
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

/* End Links CSS */

@media (max-width: 800px) {
  .left-col {
    // display: none;
  }
}

.center-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.custom-card {
  float: right;
  margin-top: 60px;
  opacity: 1;
  border: none;
  width: 45% !important;
  min-height: 100% !important;
  background-color: unset;
}

.custom-height-card {
  height: 180px !important;
  box-shadow: 0px 0px 30px #89ccdd33;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 17px;
  opacity: 1;
  flex-direction: inherit;
}
.custom-dimensions {
  height: 101px;
  width: 139px;
}

.copyrights {
  font-family: "Montserrat";
  font-size: 10px;
  text-align: center;
  color: #203c66;
  display: flex;
  justify-content: center;
}
