<notifier-container></notifier-container>
<ng-template #customNotification let-notificationData="notification">
    <div class="text-center" type="notificationData.type">
        <i class="fa fa-check" style="font-size: 11px;" aria-hidden="true"></i>
        &nbsp;<span>{{ notificationData.message }}</span>
    </div>
</ng-template>
<div class="group-element">
    <span class="title-span">{{ data.title }}</span>
    <i class="far fa-times float-right close" (click)="closeDialog()"></i>
</div>
<br />
<div *ngIf="isDeleted" class="card-message">
    <div class="card-header bg-danger">
        <br />
        <div id="cercle-error">
            <i class="fa fa-exclamation-triangle fa-lg"></i>
        </div>
    </div>
    <div>
        <br />
        <div class="card-text">{{ labels.is_deleted }}</div>
        <br />
    </div>
</div>
<br />
<!--<lib-hls-patient-file [imageSource]="image" [practicianImage]="practicianImage" [noteimageSource]="noteimageSource"-->
<!--    [patient]="patientFile" [categoryList]="categoryList" [linkedPatients]="linkedPatients"-->
<!--    (submitAction)="submit($event)" (archieveNoteAction)="archieveNote($event)" (submitNoteAction)="submitNote($event)"-->
<!--    (cancelAction)="cancelAction()" [userRole]="userRole">-->
<!--</lib-hls-patient-file>-->
